@charset "UTF-8";

/* PLUGINS NEOAUTO 0km */
/*	
	ColorBox
	_________________________________
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#colorbox, #cboxOverlay, #cboxWrapper{overflow:visible}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0; display:none;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#fff;}

#colorbox{overflow: visible !important;}
    #cboxContent{margin-top:20px;}
        #cboxLoadedContent{background:#000; border:9px solid #000;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0;}

        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;display:none !important;}
        #cboxCurrent{position:absolute; top:-20px; right:15px; color:#000;}
        #cboxSlideshow{position:absolute; top:-20px; right:105px; color:#000;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../img/colorbox/controls.png) top left no-repeat !important;background:url(../img/colorbox/controls_ie6.png) top left no-repeat; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../img/colorbox/controls.png) top right no-repeat !important; background:url(../img/colorbox/controls_ie6.png) top right no-repeat; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext.hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(../img/colorbox/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute;  top:-16px !important;top:-24px;  right:-23px !important; right:-30px; display:block; background:url(../img/colorbox/controls.png) top center no-repeat !important;background:url(../img/colorbox/controls_ie6.png) top center no-repeat; width:38px; height:27px; text-indent:-9999px;}
       /* #cboxClose.hover{background-position:bottom center;} */