<h2 class="title-seccion">
    <span>&nbsp;</span> Centros de Pago Autorizados</h2>
<div class="content-slip fix">
    <div class="title-bank-paid interbank">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/interbank.jpg?[StaticVersion]" width="148" height="43" alt="Interbank"
                title="Interbank" border="0"></h3>
        <a href="#paid1" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid1">
        <p>
            <strong>Si eres cliente del Interbank</strong></p>
        <p>
            <u>V&iacute;a internet Interbank, seguir los siguientes pasos</u>:</p>
            <ul>
                <li>Ingrese a su cuenta y selecciona la opci&oacute;n <strong>Pago de Recibos - Diversas Empresas</strong>.</li>
                <li>Seleccione la cuenta de Cargo y en Empresa seleccionar <strong>PAGOEFECTIVO</strong>.</li>
                <li>Ingrese el siguiente c&oacute;digo de Pago:[CIP], confirme su transacci&oacute;n y <strong>Listo!</strong></li>
            </ul>
        <p>
            <strong>Si no eres cliente del Interbank</strong></p>
        <p>
            <u>En un Agente Interbank</u>:</p>
            <ul>
                <li>Indique que va realizar un pago a la empresa <strong>PagoEfectivo</strong> y brinda el siguiente c&oacute;digo <strong>2735001</strong>.</li>
                <li>Indique el <strong>C&oacute;digo de Pago: [CIP]</strong>, el importe a pagar y la moneda.</li>
                <li>Verificar que el voucher indique <strong>PAGOEFECTIVO</strong>.</li>
            </ul>
        <p>
            <u>En Tiendas y Money Market de Interbank</u>:</p>
            <ul>
                <li>Indique que va realizar un pago de recaudo a <strong>PagoEfectivo</strong>.</li>
                <li>Indique el <strong>C&oacute;digo de Pago: [CIP]</strong>, el importe a pagar y la moneda.</li>
                <li>Verificar que el voucher indique <strong>PAGOEFECTIVO</strong>.</li>
            </ul>
        <p>
            <u>En Cajeros Global Net con tarjeta</u>:</p>
            <ul>
                <li>Seleccione Pagos/Pagos de recibo/Pagos Varios/Varios.</li>
                <li><strong>Digite el c&oacute;digo: 35001</strong> y siga las instrucciones del Cajero Autom&aacute;tico (*).</li>
            </ul>
        <p>
            <u>En Cajeros sin Tarjeta - Global Net Plus</u>:</p>
            <ul>
                <li>Presione cualquier bot&oacute;n de la pantalla del cajero.</li>
                <li>Seleccione Pagos de recibos/Otros/Otros.</li>
                <li><strong>Digite el c&oacute;digo: 35001</strong> y siga las instrucciones del Cajero Autom&aacute;tico (*)</li>
            </ul>
            <p>
               (*)Verificar que el voucher indique Empresa: <strong>PAGOEFECTIVO</strong>.</p>

    </div>
    <div class="title-bank-paid banbif">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/banbif.jpg?[StaticVersion]" width="216" height="43" alt="Banbif"
                title="Banbif" border="0"></h3>
        <a href="#paid2" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid2">
        <p>
            <strong>Banca por Internet del BANBIF</strong></p>
            
        <ul>
             <li>Ingrese a su cuenta.</li>
             <li>Seleccione la opci&oacute;n <strong>Pago de servicios\ Un nuevo Pago</strong>.</li>
             <li>Realice la b&uacute;squeda por Empresa escribiendo <strong>PAGOEFECTIVO</strong> y seleccione la empresa Pago.</li>
             <li>Ingrese el siguiente C&oacute;digo de Pago: <strong>[CIP]</strong>, confirme su transacci&oacute;n y Listo.</li>
        </ul>
        <p>
            <strong>En una agencia BanBif:</strong></p>
       
        <ul>
            <li>Indique que va a realizar un pago de Recaudo a <strong>PAGOEFECTIVO</strong>.</li>
            <li>Indique el C&oacute;digo de Pago: <strong>[CIP]</strong>, el importe a pagar y la moneda.</li>
            <li>Verificar que el voucher indique <strong>PAGOEFECTIVO</strong>.</li>
        </ul>
    </div>
    <div class="title-bank-paid kasnet">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/kasnet.jpg?[StaticVersion]" width="300"
                height="43" alt="Agente Kasnet" title="Agente Kasnet" border="0"></h3>
        <a href="#paid3" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid3">
        <p>
            <strong>En un Agente Kasnet:</strong></p>
        <!--<p>
            <u>Ac&eacute;rcate a cualquier Establecimiento (Bodegas, Farmacias, Cabinas, Locutorios,
                Etc) que tenga el Logo de PagoEfectivo y/o FullCarga</u></p>-->
        <ul>
            <li>Indique que va realizar un pago de recaudo a <strong>PagoEfectivo MN</strong>.</li>
            <li>Indique el <strong>C&oacute;digo de Pago [CIP]</strong> y el importe a pagar.</li>
            <li>Verificar que el voucher indique <strong>PAGO DE RECAUDO: PAGOEFECTIVO MN</strong>.</li>
        </ul>
    </div>
    <div class="title-bank-paid bbva">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/bbva-continental.jpg?[StaticVersion]"
                width="216" height="43" alt="BBVA Banco Continental" title="BBVA Banco Continental"
                border="0" /></h3>
        <a href="#paid4" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid4">
        <p>
            <strong>Si eres cliente del BBVA</strong></p>
        <p>
            <u>V&iacute;a internet BBVA Continental, seguir los siguientes pasos</u>:</p>
       
        <ul>
            <li>Ingrese a su cuenta, seleccione<strong>Pago de Servicios, De instituciones y Emp.</strong>.</li>
            <li>Realice la b&uacute;squeda de los servicios escribiendo <strong>PagoEfectivo</strong>. Luego seleccione <strong>PAGOEFECTIVO</strong>.</li>
            <li>Ingrese el <strong>c&oacute;digo de Pago: [CIP]</strong>, confirme su transacci&oacute;n y <strong>Listo</strong>.</li>
        </ul>
        <p>
            <strong>Si no eres cliente del BBVA</strong></p>
        <p>
            <u>En una Agencia del BBVA / Agente Express</u>:</p>
        <ul>
            <li>Indique que va a realizar un <strong>pago de recaudo a PAGOEFECTIVO</strong>.</li>
            <li>Indique la moneda, el <strong>C&oacute;digo de Pago: [CIP]</strong> y el el importe.</li>
            <li>Verificar que el voucher indique <strong>EMISORA: PAGOEFECTIVO MN o PAGOEFECTIVO ME</strong>.</li>
        </ul>
    </div>
    <div class="title-bank-paid bcp">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/bcp.jpg?[StaticVersion]" width="216" height="43"
                alt="BCP" title="BCP" border="0" /></h3>
        <a href="#paid5" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid5">
        <p>
            <strong>Si eres cliente del BCP</strong></p>
        <p>
            <u>V&iacute;a internet BCP, seguir los siguientes pasos</u>:</p>
        <ul>
             <li>Ingrese a su cuenta y seleccione la opci&oacute;n Pago de servicios, Empresas Diversas.</li>
             <li>Seleccione la empresa <strong>PagoEfectivo</strong> y el servicio <strong>PagoEfectivo - Soles</strong>.</li>
             <li>Ingrese el siguiente <strong>C&oacute;digo de Pago: [CIP]</strong>, confirme su transacci&oacute;n y <strong>Listo.</strong></li>
        </ul>
        <p>
            <strong>Si no eres cliente del BCP</strong></p>
        <p>
            A. <u>En una Agencia BCP</u>:</p>
        <ul>
            <li>Indique que va a realizar un <strong>pago a la empresa PAGOEFECTIVO</strong>.</li>
            <li>Indique el <strong>C&oacute;digo de Pago: [CIP]</strong>, el importe a pagar <strong>y la moneda</strong>.</li>
            <li>Verificar que el voucher indique <strong>Empresa Afiliada: PAGOEFECTIVO</strong>.</li>
        </ul>
        <p>
            B. <u>En un Agente BCP</u>:</p>
        <ul>
            <li>Indique que va a realizar un pago a la empresa <strong>PagoEfectivo</strong> y brinde el siguiente <strong>c&oacute;digo 02186</strong>.</li>
            <li>Indique el <strong>C&oacute;digo de Pago: [CIP]</strong>, el importe a pagar y <strong>la moneda</strong>.</li>
            <li>Verificar que el voucher indique <strong>EMPRESA: PAGOEFECTIVO</strong>.</li>
        </ul>
    </div>
    <div class="title-bank-paid scotiabank">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/scotiabank.jpg?[StaticVersion]" width="148" height="43" alt="Scotiabank"
                title="Scotiabank" border="0"></h3>
        <a href="#paid6" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid6">
        <p>
            <strong>Si eres cliente del Scotiabank</strong></p>
            <p>
            <u>V&iacute;a Internet Scotiabank, seguir los siguientes pasos</u>:</p>
        <ul>
             <li>Ingrese a su cuenta y seleccione <strong>Pagos &#45 Otras Instituciones, Otros</strong>.</li>
             <li>Seleccionar la Instituci&oacute;n seg&uacute;n servicio: <strong>PAGOEFECTIVO (SOLES)</strong>.</li>
             <li>Ingrese el siguiente <strong>C&oacute;digo de Pago: [CIP]</strong>, confirme su transacci&oacute;n y <strong>Listo.</strong>.</li>
        </ul>
        <p>
            <strong>Si no eres cliente del Scotiabank</strong></p>
        <p>
           <u>En una Agencia de Scotiabank o Cajero Express</u>:</p>

        <ul>
            <li>Indique que desea realizar un pago a la empresa <strong>PagoEfectivo</strong>.</li>
            <li>Indicar el <strong>C&oacute;digo de Pago: [CIP]</strong>, el importe a pagar y <strong>la moneda</strong>.</li>
            <li>Verificar que el voucher indique <strong>PAGOEFECTIVO</strong>.</li>
        </ul>
    </div>
    <div class="title-bank-paid western">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/western-union.jpg?[StaticVersion]" width="140"
                height="43" alt="Western Union" title="Western Union" border="0"></h3>
        <a href="#paid7" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid7">
        <p>
            <strong>En una Agencia de Pago de Servicios Western Union:</strong></p>
        <!--<p>
            <u>Ac&eacute;rcate a cualquier Establecimiento (Bodegas, Farmacias, Cabinas, Locutorios,
                Etc) que tenga el Logo de PagoEfectivo y/o FullCarga</u></p>-->
        <ul>
            <li>Indique que va a realizar un pago de servicio a la empresa <strong>PagoEfectivo</strong>.</li>
            <li>Indique el <strong>C&oacute;digo de Pago:[CIP] el importe a pagar y la moneda</strong>.</li>
            <li>Verificar que el voucher indique <strong>Entidad: PagoEfectivo</strong>.</li>
        </ul>
    </div>
    <div class="title-bank-paid fullcarga">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/fullcarga.jpg?[StaticVersion]" width="80"
                height="43" alt="Full Carga" title="Full Carga" border="0"></h3>
        <a href="#paid8" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid8">
        <p>
            <strong>En un Establecimiento autorizado:</strong></p>
        <ul>
            <li>Ac&eacute;rquese a cualquier Establecimiento Bodega, Farmacias, Cabina o Locutorio
            que tenga el Logo de <strong>PagoEfectivo y/o FullCarga</strong></li>
            <li>Indique que va a realizar un <strong>pago de Servicio a la empresa PagoEfectivo</strong>.</li>
            <li>Elija el servicio <strong>PagoEfectivo-Soles</strong>.</li>
            <li>Indique el <strong>c&oacute;digo de Pago: [CIP]</strong>.</li>
        </ul>
    </div>
   <!--<div class="title-bank-paid bim">
        <h3>
            <img src="[urlBase]/App_Themes/SPE/img/Default/logos-bancos/bim.png?[StaticVersion]" alt="Bim" title="Bim" border="0"></h3>
        <a href="#paid9" class="slip"></a>
    </div>
    <div class="bank-paid-content" id="paid9">
        <p>
            <strong>En un Establecimiento autorizado:</strong></p>
        <ul>
            <li>Ac&eacute;rquese a cualquier Establecimiento Bodega, Farmacias, Cabina o Locutorio
                que tenga el Logo de <strong>PagoEfectivo</strong> y/o <strong>BIM</strong>.</li>
            <li>Indique que va a realizar un pago de Servicio a la empresa <strong>PagoEfectivo</strong>.</li>
            <li>Indique el c&oacute;digo de Pago: <strong>[CIP]</strong>.</li>
        </ul>
        <p>
            <strong>Desde tu celular:</strong></p>
        <ul>
            <li>Marca el <strong>*838#</strong></li>
            <li>Completa tus datos si usas por primera vez tu Bim.</li>
            <li>Si ya posees tu Bim activo, selecciona: <strong>Pagar YO Servicios</strong>.</li>
            <li>Selecciona como socio Bim a: <strong>PagoEfectivo</strong>.</li>
            <li>Escribe el c&oacute;digo de Pago: <strong>[CIP]</strong>.</li>
            <li>Escribe el monto que deseas pagar.</li>
            <li>Confirma tu clave secreta.</li>
        </ul>
    </div>-->
</div>
