<div class="tituloafili">
	<h2>Centros de Pago Autorizados</h2>
	<!--<img src="images/logobcp.jpg"/>-->
</div>
<div class="contendatosafili">
    <h3> Puedes realizar sus pagos mediante:</h3>
	<ul class="pagoeagencia">
    	<li>Banco de Cr&eacute;dito BCP
    		<img class="tarjeta_bcp" src="images/bcp_tarj.png">
            <div class="descrip_banco">
		        <div class="eresnoerescliente">
    		        <h2>Si no eres cliente del BCP</h2>
			        <ul>
        		        <li>
         		           Imprime la Boleta que te brinda PagoEfectivo y ac&eacute;rcate a una agencia BCP
				        </li>
				        <li>
         		           Indica que quieres realizar un Pago de Recaudaci&oacute;n  de PagoEfectivo en soles
				        </li>
				        <li>
         		           Brinda el C&oacute;digo de PagoEfectivo y realiza el pago
				        </li>
			        </ul>
		        </div>
		         <div class="eresnoerescliente">
    		        <h2>Si eres cliente del BCP</h2>
			        <ul>
        		        <li>
         		           Ingresa a tu cuenta en www.viabcp.com y selecciona la opci&oacute;n "Pago de Servicios"
				        </li>
				        <li>
         		           Selecciona "Empresas diversas" y luego "PagoEfectivo"
				        </li>
				        <li>
         		          Ingresa a C&oacute;digo de PagoEfectivo y realiza el pago
				        </li>
			        </ul>
		        </div>
	        </div>
    	</li>
        <li>Banco BBVA Continental
    		<img class="tarjeta_bcp" src="images/bbva_tarj.png">
            <div class="descrip_banco">
		        <div class="eresnoerescliente">
    		        <h2>Si no eres cliente del BBVA</h2>
			        <ul>
        		        <li>
         		           Imprime la Boleta que te brinda PagoEfectivo y ac&eacute;rcate a una agencia BBVA
				        </li>
				        <li>
         		           Indica que quieres realizar un Pago de Recaudaci&oacute;n  de PagoEfectivo en soles
				        </li>
				        <li>
         		           Brinda el C&oacute;digo de PagoEfectivo y realiza el pago
				        </li>
			        </ul>
		        </div>
		         <div class="eresnoerescliente">
    		        <h2>Si eres cliente del BBVA</h2>
			        <ul>
        		        <li>
         		           Ingresa a tu cuenta en www.bbvabancocontinental.com y selecciona la opci&oacute;n "Pago de Servicios"
				        </li>
				        <li>
         		           Selecciona "De instituciones y Emp." y luego el nombre del comercio afiliado
				        </li>
				        <li>
         		          Ingresa a C&oacute;digo de PagoEfectivo y realiza el pago
				        </li>
			        </ul>
		        </div>
	        </div>
		</li>
    </ul>
</div>