<ul id="scroller">
	<li><img src="images/logo_suscriptores.jpg" alt="Suscriptores" title="Suscriptores" width="150" height="58" /></li>
	<li><img src="images/logo_neoauto.jpg" alt="Kotear" title="Neoauto" width="150" height="58" /></li>
	<li><img src="images/logo_urbania.jpg" alt="Urbania" title="Urbania" width="150" height="58" /></li>
	<li><img src="images/logo_kotear.jpg" alt="Logo" title="Kotear" width="150" height="58" /></li>
	<li><img src="images/logo_ofertop.jpg" alt="OferTOP" title="OferTOP" width="150" height="58" /></li>
	<li><img src="images/logo_aptitus.jpg" alt="Aptitus" title="Aptitus" width="150" height="58" /></li>
	<li><img src="images/logo_publired.jpg" alt="Publired" title="Publired" width="150" height="58" /></li>
</ul>