@charset "utf-8";
@import "base.css";
*{margin:0px;padding:0px;}
body,
html { padding: 0; margin: 0; background:none; color: #000; }
body { background-color:#fff;}
body.full .colRight {float:left;width:97%;}
.wrapper { width:996px; margin: 0 auto; background: #f4f4f4; }
#header { font-size:1.2em; padding: 0 10px; }
#header_inner { width:960px; padding-top:10px; margin: 0 auto; }
#header h1 { float:left; display:block; width:225px; }
.bannerHeader{background: transparent url("../img/bg-header.jpg") repeat-x 0px 0px;}
#header h1 span{display:none;}
#content { font-size:1.2em;}
#content .content-inner { padding:10px;}
.logo{margin: 10px;}
.slogan{font-weight: bold;margin-top: 25px;}
/* Clearing
--------------------------------------------------------------------------------*/
.clearfix:after, .wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/*
Commons
*/
.fWidth{float:left;width:100%;}
.clear{clear:both;}
.der{float: right;}
.izq{float: left;}
.bold{font-weight: bold;}
.pdng-10{display: inline;float: left;height: 10px;width: 100%;}
/*site*/
#header .fecIng{display: block;font-size: 11px;margin: 2px 0px;}
#header{overflow: hidden;}
.profile{background: white url("../img/bg-banner-profile.jpg") repeat-x;height: 94px;overflow: hidden;}
.cntAvatar{float:left;}
.avatar{border: 1px solid #ccc;margin: 10px;}
.innProfile{float:left;overflow: hidden;background: transparent url("../img/border-top-profile.jpg") right center no-repeat;padding-right: 10px;}
.optsProf{float:left;margin-top: 10px;}
.optsProf p{font: 13px Arial;}
.optsProf .nickName{font: 14px Arial;font-weight: bold;text-decoration: none;}
.optsProf .subNickName{font-size: 11px;}
ul.innerOpts{list-style-type: none;float: left;display: inline;}
ul.innerOpts li{clear: both;}
ul.innerOpts li a{color:#006699;font-size: 11px;display: inline;float: left;}
.linksHelper{background: transparent url("../img/border-top-profile.jpg") right center no-repeat;padding-right: 10px;height: 94px;}
.linksHelper ul{float: left;list-style-type: none;display: inline;}
.linksHelper ul li{float: left;list-style-type: none;display: inline;margin-right: 10px;margin-left: 10px;}
.linksHelper ul li a:link{font-size: 10px;text-decoration: none;}
.linksHelper ul li a:hover{text-decoration: underline;}
.envSecure{width: 205px;text-align: center;}
.envSecure p{float: left;font-size: 11px;margin: 15px 10px 0px;display: inline;}
.envSecure img{display: inline;}
/*body*/
.container-body{background: white url("../img/border-top-body.gif") repeat-x;padding-top: 10px;overflow: hidden;margin: 0 10px 10px;padding: 10px 0px;}
/*breadcrumb*/
.breadcrumb{float: left;overflow: hidden;padding-bottom: 10px;}
.breadcrumb ul{display: inline;list-style-type: none;float: left;margin-left: 10px;}
.breadcrumb ul li{display: inline;float: left;font-size: 11px;}
.breadcrumb ul li a{font-size: 11px;text-decoration: none;}
.breadcrumb ul li .bgtryellow{margin: 5px;}
.bgtryellow, .bgtryellowdown, .menuAcordion .selected .bgtryellow{background: transparent url("../img/bullet-yellow.png") no-repeat -6px 0px;float: left;width:4px;height:6px;margin: 5px;display: inline;}
.menuAcordion .selected .bgtryellow, 
/*.bgtryellowdown{background-position: 0px 0px;height: 5px;width: 6px;}*/
.bgcryellow{background: transparent url("../img/bullet_pe.png") no-repeat 0px 0px;display: inline;width: 5px;height: 5px;float: left;margin: 5px;padding: 0px;}
.bgtrblue{background: transparent url("../img/bullet-blue.gif") no-repeat 0px 0px;display: inline;width: 4px;height: 6px;float: left;margin-top: 5px;padding-right: 4px;}
/*colLeft*/
.colLeft{/*float: left;width: 164px;*/float: none;}
.colLeft ul{list-style-type: none;float: left;display: inline;}
.hitarea{display: none;}
/*items accordion*/
ul.treeview li{float: left;width: 100%;overflow: hidden;}
/*patern black*/
ul.treeview li.collapsable > .parent .bgtryellow, 
.bgtryellowdown{background-position: 0px 0px;height: 5px;width: 6px;}
ul.treeview li .parent .desc{color: white;display: inline;float: left;font: 11px/13px Helvetica;width: 115px;padding: 2px 0px;}
ul.treeview li a:link,ul.treeview li a:visited{border:1px solid #000;color:white;background: #000 url("../img/bg-item-link-menu.gif") repeat-x;display: block;font-size: 11px;line-height: 17px;margin-bottom: 1px;overflow: hidden;padding: 0.2em 0.6em 0.2em 0.6em;text-decoration: none;}
/*ul.treeview li a:hover{border: 1px solid #ddd;}*/
ul.treeview li a:active{border: 1px solid #ddd;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;color: #333;}
ul.treeview li.expandable .parent, ul.treeview li.collapsable .parent{border:1px solid #000;color:white;background: #000 url("../img/bg-item-link-menu.gif") repeat-x;font-size: 11px;line-height: 17px;margin-bottom: 1px;overflow: hidden;padding: 0.2em 0.6em;text-decoration: none;cursor: pointer;width: 150px;display: inline;float: left;}
ul.treeview li.expandable .parent:active{border: 1px solid #ddd;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;color: #333;}
/*patern plomo 80& - 2do nivel*/
ul.treeview li ul.submenu li a:link,
ul.treeview li ul.submenu li a:visited,
ul.treeview li ul li.expandable .parent,
ul.treeview li ul li.collapsable .parent{border:1px solid #dcdcdc;color:white;background: #333 url("../img/bg-subitem.gif") repeat-x;display: block;font-size: 11px;line-height: 17px;margin-bottom: 1px;overflow: hidden;padding: 0.2em 0.6em 0.2em 1em;text-decoration: none;cursor: pointer;}
/*patern plomo 50% - 3er nivel*/
ul.treeview li ul.submenu li ul.submenu li.expandable  .parent,
ul.treeview li ul.submenu li ul.submenu li.collapsable .parent,
ul.treeview li ul.submenu li ul.submenu li a:link,
ul.treeview li ul.submenu li ul.submenu li a:visited{background: #666666 url("../img/bg-subsubitem-link-menu.gif") repeat-x;padding: 0.2em 0.6em 0.2em 1.5em;}
ul.treeview li ul.submenu li ul.submenu li a:active,
ul.treeview li ul.submenu li ul.submenu li a.selected{border: 1px solid #ddd;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;}
/*patern plomo 20% - 4to nivel*/
ul.treeview li ul.submenu li ul.submenu li ul.submenu li a .bgcryellow{background: transparent url("../img/bullet_pe_opac.png") no-repeat 0px 0px;}
ul.treeview li ul.submenu li ul.submenu li ul.submenu li a:link,
ul.treeview li ul.submenu li ul.submenu li ul.submenu li a:visited{background: #B1B1B1 url("../img/bg-subsubsubitem-link-menu.gif") repeat-x;padding: 0.2em 0.6em 0.2em 1.8em;}
ul.treeview li ul.submenu li ul.submenu li ul.submenu li a .subitemtitle{color:#000;}
ul.treeview li ul.submenu li ul.submenu li ul.submenu li a:active,
ul.treeview li ul.submenu li ul.submenu ul.submenu li a.selected{border: 1px solid #ddd;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;}
/*children*/
ul.treeview li ul li a:link,ul.treeview li ul li a:visited{border: 1px solid #ddd;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;color: #333;}
ul.treeview li ul li a:hover{border: 1px solid #ddd;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;color: #333;}
ul.treeview li ul.submenu li a .subitemtitle{display: inline;float: left;font-size: 11px;color: white;}
ul.treeview li ul.submenu li a:active, ul.treeview li ul.submenu li a.selected{border: 1px solid #ddd;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;}
ul.treeview li ul.submenu li a:active .subitemtitle,ul.treeview li ul.submenu li a.selected .subitemtitle{color: #333;}
.inner-menu-accordion{float: left;width: 152px;display: inline;overflow: hidden;}
.btnExpand{float:left;background:#F0F0F0 url("../img/arrow2left.gif") no-repeat 3px 50%;width:10px;height: 17px;cursor: pointer;}
.expanded{display: inline;}
.collapse{display: none !important;}
/*colRight*/
.colRight{float:left;width:792px;margin-left: 10px;display: inline;}
.inner-col-right{float:left;width:99%;border:1px solid #ddd;}
.colRight h1{margin:10px 10px 0px;font-size: 2em;font-weight: bold;display: inline;}
.colRight h2{margin:10px 10px 0px;font-size: 1.7em;font-weight: bold;}
.colRight h3{margin:10px 10px;font-weight: bold;}
.colRight h4{margin:10px 10px;font-weight: bold;font-size: 1.3em;}
.lnkAudit{color: #033566;text-decoration: none;display: inline;margin: 8px 7px 0px 0px;text-decoration: none;}
/*separator*/
.sep_a{height: 1px;display: block;overflow: hidden;background-color: #CCCCCC;border:none;margin:0px;}
.sep_a14{height: 14px;display: block;overflow: hidden;border:none;margin:0px;float: left;width: 100%;clear: both;border: 1px solid #fff;background-color: #fff;}
/*form*/
.lupa{background: transparent url("../img/lupa.png") no-repeat;display: inline-block;width:22px;height: 23px;}
.miniCamp{width:125px;border:1px solid #ddd;}
.normalCamp,.tokenCamp, .cipCamp{width: 214px;border:1px solid #ddd;float: left;margin: 5px 6px 0px 0px;}
.tokenCamp{width:244px;}
.cipCamp{margin: 0px 6px 0px 0px;}
.normalCampTextarea{width:385px;height: 228px;border:1px solid #ddd;}
.clsnormal{width:216px !important;}
.clsform1{width: 94px !important;}
.clsform2{width: 51px !important;}
.icon-calendar{float: left;margin: 0px 5px;}
.cont-panel-search{float: left;width:470px;}
form .even, table tr.even{background-color: #f8f8f8;}
.result{float: left;width: 100%;overflow: auto;}
table.grilla{margin: 10px 0px 10px 10px;width: 97%;}
table.grilla tr.cabecera{background-color: #f2f2f2;}
table.grilla tr th{text-align: center;padding: 10px;}
table.grilla tr td{text-align: center;padding: 10px;}
table.grilla tr.pagerStyle{}
table.grilla tr.pagerStyle td{padding: 0px;}
table.grilla tr.pagerStyle table{float: right;margin-top:10px; }
table.grilla tr.pagerStyle table tr{}
table.grilla tr.pagerStyle table tr td{float: left;margin-left: 2px;}
table.grilla tr.pagerStyle table tr td span{padding: 5px;background-color:#595959;color:white;}
table.grilla tr.pagerStyle table tr td a:link, table.grilla tr.pagerStyle table tr td a:visited{color:#98999B;background-color: #F1F3F0;padding: 5px;text-decoration: none;}
table.grilla tr.pagerStyle table tr td a:hover{background-color:#B9B9B9;color:#3C3C3C;}
.cnt-img-service{border:1px solid #DDDDDD;margin: 10px;overflow: hidden;text-align: center;padding: 10px 0px;}
/* Forms 
--------------------------------------------------------------------------------*/
form { margin: 0; padding: 0; color:  #000; }
fieldset { border: 0; margin: 0 0; padding: 0; }
label, .label { font-size: 1em; margin-right:4px; }
label.lgr {  color: gray; padding-right: 1em; text-align: right; }
label.llr {  color: gray; padding-right: 1em; text-align: left; }
input.text, input.password { font: 1.1em Tahoma, Arial, Geneva, sans-serif; padding: 2px 4px; color:  #000; }
textarea { font: 1em/1.2em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; height: 108px; margin-top: 0; padding: 2px 4px; overflow: auto; color:  #000; }
/*input.text, textarea { background: #FFF; }*/
select { font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; width: 126px; overflow:hidden; height:1.9em; vertical-align:middle; margin-right:4px; color:  #000; }
optgroup { font-weight:bold; font-style:normal; vertical-align:middle; border-top:1px solid #DDD; }
option { border-top:1px solid #DDD; padding:2px 5px; vertical-align:middle; }
form dl, form dt, form dd { margin: 0; padding: 0; }
form dl { padding: 0; }
form dt { width:100%; }
form dd { width:100%; margin-bottom: 5px; }
form dt label { display:block; }
form dd input.text { width:90%; }
form dd select { width:90%; }
form p.frm { margin:0; padding:0; }
button { cursor: pointer; font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; vertical-align:bottom; padding:0 5px; }
.frm_common label { line-height:1.9em;}
.inline_option + .inline_option { margin-left:1em;}
form label.error { color:#F00; font-size:11px!important; display:block;}
form dd.nw label.error { white-space:nowrap;}

input.text, textarea.text { border-color:#989898 #E7E7E7 #E7E7E7 !important;border-style:solid;border-width:1px;}
input.text, textarea, input.inputbox { background:#FFFFFF; border:1px solid #7E9DB9;}
input.radioSelect{width: auto; vertical-align: middle; border: none; margin:0 3px 0 0;}

input.disabled, textarea.disabled {background: #CCC;}
input.disabled, textarea.disabled {background: #CCC;}
select.disabled{background: #ccc;color: #888;}
.font_verdana{font-family: verdana !important; }
.hauto { height:auto!important;}
.w90{width:90%;}
.w100{width:100%;}
/* Grid forms
--------------------------------------------------------------------------------*/
.dlgrid .p-b1 p, div.p-b1 p, form.p-b1 p { margin-bottom:1em }
.dlgrid.dl-b10 dl { margin-bottom:10px; }
.dlgrid.dl-b15 dl { margin-bottom:15px; }
.dlgrid.dl-b20 dl { margin-bottom:15px; }
.dlgrid dl select { width:90%; /*margin:0 0 10px 0 !important; */ display:block; float:left }
.dlgrid .w16 dl { width:16.6%; }
.dlgrid .w18 dl { width:18.0%; }
.dlgrid .w20 dl { width:20.0%; }
.dlgrid .w10 dl { width:10.0%; }
.dlgrid .w25 dl { width:24.9%; }
.dlgrid .w33 dl { width:33.0%; }
.dlgrid .w50 dl { width:49.9%; }
.dlgrid .w60 dl { width:59.9%; }
.dlgrid .w70 dl { width:69.9%; }
.dlgrid .w80 dl { width:79.9%; }
.dlgrid .w90 dl { width:89.9%; }
.dlgrid .w100 dl { width:100%; }
/*clases usadas para el form inline*/
.dlgrid .w100 dl .dd15 { width:20%; }
.dlgrid .w100 dl .dt55 { width:55%; }
.dlgrid .w100 dl dd label { line-height: 20px; }
.divgrid div.cell { float:left; }
.divgrid .w25 div { width:25.0%; }
.divgrid .w33 div { width:33.0%; }
.divgrid .w50 div { width:49.9%; }
.divgrid .w90 div { width:89.98%; }
.divgrid .input80 input.text, .divgrid .input80 select.text { width:80%; }
.dlgrid .dlinline dl dt, .dlgrid .dlinline dl dd { float:left; }
.dlgrid .input80 input.text, .dlgrid .input80 select.text { width:80%; }
.dlgrid .label16 label { line-height:1.6em; }
.dlgrid .label14 label { line-height:1.4em; }
.dlinlinefull dl { float:none; }
.dlgrid dl.center { margin:0 auto 15px; float:none; }
.dlgrid dl.dlw50 { width:49.9%; }
.dlgrid dl.dlw80 { width:80%; }
.dlgrid dl.dlw90 { width:90%; }
.dlinline dl.dt0 dt, .dlinline dl.dd0 dd { width:0%; }
.dlinline dl.dt1 dt, .dlinline dl.dd1 dd { width:1%; }
.dlinline dl.dt5 dt, .dlinline dl.dd5 dd { width:5%; }
.dlinline dl.dt10 dt, .dlinline dl.dd10 dd { width:10%; }
.dlinline dl.dt15 dt, .dlinline dl.dd15 dd { width:15%; }
.dlinline dl.dt20 dt, .dlinline dl.dd20 dd { width:20%; }
.dlinline dl.dt25 dt, .dlinline dl.dd25 dd { width:25%; }
.dlinline dl.dt30 dt, .dlinline dl.dd30 dd { width:30%; }
.dlinline dl.dt35 dt, .dlinline dl.dd35 dd { width:35%; }
.dlinline dl.dt40 dt, .dlinline dl.dd40 dd { width:40%; }
.dlinline dl.dt50 dt, .dlinline dl.dd50 dd { width:50%; }
.dlinline dl.dt52 dt, .dlinline dl.dd52 dd { width:52%; }
.dlinline dl.dt60 dt, .dlinline dl.dd60 dd { width:60%; }
.dlinline dl.dt65 dt, .dlinline dl.dd65 dd { width:65%; }
.dlinline dl.dt70 dt, .dlinline dl.dd70 dd { width:70%; }
.dlinline dl.dt75 dt, .dlinline dl.dd75 dd { width:75%; }
.dlinline dl.dt80 dt, .dlinline dl.dd80 dd { width:79.8%; }
.dlinline dl.dt90 dt, .dlinline dl.dd90 dd { width:89.8%; }
.dlinline dl.dt95 dt, .dlinline dl.dd95 dd { width:94.8%; }
.dlinline dl.dt99 dt, .dlinline dl.dd99 dd { width:98.8%; }
.dlinline dl.dt100 dt, .dlinline dl.dd100 dd { width:100%; }
.dlgrid dl dt.sp { padding-bottom:4px; }
.dlinline dl dt.desc{margin: 10px;}
.dlinline dl dd.camp{margin:10px;}
.mright10{margin-right: 10px;}
/*btns*/
.btns{margin: 15px 0 20px 100px;width: 300px;}
.btns2{margin: 14px 0 14px 44px;width: 300px;}
.btns3{margin: 10px 10px 10px 148px;width: 320px;}
.btns4{ margin: 0 0 20px 29px;width: 100px;}
.btns4 input{margin-bottom: 5px;}
.btnRegistrar, .btnCancelar, .btnActualizar, 
.btnLimpiar, .btnEnviar,.btnBuscar, 
.btnVolver,.btnRegenerar,.btnContinuar, 
.btnReenviar, .btnPagarCIP, .btnAceptar, 
.btnIniSesion, .btnGenCod, .btnConfirmar{background: #f00 url("../img/spr_btns_black.gif") 0px 0px no-repeat;border:none;overflow: visible;position: relative;float: left;text-indent: -99999px;width:100px;height: 30px;cursor: pointer;margin-right: 8px;}
.btnRegistrar:hover{background-position: 0px -120px;}
.btnRegistrar{margin-right: 8px;}
.btnRegenerar{background-position: -100px -90px;}
.btnRegenerar:hover{background-position: -100px -210px;}
.btnRegenerar{margin-left: 10px;}
.btnCancelar{background-position: -100px 0px;}
.btnActualizar{background-position: 0px -30px;}
.btnActualizar:hover{background-position: 0px -150px;}
.btnLimpiar{background-position: -100px -30px;}
.btnLimpiar:hover{background-position: -100px -150px;}
.btnEnviar{background-position: 0px -60px;}
.btnEnviar:hover{background-position: -0px -180px;}
.btnBuscar{background-position: -100px -60px;}
.btnBuscar:hover{background-position: -100px -180px;}
.btnVolver{background-position: 0px -90px;}
.btnVolver:hover{background-position: 0px -210px;}
.btnContinuar{background-position: -1px -240px;}
.btnContinuar:hover{background-position: -101px -240px;}
.btnReenviar{background-position: 0px -300px;}
.btnReenviar:hover{background-position: 0px -270px;}
.btnPagarCIP{background-position: -100px -300px;}
.btnPagarCIP:hover{background-position: -100px -270px;}
.btnAceptar{background-position: 0 -330px;}
.btnAceptar:hover{background-position: -100px -330px;}
.btnIniSesion{background-position: -1px -360px;}
.btnIniSesion:hover{background-position: -101px -360px; }
.btnGenCod{background-position: -1px -390px;}
.btnGenCod:hover{background-position: -101px -390px;}
.btnConfirmar{background-position: -1px -420px;}
.btnConfirmar:hover{background-position: -101px -420px;}
.btnNuevo, .btnAsignar, .btnAnCip, .btnCancelar, 
.btnLiquidar, .btnUtiFecVal, .btnAperturar, .btnAnular,
.btnExpClave, .btnExpArchivo, .btnRegenerar,
.btnConfEmail, .btnConfContrato{background: #fff url("../img/spr_btns_black2.gif") 0px 0px no-repeat;border:none;overflow: visible;position: relative;float: left;text-indent: -99999px;width:100px;height: 30px;cursor: pointer;margin-right: 8px;}
.btnNuevo:hover{background-position: 0px -120px;}
.btnAsignar{background-position: -100px 0px;}
.btnAsignar:hover{background-position: -100px -120px;}
.btnAnCip{background-position: 0px -30px;}
.btnAnCip:hover{background-position: -0px -150px;}
.btnCancelar{background-position: -100px -30px;}
.btnCancelar:hover{background-position: -100px -150px;}
.btnLiquidar{background-position: 0px -60px;}
.btnLiquidar:hover{background-position: 0px -180px;}
.btnUtiFecVal{background-position: -100px -60px;}
.btnUtiFecVal:hover{background-position: -100px -180px;}
.btnAperturar{background-position: 0px -90px;}
.btnAperturar:hover{background-position: 0px -210px;}
.btnAnular{background-position: -100px -90px;}
.btnAnular:hover{background-position: -100px -210px;}
.btnExpClave{background-position:-100px -240px;}
.btnExpClave:hover{background-position:0px -240px;}
.btnExpArchivo{background-position:0px -300px;}
.btnExpArchivo:hover{background-position: 0px -270px;}
.btnRegenerar{background-position:-101px -300px;}
.btnRegenerar:hover{background-position:-101px -270px;}
.btnConfEmail{background-position:0px -360px;}
.btnConfEmail:hover{background-position:0px -330px;}
.btnConfContrato{background-position:-100px -360px;}
.btnConfContrato:hover{background-position:-100px -330px;}
/*msjes*/
.msje, .msjenomargin{color:red;font: 12px Helvetica;margin:0px 0px 0px 10px;}
.msjenomargin{margin: 0px;}
.btnReaPago, .btnImprimir, .btnOtorgar, .btnRefrescar, .btnVerReport, 
.btnExcel, .btnPdf, .btnLiqCajas, .btnAgregar, .btnRePago{background: transparent url("../img/botones5.jpg") 0px 0px no-repeat;border:none;overflow: visible;position: relative;float: left;text-indent: -99999px;width:100px;height: 30px;cursor: pointer;margin-right: 8px;}
.btnReaPago:hover{background-position: -0px -150px;}
.btnImprimir{background-position:-100px 0px;}
.btnImprimir:hover{background-position: -100px -150px;}
.btnOtorgar{background-position: 0px -30px;}
.btnOtorgar:hover{background-position: -0px -180px;}
.btnRefrescar{background-position: -100px -30px;}
.btnRefrescar:hover{background-position: -100px -180px;}
.btnVerReport{background-position: 0px -60px;}
.btnVerReport:hover{background-position: 0px -210px;}
.btnExcel{background-position: -100px -60px;}
.btnExcel:hover{background-position: -100px -210px;}
.btnPdf{background-position: 0px -90px;}
.btnPdf:hover{background-position: 0px -240px;}
.btnLiqCajas{background-position: -100px -90px;}
.btnLiqCajas:hover{background-position: -100px -240px;}
.btnAgregar{background-position: 0px -120px;}
.btnAgregar:hover{background-position: 0px -270px;}
.btnRePago{background-position: -100px -120px;}
.btnRePago:hover{background-position:-100px -270px;}
.btnSolCta, .btnNuevaCta, .btnCreaCta, .btnAprobar, .btnRechazar, 
.btnCancelar, .btnActivar, .btnBloquear, .btnRegresar,
.btnSolRetiro, .btnTransferir, .btnEnvSol{background: transparent url("../img/spr_btns_4.gif") 0px 0px no-repeat;border:none;overflow: visible;position: relative;float: left;text-indent: -99999px;width:101px;height: 30px;cursor: pointer;margin-right: 8px;}
.btnSolCta:hover{background-position: -101px 0px;}
.btnNuevaCta{background-position: 0px -30px;}
.btnNuevaCta:hover{background-position: -101px -30px;}
.btnCreaCta{background-position: 0px -60px;}
.btnCreaCta:hover{background-position: -101px -60px;}
.btnAprobar{background-position: 0px -90px;}
.btnAprobar:hover{background-position: -101px -90px;}
.btnRechazar{background-position: 0px -120px;}
.btnRechazar:hover{background-position: -101px -120px;}
.btnCancelar{background-position: 0px -150px;}
.btnCancelar:hover{background-position: -101px -150px;}
.btnActivar{background-position: 0px -180px;}
.btnActivar:hover{background-position: -101px -180px;}
.btnBloquear{background-position: 0px -210px;}
.btnBloquear:hover{background-position: -101px -210px;}
.btnRegresar{background-position: 0px -240px;}
.btnRegresar:hover{background-position: -101px -240px;}
.btnSolRetiro{background-position: 0px -270px;}
.btnSolRetiro:hover{background-position: -101px -270px;}
.btnTransferir{background-position: 0px -300px;}
.btnTransferir:hover{background-position: -101px -300px;}
.btnEnvSol{background-position: 0px -330px;}
.btnEnvSol:hover{background-position: -101px -330px;}
/*inicio*/
.colRight .col-first{float: left;width: 50%;padding-bottom: 20px;}
.colRight .col-last{float: left;width: 50%;padding-bottom: 20px;}
.widget-content{background: white url("../img/bg-body-option-widget.jpg") left bottom repeat-x;-moz-border-radius:10px;border:2px solid #e9e9e9;overflow: hidden;width: 292px;margin: 20px 0px 0px 40px;}
.widget-content .crnr-left{background: transparent url("../img/bg-cnr-left.jpg") left top no-repeat;}
.widget-content .crnr-right{background: transparent url("../img/bg-cnr-right.jpg") right top no-repeat;}
.widget-content .crnr-left-bottom{background: transparent url("../img/bg-cnr-left-bot.jpg") left bottom no-repeat;}
.widget-content .crnr-right-bottom{background: transparent url("../img/bg-cnr-right-bot.jpg") right bottom no-repeat;}
.widget-content .inner-widget{padding: 10px;float: left;display: inline;}
.colRight .widget-content h3{margin: 0px;padding: 10px;clear: both;}
.colRight .widget-content ul{float: left;padding-left: 10px;width:130px;}
.colRight .widget-content ul li{padding-left: 10px;list-style-type: none;}
.colRight .widget-content ul li a:link, .colRight .widget-content ul li a:visited{text-decoration: none;}
.colRight .widget-content ul li a:hover{text-decoration: underline;}
.colRight .widget-content .cnt-icon{display:table-cell;height: 136px;text-align: center;vertical-align: middle;width: 110px;}
.colRight .widget-content .cnt-icon img{text-align: center;vertical-align: middle;}
/*dvContentAudit*/
.inner-col-right{position: relative;}
#dvContentAudit{position:absolute;z-index: 10;top: 10px;right: 10px;border:1px solid #6D6D6D;width: 220px;background-color: white;}
#dvContentAudit *{color: #747373;}
#dvContentAudit #titleAudit{font-size: 13px;padding: 10px;text-decoration: underline;color:#7e7d7b;}
#dvContentAudit ul li{padding: 5px;}
#dvContentAudit label{font-weight: bold;font-size: 12px;}
#dvContentAudit span{font-size: 12px;}
/*CIP steps*/
.hdr-cip{float: left;width: 97%;margin:10px 0px 0px 10px;background-color: #F6F6F6;border:1px solid #CCCCCC;}
.hdr-cip .bold{font-weight: bold;}
.hdr-cip .cnt-titular,
.hdr-cip .cnt-date{margin: 10px;}
.ctn-arrows-tabs{float: left;overflow: hidden;width:97%;background: white url("../img/n-bg.gif") repeat-x;height: 58px;margin: 10px 0px 0px 10px;border-right: 1px solid #ccc;}
.ctn-arrows-tabs .select,.ctn-arrows-tabs .arrow{float: left;display: inline;position: relative;}
.ctn-arrows-tabs .select .queue-first-arrow{background: white url("../img/q-ar-fr.gif") no-repeat 0px 0px;float:left;width:10px;height:58px;}
.ctn-arrows-tabs .arrow .queue-first-arrow{background: white url("../img/fq-ar-cr-bg.gif") no-repeat 0px 0px;float:left;width:1px;height:58px;}
.ctn-arrows-tabs .br-r-bg-arrows{float: right;background: white url("../img/n-fw-cnt-bg.gif") no-repeat 0px 0px;width:10px;height:58px;}
.ctn-arrows-tabs .select .queue-arrow{background: white url("../img/q-select-bg.gif") no-repeat 0px 0px;float: left;height: 58px;left: -46px;position: absolute;top: 0;width: 46px;}
.ctn-arrows-tabs .select .desc{float: left;background: white url("../img/q-bg.gif") repeat-x;height: 58px;width: 175px;}
.ctn-arrows-tabs .select .go-arrow{float: left;background: white url("../img/q-fw-bg.gif") no-repeat 0px 0px;height: 58px;width: 46px;}
.ctn-arrows-tabs .select .desc h4{color:white;margin: 10px 0px 0px 0px;}
.ctn-arrows-tabs .select .desc p{color:white;}
.ctn-arrows-tabs .arrow .desc{float: left;background: white url("../img/n-bg.gif") repeat-x;height: 58px;width: 175px;}
.ctn-arrows-tabs .arrow .desc h4{margin: 10px 0px 0px 10px;}
.ctn-arrows-tabs .arrow .desc p{margin: 0px 0px 0px 10px;}
.ctn-arrows-tabs .arrow .go-arrow{float: left;background: white url("../img/n-fw-bg.gif") no-repeat;height: 58px;width: 46px;}
.inner-p p{margin: 10px 10px 0px 10px;}
#msje{background-color: white;height: 212px;width:383px;}
#msje p{padding:48px 0 0px 52px;float: left;display: inline;}
#msje .p_58{float: left;width:100%;height: 58px;display: inline;}
#msje a{margin-left: 130px;}
/*pasarela*/
.pasarella .colLeft{width:406px;float: left;}
.pasarella .colRight{width:570px;float: left;margin-left: 0px;}
#cnt-resumen-ped{border:1px solid #ddd;width:338px;margin: 10px 0px 0px 20px;border-radius:20px 20px 20px 20px;background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjJmMmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 14%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 14%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 14%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 14%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 14%,rgba(242,242,242,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}
.colLeft h1.subtitle-pasarella{font-weight: bold;font-size: 13px;margin: 15px 0 0 21px;}
.colRight h1.subtitle-pasarella{font-weight: bold;font-size: 13px;}
.banks{margin: 10px 0px 0px 10px;padding: 0px 0px 30px 0px;}
.radio{float: left;margin: 40px 0px 0px 0px;}
#body-ped .dlgrid dl dt.desc{text-align: right;}
.rgt-price{background: transparent url("../img/rt-bg-price-pasarela.png") no-repeat top right;height: 38px;float: left;line-height: 35px;padding: 0px 40px 0px 31px;}
.lft-price{background: transparent url("../img/lt-bg-price-pasarela.png") no-repeat top left !important;padding-left: 9px;height: 38px;float: left;}
.pasarella #cnt-login{float: left;width:500px;display: inline;margin: 25px 0 0 15px;}
.pasarella #cnt-login label{font-size: 10px;}
.pasarella #cnt-login input{width:144px;}
.pasarella #cnt-email{float: left;width:40%;}
.pasarella #cnt-pass{float: left;width:35%;}
.blueLink{color:#3399CC;font-size: 11px;}
.pasarella #cnt-login a{float: left;margin-top: 7px;}
.pasarella .pas-init{margin:40px 0 0 145px;}
.pasarella .pas-print{margin:40px 0 0 280px;}
.pasarella .profile{background: white;height: auto;}
.pasarella .innProfile p{font-weight: bold;padding: 14px 10px;color:#000;}
.pasarella .innProfile p.nOrden{color: #333333;}
ul.data-cta{float: left;width:298px;border:1px solid #ccc;background-color:#f8f8f8;padding: 5px 0px;margin-left: 25px;}
ul.data-cta li{padding: 5px 10px;}
ul.data-cta li span{font-size: 11px;}
ul.data-cta li span.title{width:72px;float: left;text-align: right;margin-right: 10px;}
#cnt-cta-usar{width:298px;float: left;margin-left: 25px;}
#cnt-cta-usar p{border: 1px solid #c9c9c9;line-height: 30px;text-align: center;}
#cnt-cta-usar p.mnt{margin-top:10px;}
.pasarella #cnt-cod-conf{float: left;width: 460px;margin-left: 25px;}
.pasarella #cnt-cod-conf input{width: 144px;margin-top: 5px;} 
.pasarella #cnt-term{float: left;width:460px;margin-top: 10px;margin-left: 25px;}
.pasarella #cnt-term input{float: left;margin: 5px 10px 0px 0px;}
.pasarella #cnt-term p{float: left;font-size: 11px;line-height: 25px;width: 410px;}
.italic{font-style: italic;}
.codconf{margin:0px 0px 0px 10px;}
.pasarella .colRight h2{margin: 0px;}
.tip-info{font-size: 11px;float: left;margin: 5px 0px 0px 25px;}
#cnt-detail-virtual{float: left;width:500px;margin: 0px 0px 0px 15px;}
.lnk-info{float: left;background: white url("../img/lnk-info.jpg") no-repeat;width: 14px;height: 14px;margin: 10px;}
/*colCenter*/
.pasarella .colCenter{display: block;margin: 0 auto;width:735px;}
.pasarella .colCenter h1.subtitle-pasarella{text-align: center;font-size: 11px;font-weight: bold;margin-top: 10px;padding-bottom: 10px;}
.pasarella #cnt-transac,
.pasarella .deta-transac{display: block;margin: 0 auto;width: 635px;}
.pasarella #cnt-transac ul{float: left;width:635px;border:1px solid #FDCC03;padding: 5px 0px;}
.pasarella #cnt-transac ul li{float: left;width:100%;padding: 5px 0px;}
.pasarella #cnt-transac ul li span.title{float: left;text-align: right;font-size: 12px;font-weight: normal;}
.pasarella #cnt-transac ul li span{width:49%;font-size: 11px;float: left;text-indent: 10px;font-weight: bold;display: inline;}
.pasarella .deta-transac h1{text-align: left;font-weight: bold;}
.pasarella .deta-transac p{text-align: left;}
.pasarella .deta-transac .select-banco{float: left;width:100%;margin-top: 40px;}
.pasarella .deta-transac .select-banco h1{float: left;margin-right: 10px;}
.pasarella .deta-transac .select-banco select{}
.pasarella .deta-transac .indic-bank{margin:0px 0px 0px 87px;float: left;display: inline;}
.pasarella .deta-transac .indic-bank img{margin:10px 0px 0px 0px;text-align: left;}
.pasarella .deta-transac .indic-bank ul ul{margin: 0px 0px 0px 10px;}
.pasarella .deta-transac .indic-bank ul li.parent{padding-top: 10px;}
.bar-code{margin: 25px 0px 20px;text-align: center;}
.bar-code img{display: block;margin: 0 auto 5px;}
.cnt-opt-banks{float: left;position: relative;}
.cnt-opt-banks p{position: absolute;left: 117px;top:14px;}
.cnt-opt-banks span{float: left;font-size: 11px;font-style: italic;}
.cnt-opt-banks .lnk-info{margin: 0px 0px 0px 10px;}
/*help*/
#help{ background: none repeat scroll 0 0 #FFFFFF;}
#help h2{background: none repeat scroll 0 0 #F8F8F8;border-bottom: 1px solid #DDDDDD;font-size: 14px;padding: 10px;}
#help .content{padding: 1em;}