﻿
#dvContentAudit {
	top: 240px;
    right: 10px;
	position:fixed;
	background-color: #FFFFFF;
	border:3px solid #F9F8F3;
	width:220px; 
	height:130px;
}

#dvContentAudit label {
    font-weight:bold ;
    width:80px;
}

#dvContentAudit ul
{
	 margin-top:15px;
	 margin-left:15px;
	}

#dvContentAudit li
{
	 margin-bottom:10px;
	 margin-top:10px;
}	

#dvContentAudit #titleAudit
{
	margin: 15px;
	font-weight: bold;
	font-size: 12px;
	text-decoration: underline;
}

.lnkShowAudit
{
	 font-size:10px;
	 float:right;
	}
	
#dvmaintitle
{
	width:600px; 
	}
	
#dvmaintitle h1
{
 width:400px; float:left;	
	}