﻿.divContenedor
{
	margin-top:5px; 
	width: 610px;
	margin:5px;
	float:left;
	margin-bottom:10px;
	padding: 0px;
	margin-left:5px;
	padding-bottom:5px;
	border:solid 2px #f9f8f2 ;
	background-color:White;
}
.divContenedorPopPup
{
	margin-top:5px; 
	 width: 470px;
	 margin:5px;
	 float:left;
	 margin-bottom:10px;
	padding: 0px;
	margin-left:5px;
	padding-bottom:5px;
	border:solid 2px #f9f8f2 ;
	background-color:White;
	
}
.ContenedorEtiquetaTextoPrint{
	padding:0px; 
	margin-bottom:0px;
	padding:0px; 
	text-align:right; 
	text-align:left;
	border:0px;
}

.divSubContenedor
{
	margin-top:5px; 
	 width: 550px;
	 margin:5px;
	 float:left;
	 margin-bottom:10px;
	padding: 0px;
	margin-left:5px;
	padding-bottom:5px;
	border:solid 2px #f9f8f2 ;
}
.divContenedorTitulo
{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif; 
	padding:5px; 
	color:#6F6B51; 
	border-bottom:solid 2px #f9f8f2; 
}
.EtiquetaTextoIzquierda
{
	padding: 5px;
	margin-right: 16px;
	float: left;
	color: black;
	
}

.ContenedorEtiquetaTexto{
	padding:0px;	 
	margin-bottom:0px;
	padding:0px; 
	text-align:right; 
text-align:left; border-bottom:solid 1px #e7e5d0;
color: black;
}
.TextoLargo
{
	border:solid 1px #c0c0c0; 
	width:225px; 
}
.TextoMedioLargo
{
	border:solid 1px #c0c0c0; 
	width:250px; 
}
.TextoExtraLargo
{
	border:solid 1px #c0c0c0; 
	width:290px; 
}
.Texto
{
	border:solid 1px #c0c0c0; 
	width:100px;
}
.TextoCalendar
{
	border:solid 1px #c0c0c0; 
	width:80px;
}
.EtiquetaLargo
{
 width:125px; 
 font-family:Verdana, Arial, Helvetica, sans-serif; 
 font-size:12px; 
 text-align:left; 
 float:left; 
 
}

.EtiquetaExtraLargo
{
 width:200px; 
 font-family:Verdana, Arial, Helvetica, sans-serif; 
 font-size:12px; 
 text-align:left; 
 float:left; 
 
}
.Etiqueta
{
 width:70px; 
 font-family:Verdana, Arial, Helvetica, sans-serif; 
 font-size:12px; 
 text-align:left; 
 float:left;  
}
.SoloLectura
{
	color: #000000;
	background-color: gainsboro;
}
.TituloPagina
{
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	color:#006699;
	font-size:12;
	font-weight: bold;
}
.LoginTitle
{
color:Black;background-color:#66CCFF;font-size:0.9em;font-weight:bold;
}
.LoginLabel
{
	width:76px;
}
.LoginCheckBoxStyle
{
}
.LoginButton	
{
}
.EtiquetaLargoCenter
{
	color: Black ;
	margin-right:5px;
	position:relative; 
	width:400px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	text-align:center; 
	float:left; 
	}
.Login
{
	/*background-color:#F7F6F3;*/
	/*border-color:#E6E2D8;*/
	/*border-width:1px;
	border-style:Solid;
    */
	border:0px;
	width:100px;
}
.divListaOpciones
{
	width:480px; 
	margin-top:30px;
	margin-bottom:50px;
	margin-left:40px;
}
.divListaOpcion
{
	 text-align:center; 
	 margin-left:40px; 
	 width:100px;
	 height:100px;
	 float:left;
	 margin-bottom:40px;
}
.ListaOpcionEnlace
{
	text-decoration:none;
	color:Black;
}
.ListaOpcionImg
{
	width:80px;
	
}	
.ImgPlomo
{
	width:36px;
}

.stripe 
{ 
	background-color:#f9f8f2; 
} 	
.item
{
	text-align:right; 
	color:#000; 
} 
.MensajeTransaccion
{
	color: Navy;
	margin-right: 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}
.MensajeValidacion
{
	color: red;
	margin-right: 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}
.ContenedorBotonera{
	margin-bottom:5px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;  
	padding:1px; 
	border:0px;
	float:left;
}
.divSubContenedorCriteriosBusqueda
 {
	margin-left: 5px;
	margin-top: 5px;
	width:450px;
	float:left;
	overflow:hidden;
}
.ContenedorBotoneraCriteriosBusqueda
{
	margin-right:5px;
	margin-bottom:10px;
	margin-top:10px;
	padding-right:0px;
	float:right;
	border:0px;
	width: auto
}	
.modalBackground {
    background-color:Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index:-1000px;
}
.divBtnCerrarPopPup
{
 float: right;
}	
/*-------------*/	
table.grilla{

border:1px solid #ada98c;
border-collapse:separate;
border-spacing:0;
width:590px;
}
table.grilla table
{
	border:0px;
	border-color:White;
	}
table.grilla th
{

		background-color:#ada98c; 
	padding:5px;
	color:#FFFFFF;

}
table.grilla td{
padding:2px;

}
.grilla a{
	text-decoration:none;
	color: #000000;
}
.grilla .cabecera
{

	background-color:#ada98c; 
	padding:5px;
	color:#FFFFFF;	
}
		
.BotonFI
 {
 background:url('../images/boton-buscar.png') no-repeat; border:none;  
 margin-right:18px;
 height:30px;
 width:110px;
 font-size: 10pt;
 vertical-align: middle;
}		

.Boton{
 font-size: 10pt;
 vertical-align: middle;
 background:url('../images/boton-buscar.png') no-repeat; border:none; 
 height:30px;
 width:110px;  
 padding:0px;
 border:0px;
 
}
.BotonLogin{
 font-size: 10pt;
 vertical-align: middle;
 background:url('../images/boton-ingresa.jpg') no-repeat; border:none; 
 height:30px;
 width: 100px;
 padding:0px;
 border:0px;
 
}
.BotonLargo{
 font-size: 10pt;
 vertical-align: middle;
 background:url('../images/boton-largo.png') no-repeat; border:none; 
 height:30px;
 padding:0px;
 border:0px;
  width:140px; 
  border-color:Black;
}

.divSubContenedorGrilla
{
	 margin-top:5px; 
	 padding-left:10px;
	 width: 550px;
	 padding:5px;
	 margin:5px;
	 float:left;
}

.Hidden
        {
	visibility:hidden;
}


.divContenedorOrdenPago
{

	margin-top:5px; 
	 width: 345px;
	 margin:5px;
	 margin-bottom:10px;
	padding: 0px;
	margin-left:5px;
	padding-bottom:5px;
	border:solid 2px #f9f8f2 ;
	
}
.EtiquetaLargoOP
{
	text-align:center;
width:82px;
font-weight:bold;
	}
	
	
.TextoCombo
{	
 border:1px #747373 solid;
 margin:0px;
 font-size:10pt;
 margin-top:0px;	
 width:100px;
  height:22px;
 }
.TextoComboLargo
{
 border:1px #747373 solid;
 margin:0px;
 font-size:10pt;
 margin-top:0px;	
 width:150px;
 height:22px;
 }	
 .TextoComboExtraLargo
{
 border:1px #747373 solid;
 margin:0px;
 font-size:10pt;
 margin-top:0px;	
 width:230px;
 height:22px;
 }	
 
 .TextoArea{
	height:30px;
	width:310px;
	margin:0px;
	font-size:10pt;
	margin-top:0px;	
    border :solid 1px #c0c0c0;
	margin:0px;
	font-size:10pt;
	margin-top:0px;	 
 }
 
 
 /*-----menu ---*/
 
 
.MPEPrincipal
{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#747373;
	/*border:0px;*/
	border-style:none;
}	
.MPEStaticMenuItemStyle
{
	border-style:none;font-size:1em;margin-left:0px;
	/*color:#0e88af;font-family:Arial;font-size:1em;text-decoration:none;*/
	font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#747373;
	border-style:none; 
	/*padding:2px 5px 2px 5px;*/
	padding-left:0px;
	/*font-weight:500;*/
   width :230px; height:18px; display:block; background:url('../images/bg-list-secondary.jpg') no-repeat left;		
	}	
.MPEStaticHoverStyle
{
	width:230px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
	 color:#ffffff;
}		


.MPEDynamicHoverStyle
{
/*width:225px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	*/
}	
.MPEDynamicMenuStyle
{
/*width:225px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	*/
	
}	
		
.MPEDynamicSelectedStyle	
{
/* width:225px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
*/
}	
		
/*-----*/


.MPEStaticMenuItemStyle
{
/*	width:225px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
*/
	}
.MPEStaticMenuStyle
{
/*	width:225px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
border:0px;
*/
}

.MPEStaticSelectedStyle
{
	width:230px; height:18px; display:block; 
	background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
	color:#ffffff;
	/*width:225px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	*/
}	

/*#ctl00_MenuPE ul li, #ctl00_MenuPEn0 a 
{
	width:230px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
	 color:#ffffff;

	}
*/
/*#ctl00_MenuPE  ul .li
{
	width:230px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
	 color:#ffffff;
}*/

.divBtnCerrarPopPup
{
 float: right;
}	
		
		
.LoginMensajeValidacion
{
	padding: 5px;
	color:Red;
	float:left; 
	margin-left:15px; 
	width:265px;
}		
	
.divLoginIngresar
{
	margin-top:5px;
	float:right;width:130px;
}
	
/*.AspNet-Menu-Selected
 {
	
width:230px; height:18px; display:block; background:url('../images/bg-list-secondary-hover.gif') no-repeat left;	
	 color:#ffffff;	
	}*/

.divLogueo
{
	text-align: right;
}

/* Aderido por Jonathan - Fase III */

input[type=text]:focus {  
    border: 1px solid #fafafa;  
    -webkit-box-shadow: 0px 0px 6px #007eff;  
    -moz-box-shadow: 0px 0px 5px #007eff;  
    box-shadow: 0px 0px 5px #007eff;  
} 

div h1{
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}
#header h1
{
    -moz-animation-duration: 0s;
    -webkit-animation-duration: 0s; 
}
@-moz-keyframes slidein {
    from { margin-left:50%; width:100% }
    to { margin-left:0%; width:100%; }
}
    
@-webkit-keyframes slidein {
    from { margin-left:50%; width:100% }
    to { margin-left:0%; width:100%; }
}
/* Aderido por Jonathan - Fase III */