﻿/*estructura primaria*/

.wrapper_pagoefectivo{margin:0 auto; width:1000px;}
.wrapper_portada_pagoefect{background-color:#FFFFFF; float:left; width:1000px;}
#header_pe{ float:left; width:1000px;}


/*komo*/
.pattop0{ padding-top:0!important}
.float_left{float:left !important;}
.relative{position:relative !important;}
.inline{display: inline !important;}
.block{display: block !important;}
.wauto{width:auto !important;}
.w30{width:30% !important;}
.w100{width:100% !important;}
.required_red{color: #F00;margin:0 5px 0 5px;}
.patop10{ padding-top:10px;}
.padingright0{ padding-right:0!important}

/*cajas*/
.conten_ab{ float:left; width:650px;}
.conten_c{ float:right; width:320px;}

.decocaja{ box-shadow: 0px 0px 5px #ccc;   -webkit-box-shadow:  0px 0px 5px #ccc;    -moz-box-shadow: 0px 0px 5px #ccc;  -webkit-border-radius: 5px; -moz-border-radius: 5px; margin-bottom:10px;}

.decocaja2{ box-shadow: 0px 0px 5px #ccc;   -webkit-box-shadow:  0px 0px 5px #ccc;    -moz-box-shadow: 0px 0px 5px #ccc;  
-moz-border-radius-topright:5px; -moz-border-radius-topleft:5px; 
-webkit-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; 

margin-bottom:10px;}
.caja650{ float:left; width:650px; height:320px;  background:url(../images/bg_mod_principal.jpg); }
.caja210{ float:left; width:100%;  border:1px solid #dadada; }
.caja430{ float:left; width:608px; border:1px solid #dadada; padding:5px 20px 20px; }
.caja320{ float:left; width:320px;}

.display_on{ display:block;}
.display_off{ display:none;}




/*header*/
.content_logo{ background:url(../images/bg_logo_header.jpg); float:left; width:950px; padding:10px 25px; position:relative;}

.logo_pe{ float:left; width:214px; height:87px;}
.logo_pe h1{ background:url(../images/logo_pe.png); width:214px; height:87px; }
.logo_pe h1 a{ float:left;  width:214px; height:87px;}
.registro_pe{ float:right;}
.registro_pe a{ text-decoration:none; color:#333; padding:2px 10px 0}
.content_logo h3{ float:left; width:930px; padding-left:20px;clear:both;}
.nav_pe { background:url(../images/bg_nav.jpg) repeat-x; height:47px ;     float: left;     width: 1000px;  }
.nav_pe ul { float:left;}	
.nav_pe ul li { float:left; background:url(../images/bg_ulli.gif) no-repeat right 2px;}
.nav_pe ul li a {  color: #000; float: left;  font-size: 13px;  font-weight: bold;  padding: 12px 30px ;  text-decoration: none;    }	
.nav_pe ul li a:hover{ background:url(../images/bg_activo_hover.jpg) 0 -45px; color:#FFF;}
.nav_pe ul li.active_nav{ background:url(../images/bg_activo_hover.jpg); border-left:none; }
.nav_pe ul li.active_nav a{ cursor:default;}
.nav_pe ul li.active_nav :hover{ background:none; color:#000;}


/*Body*/
#body_pe{ float:left; padding:5px 10px 0; width:980px;}

/*modulo principal*/
.titulocontenprincipal{ float:right; text-shadow:1px 1px 1px #fff; padding:35px 35px 0 0; text-align:right; width:612px;
		}
.caja650 ul{ float:left; width:230px;}
.caja650 ul li a{ background: url(../images/bg_activo_hover.jpg); float: left; font-weight: bold;  
     -moz-border-radius-topright:10px; -moz-border-radius-bottomright:10px; 
-webkit-border-top-right-radius:10px; -webkit-border-bottom-right-radius:10px; 
padding: 7px 20px 7px 0;  text-align: right; text-decoration:none; color:#333; width:200px;
}
.caja650 ul li a:hover{ background: url(../images/bg_activo_hover.jpg) 0 -47px; color:#FFF;}
.caja650 ul li {width: 220px; float:left; margin-bottom:10px;}


/*bienvenido pagoefectivo*/
.bienvenido_pe{ float:left; width:278px; padding:6px 20px 20px; border:1px solid #dadada; background:url(../images/bg_cajaizq.jpg) repeat-x; text-align:center; }
.bienvenido_pe h2, .personas_pe h2, .caja430 h2, .centros_autorizados h2, .registrocont_pe h2, .faq_pe h2{ border-bottom:1px solid #E0E0E0; padding-bottom:5px; color:#CCA300}
.bienvenido_pe h3 { padding:12px 0; font-size:14px; color:#666; line-height:18px;}
.bienvenido_pe input{ background:url(../images/botonregistrese.png) no-repeat 0 -1px ; width:159px; height:26px; border:none; cursor:pointer;}
.bienvenido_pe input:hover{background:url(../images/botonregistrese.png) no-repeat 0 -29px ;}
.bienvenido_pe ul{ float:left; width:278px; padding-top:10px;list-style:none;}
.bienvenido_pe ul li{ float:left; width:268px; }

/*acordeon*/
.acordeon_pe{ float:left; margin-bottom:10px;}
#basic-accordian{ 	width:320px; float:left; }
.accordion_headings{ background: url(../images/bg_acordeon.jpg) no-repeat 0 0; 	padding:6px 5px; color:#FFFFFF;	border:1px solid #FFF;
	cursor:pointer; 	font-weight:bold; }
.accordion_headings:hover{	background: url(../images/bg_acordeon.jpg) no-repeat 0 -28px;}
.accordion_child{	padding:15px; 	background:#EEE; }
.header_highlight{	background: url(../images/bg_acordeon.jpg) no-repeat 0 -56px; }
.header_highlight:hover{background: url(../images/bg_acordeon.jpg) no-repeat 0 -56px;}

/*empresa relacionadas*/
.empresas_afilidadas_pe{float:left; width:278px; margin-top:10px;  height:60px;}

/*mapagoolge*/
.contenmapa{ margin-top:20px; width:388px; background-color:#CCC; height:254px; }

/*personas / empresas*/
.personas_pe{ float:left; width: auto; padding:12px 10px 15px;}
.personas_pe p{ font-size:11px; line-height:16px; padding:5px 0 }
.personas_pe p strong{font-size:11px; font-weight:bold;}
.cont_personas_empresas{ float:left; width: 100%; background:url(../images/bg_personas_empresas.jpg);}
.cont_personas_empresas ul li{ float:left; font-weight:bold;background:url(../images/barrita_amara.gif) no-repeat  right 0; }
.cont_personas_empresas ul li .positflecha{display: none;}
.cont_personas_empresas ul li.selected{position:relative;}
.cont_personas_empresas ul li.selected .positflecha{display: block;}
.cont_personas_empresas ul li.selected a{color:#333;}
.cont_personas_empresas ul li a{ padding:10px 20px; float:left; color:#333; text-decoration:none;	}	
.cont_personas_empresas ul li.nobg{background:none;}
.positflecha, .positflecha2{left: 45px;top: 35px;position: absolute;display:block; height:13px;width:7px;float:left; }
/*Footer*/
#footer_pe{ float:left; width:985px; background:url(../images/bg_footer.jpg); padding:10px 0 10px 15px; }
#footer_pe img{ float:left;}
#footer_pe ul{ float:left; padding-top:15px; padding-left:10px;}
#footer_pe ul li{ float:left; padding: 0 5px; font-size:10px;}
#footer_pe ul li a{ font-size:10px;}
/*personas*/
.boquepersonasempresas{ float:left; margin-bottom:10px;}
.content_data_personas{ float:left; width:444px;}
.content_data_personas h2.titulo_pe{ color:#000; font-weight:bold; border-bottom:1px solid #ccc; padding-bottom:12px;}
.centros_autorizados{ float:right; width:174px; padding:10px; background:url(../images/bg_centros-a.jpg); }
.data_personasempresas{ float:left; width:444px; padding-top:10px; margin-bottom:15px;}
.data_personasempresas h3{ font-weight:bold; color:#7F6600; font-size:14px; padding-bottom:4px;}
.data_personasempresas p{ line-height:16px;}

.data_personasempresas ul{padding-left: 44px;
    padding-top: 12px;}

.data_personasempresas ul li{line-height: 16px; padding-bottom:10px; background:url(../images/bullet_circle.png) no-repeat 0 6px;padding-left: 10px;}
.data_personasempresas ul li strong{ font-weight:bold;}

/*centros autorizados*/
.pat10_0{ padding:10px 0} 
.centros_autorizados h3{ font-size:12px; color:#666666; font-weight:bold; padding: 5px 0 10px 0;}
.centros_autorizados ul{ padding-top:10px; padding-left:10px;}
.centros_autorizados ul li{ padding-bottom:15px; color:#666; line-height:16px;}
.centros_autorizados ul li strong{ font-weight:bold; color:#666;}
.centros_autorizados ul.pagoeagencia li{ background: url("../images/bullet_bcp.png") no-repeat scroll 0 5px transparent;
    color: #001341;
    float: left;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 40px;}

/*form registro*/
.registrocont_pe{ float:left;}
.content_form{ float:left; width:566px; padding:20px ;}
.content_form h3{ padding-bottom:10px;}
.dlgrid .bgf8f8f8 dl {   background-color:#f8f8f8; }
.titulo_regist{ color:#666; font-weight:bold; font-size:16px; padding-bottom:0px!important}
.pattop30{ padding-top:30px; float:left;}
.pattop302{ padding-top:30px; }
.aceptarmedios{ float:left;}
.terminosycondi{ float:left; width:300px; padding-top:10px;}
.capcha_pe, .cont_capcha{ float:left; width:566px;}

.cont_capcha img{ float:left; padding-top:10px;}
.ingresecapcha{ float: left;padding-left: 15px;padding-top: 6px;width: 160px;}
.botones_registro{ float:left; text-align:center; width:366px; padding-left:200px}
.botones_registro input.enviar1, .botones_registro input.cancelar1{ cursor:pointer; border:none; width:93px; height:26px;  background:url(../images/enviar_cancelar.png) no-repeat 0 0; float:left; }
.botones_registro input.enviar1:hover{ background:url(../images/enviar_cancelar.png) no-repeat 0 -27px;}

.botones_registro input.cancelar1{ background:url(../images/enviar_cancelar.png) no-repeat 0 -54px;}
.botones_registro input.cancelar1:hover{ background:url(../images/enviar_cancelar.png) no-repeat 0 -82px;}

.faq_pe{ float:left; width:650px; padding-bottom:20px;}
.faq_pe h3, .respuestas_pe h3{ font-size: 14px;font-weight: bold;padding-top: 10px; color: #7F6600;}
.faq_pe ol{ float:left; padding:10px 0 0 20px !important;padding:10px 0 0 30px;}
.faq_pe ol li{ padding-bottom:10px;}
.borderb{ border-bottom:1px solid #ccc;}
.respuestas_pe .fix h3 { margin-bottom: 14px; padding-top: 2px; }
.respuestafaq.fix p {padding:0 12px 0 0;text-align:justify;}
.respuestafaq.fix ul { margin-left:8px; margin-bottom:13px;}
.respuestafaq.fix ul.roman {list-style: lower-roman outside;margin-left: 20px;}
.respuestas_pe{ float:left;  width:650px; padding:20px 0}
.respuestafaq{ padding:10px 0 10px 10px; background:url(../images/bullet_circle.png) no-repeat 0 20px;  }
.respuestafaq.fix {background:none;padding:0 0 10px 2px;}
.respuestafaq h2{ padding-bottom:5px;}
.respuestafaq p{ padding-bottom:10px; line-height:16px;}
/*desplegable*/
.sesion_user{}
.iniciosesion{ background-color: #666666;color: #FFFFFF !important;-moz-border-radius-topleft:5px;   -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px;   -webkit-border-top-right-radius:5px;}
.noiniciosesion{}
.contentdeplegable{  width:186px; padding:10px; background-color:#666; position:absolute; top:25px; right:25px; -moz-border-radius-topleft:5px; -moz-border-radius-bottomleft:5px;  -moz-border-radius-bottomright:5px; 
-webkit-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px;  -webkit-border-bottom-right-radius:5px; }
.contentform{ float:left; width:186px; padding-bottom:10px;}
.datoform_pe{ float:left; color:#FFF; width:65px;}
.content_datos{ float:right;}
.content_datos input{font-size: 11px;  -moz-border-radius:5px;-webkit-border-radius:5px;      width: 180px; border:1px solid #333; padding:6px 0 6px 5px;}
.contenboton{ float:left; text-align:center; width:186px; padding-bottom:5px;}
.contenboton input{ background: url(../images/boton_ingresar.png) no-repeat 0 0;  width:108px; height:25px; cursor:pointer; border:none;}
.contenboton input:hover{ background: url(../images/boton_ingresar.png) no-repeat 0 -25px;}
.recorsesion{ float:left; text-align:right; width:156px;  padding-bottom:5px;}
.recorsesion span{ position:relative; top:-3px; color:#FFF; font-size:10px;}
.recucontrase{ float:right;  }
.recucontrase a{color:#FFF; font-size:10px; font-weight:bold;}


.content_form2{ float:left; width:502px; padding:20px 20px 20px 125px ;}
.botones_recupera{ float:left; padding-left:18px;}
.botones_recupera .recuperar_pe, .botones_recupera .regresar_pe, .botones_recupera .validar_pe, .botones_recupera .ir_a_pe
{ float:left; background:url(../images/botones_recuperar.png) no-repeat 0 0 ; border:none; width:137px; height:25px; cursor:pointer; margin-right:5px;}
.recuperar_pe, .validar_pe{text-indent:-9999px;font-size:1px;}
.botones_recupera .recuperar_pe:hover{ background:url(../images/botones_recuperar.png) no-repeat 0 -26px;}

.botones_recupera .regresar_pe{ background:url(../images/botones_recuperar.png) no-repeat 0 -52px ; }
.botones_recupera .regresar_pe:hover{background:url(../images/botones_recuperar.png) no-repeat 0 -78px ;}

.botones_recupera .regresar_pe{ background:url(../images/botones_recuperar.png) no-repeat 0 -52px ; }
.botones_recupera .regresar_pe:hover{background:url(../images/botones_recuperar.png) no-repeat 0 -78px ;}

.botones_recupera .validar_pe{ background:url(../images/botones_recuperar.png) no-repeat 0 -104px ;}
.botones_recupera .validar_pe:hover{background:url(../images/botones_recuperar.png) no-repeat 0 -130px ;}

.botones_recupera .ir_a_pe{ background:url(../images/botones_recuperar.png) no-repeat 0 -156px ;}
.botones_recupera .ir_a_pe:hover{ background:url(../images/botones_recuperar.png) no-repeat 0 -182px ;}
.layercontentmain{background: #fff url(../images/bg_layer.jpg) repeat-x;border:1px solid #999;width:320px;height:172px;display:block;padding:10px;position:absolute;top:16px;left:228px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}	
.layercontent{width:320px;display:block;}

.cnt_layer{height:auto;overflow:hidden;margin-bottom:5px;}
.cerrar_layer{float:right;height:19px;width:19px;background:url(../images/layer_cerrar.png) no-repeat;display:block;clear:left;text-indent:-9999px;}
.layercontentmain{display:none;}

/*centros afiliados*/
.cafiliados{ position:relative;}
.cafiliados .tituloafili{ float:left; width: 608px; border-bottom:1px solid #ccc;}
.cafiliados h2{ float:left; border-bottom:none; width:262px; }
.cafiliados img{ /*float:right;*/ padding-top:10px;}
.contendatosafili{ padding-top:7px; float:left; width:608px; }
.contendatosafili ul.pagoeagencia{float: left; margin-top:10px; }
.contendatosafili ul.pagoeagencia li{ /*padding-left:12px; background:url(../images/bullet_bcp.png) no-repeat 0 5px;*/ color:#001341; font-weight:bold; float:left; /*padding-right:12px;*/ padding-bottom:5px; /*width:274px;*/}

.tit_banco { float: left; padding-top: 20px; text-align: center; width: 150px; }
.descrip_banco{ float:left; /*padding-right:15px;*/ width:458px; }

.eresnoerescliente, .eresnoerescliente2{ float:left; width: 228px; }
.eresnoerescliente2{ width:174px; }
.eresnoerescliente h2, .eresnoerescliente2 h2{ color:#CCA300; font-size:14px; padding-top:10px; width:228px; }
.eresnoerescliente2 h2{ width:174px; }

.eresnoeresclientefc h2, .eresnoerescliente2fc h2{ float:left; width: 458px; }
.eresnoerescliente2fc{ width:458px; }
.eresnoeresclientefc h2, .eresnoerescliente2fc h2{ color:#CCA300; font-size:14px; padding-top:10px; }
.eresnoerescliente2fc h2{ width:174px; }

.eresnoerescliente ul, .eresnoeresclientefc ul { padding-left:10px; float:left; }
.eresnoerescliente ul li, .eresnoerescliente2 ul li, .eresnoeresclientefc ul li{ padding-left:10px; background:url(../images/bullet_bcp.png) no-repeat 0 5px; padding-bottom:3px; color:#666; font-size:11px; }
.eresnoerescliente ul li, .eresnoeresclientefc ul li { width: 95% !important; font-weight: lighter !important; padding-bottom:3px !important; }
.eresnoerescliente2 ul li{ padding-bottom:15px;}

.tarjeta_bcp { /*position:absolute;*/ top:43px; /*padding-top:15px; padding-left:18px; margin-right:35px;*/}

.subtitle_bcp {  text-indent:-99999px; background:url("../images/logobcp_mail.jpg") no-repeat scroll 0px -4px transparent }
.subtitle_bbva { text-indent:-99999px; background:url(../images/logobbva_mail.jpg) no-repeat scroll -12px 4px transparent }
.subtitle_fc { height: 32px; text-indent:-99999px; background:url(../images/logofc_mail.jpg) no-repeat scroll transparent } /*-12px 4px */

.bgccc{ background:url(../images/bg_cajaizq.jpg)!important}

.botones_recupera input.ingre_pe, .botones_recupera input.cancelar_pe{ cursor:pointer; background:url(../images/ingresar_cancelar.png) no-repeat 0 1px; width:139px; height:26px; border:none;}
.botones_recupera input.ingre_pe:hover{ background:url(../images/ingresar_cancelar.png) no-repeat 0 -25px;}
.botones_recupera input.cancelar_pe{background:url(../images/ingresar_cancelar.png) no-repeat 0 -51px;}
.botones_recupera input.cancelar_pe:hover{background:url(../images/ingresar_cancelar.png) no-repeat 0 -77px;}



/*confirmacion*/
.confirmacion { text-align:center; }
.confirmacion  h2{ border-bottom:none; color:#333;}
.content_form3{float: left;     padding: 15px 20px 20px 40px;     width: 575px;}
.irap{cursor:pointer; background:url(../images/irapago.png) no-repeat 0 1px; width:139px; height:26px; border:none;}
.irap:hover{ background:url(../images/irapago.png) no-repeat 0 -25px;}

.mensaje_error{ width:425px; color:#F00; font-size:12px; font-weight:bold; padding-top:10px; padding-bottom:10px; float:left; }

.mensaje_error ul li { color:#F00; font-size:12px; font-weight:bold;   }
.mensaje_error span { color:#F00; font-size:12px; font-weight:bold;   }
.fleft{ float:left;}


/*cambios en registro*/
.content_form2{ float: left;     padding: 20px;     width: 960px;}

 .dlgrid dl{ padding:3px 0!important}

.content_form2  dd input.text {
    width: 64%; margin-right:5px;
}


.content_form2  dd select {
    width: 64%;
}
.content_form2 dd input.text.dni{  width: 15%!important;}

.layercontent ul li{ float:left; padding-left:10px; width:268px; background:url(../images/bullet_bcp.png) no-repeat 0 7px ; }


.dlgrid .w50 dl.wdocu{ width:320px;}
.dlgrid .w50 dl.wdocu2{ width:637px;}
.dlgrid .w50 dl.wdocu3{ width:320px;}

.content_form2 dd select.a1 {
    width: 90%;
}

.content_form2 dt select.a2 {
    width: 60%;
}
.content_form2 dd select.a3 {
    width: 25%;
}


.pattop15 {
    float: left;
    padding-top: 15px;
}

.wnac{ width:639px!important;}

/*cintillo*/
.bck_top_urb { background:url(../images/bg_top.jpg);
   
}

.wrapper100 {
    float: left;
    margin: 0;
    width: 100%;
}
.header_top_urb {
    margin: 0 auto;
    width: 1000px;
}

.top_cabecera { background:url(../images/bg_top.jpg);
    float: left;
    padding: 3px 4px 9px;
    width: 992px;
}
.top_cabecera img {
    float: left;
    padding-right: 5px;
}


.wrapper { width:996px; margin: 0 auto; background: #f4f4f4; }