body{background-color:#ffffff;font-family:arial; font-size: 10pt;}
ul li {/*background: url('../img/bullet.gif') left center no-repeat;*/ /*margin: 4px 0 4px 1px;*/ padding-left: 0px;}
h1,h2,h3 { font-size: 12pt; }
p{ text-indent: 11pt;}
#header{font-size: 8pt; font-family:Verdana;}
tr td {border:none 1px red; border-spacing:0px;}

.msgerror{ color: Red; font-size:7pt; margin:0px; padding:0px; width:180px;}
.BotonLogin
{
	 font-size: 10pt;
	 vertical-align: middle;
	 background:url('../images/boton-log-enter.gif') no-repeat; border:none; 
	 height:30px;
	 width: 100px;
	 padding:0px;
	 border:0px;
	}
/*.container{width: 900px; margin: 0 auto; background-color:#FFFFFF;}
a img, a, a a:active a:hover{border: solid 0 gray; color:#3366CC; font-weight: lighter;}
ul{list-style-type: none;}




.centropago{padding-left: 20px; width:50%;}
.centropago-tam{font-size:10pt; line-height: 6pt;}
.centropago-tit{text-align:center;}

.cont-list{background-color:#F2F2F2; padding: 0 100px 0 40px;}

.espaciado{height:15px;}
.esp-btn-menu{width:33%; text-align:center;}
.esp-btn-cli{height:20px;}
.esp-cont-txt{padding-left: 40px;}
.bck-info{background-color:#F2F2F2;}
.clear{clear:both;}

.footer ul {list-style-type: none;} .footer ul li{background:none; float:right; padding-left: 15px;}
.footer a {
	text-decoration: none;
	color: #3366CC;
	display: block;
	padding: 0px 5px 10px 0;
	text-align: center;
}*/

