﻿z|	@charset "UTF-8";
/* Forms 
--------------------------------------------------------------------------------*/

form { margin: 0; padding: 0; color:  #000; }
fieldset { border: 0; margin: 0 0; padding: 0; }
label,
.label { cursor: pointer; font-size: 1em; margin-right:4px; }
input.text,
input.password { font: 1.1em Tahoma, Arial, Geneva, sans-serif; padding: 2px 4px; color:  #000; }
textarea { font: 1em/1.2em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; height: 108px; margin-top: 0; padding: 2px 4px; overflow: auto; color:  #000; }
input.text,
textarea { background: #FFF; border: #7E9DB9 solid 1px; }
select { font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; width: 126px; overflow:hidden; height:1.9em; vertical-align:middle; margin-right:4px; color:  #000; }
optgroup { font-weight:bold; font-style:normal; vertical-align:middle; border-top:1px solid #DDD; }
option { border-top:1px solid #DDD; padding:2px 5px; vertical-align:middle; }
form dl,
form dt,
form dd { margin: 0; padding: 0; }
form dl { padding: 0; }
form dt { width:100%; font-size:12px; }
form dd { width:100%; margin-bottom: 5px; }
form dt label, form dt .frmlabel{ display:block; padding-bottom:2px; font-weight:bold; padding-top:2px; }
form.dtp dt { padding-bottom:2px; }
form dd input{ width:auto; }
form dd input.text { width:90%; }
form dd select { width:90%; }
form p.frm { margin:0; padding:0; }
button { cursor: pointer; font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; vertical-align:bottom; padding:0 5px; }
.frm_common label { line-height:1.9em; }
.inline_option + .inline_option { margin-left:1em; }
.inline_option input { margin-right:0.3em; }
form label.error, label.error, span.error, em.error  { color:#F00; font-size:11px!important;font-weight:normal;}
form label.error2 { color:#F00;  display:block;}

form dd.nw label.error { white-space:nowrap; }
input.text,
select.text,
textarea.text { border-color:#989898 #E7E7E7 #E7E7E7 !important; border-style:solid; border-width:1px; }
input.text,
textarea,
input.inputbox { background:#FFFFFF; border:1px solid #ccc; }
input.disabled,
textarea.disabled { background: #CCC; color:#888!important; }
select.disabled { background: #ccc; color: #888; }
/* Grid Forms 
 * Autores: Oscar Sobrevilla Lazo and Jose Delgado Aranda
--------------------------------------------------------------------------------*/

.dlgrid .p-b1 p,
div.p-b1 p,
form.p-b1 p { margin-bottom:1em }
.dlgrid.dl-b10 dl { margin-bottom:10px; }
.dlgrid.dl-b15 dl { margin-bottom:15px; }
.dlgrid.dl-b20 dl { margin-bottom:15px; }
.dlgrid dl { float:left; margin:0; padding-bottom:6px; padding-top:10px; }
.dlgrid dl select { /*width:30%;*/ /*margin:0 0 10px 0 !important; */ display:block; float:left }
.dlgrid .w16 dl { width:16.6%; }
.dlgrid .w18 dl { width:18.0%; }
.dlgrid .w20 dl { width:20.0%; }
.dlgrid .w10 dl { width:10.0%; }
.dlgrid .w25 dl { width:25.0%; }
.dlgrid .w33 dl { width:33.0%; }
.dlgrid .w40 dl { width:39.9%; }
.dlgrid .w50 dl { width:49.9%; }
.dlgrid .w60 dl { width:59.9%; }
.dlgrid .w70 dl { width:69.9%; }
.dlgrid .w80 dl { width:79.9%; }
.dlgrid .w90 dl { width:89.9%; }
.dlgrid .w100 dl { width:100%; }
/*clases usadas para el form inline*/

.dlgrid .w100 dl .dd15 { width:20%; }
.dlgrid .w100 dl .dt55 { width:55%; }
.dlgrid .w100 dl dd label { line-height: 20px; }
.divgrid div.cell { float:left; }
.divgrid .w25 div { width:25.0%; }
.divgrid .w33 div { width:33.0%; }
.divgrid .w50 div { width:49.9%; }
.divgrid .w90 div { width:89.98%; }
.divgrid .input80 input.text,
.divgrid .input80 select.text { width:80%; }
.dlgrid .dlinline dl dt,
.dlgrid .dlinline dl dd { float:left; }
.dlgrid .input80 input.text,
.dlgrid .input80 select.text { width:80%; }
.dlgrid .label16 label { line-height:1.6em; }
.dlgrid .label14 label { line-height:1.4em; }
.dlinlinefull dl { float:none; }
.dlgrid dl.center { margin:0 auto 15px; float:none; }
.dlgrid dl.dlw50 { width:49.9%; }
.dlgrid dl.dlw80 { width:80%; }
.dlgrid dl.dlw90 { width:90%; }
.dlinline dl.dt20 dt, .dlinline dl.dd20 dd.d3 { width:4%; margin-right:10px; }
.dlinline dl.dt5 dt, .dlinline dl.dd5 dd { width:5%; }
.dlinline dl.dt10 dt, .dlinline dl.dd10 dd { width:10%; }
.dlinline dl.dt15 dt, .dlinline dl.dd15 dd { width:15%; }
.dlinline dl.dt20 dt, .dlinline dl.dd20 dd { width:20%; }
.dlinline dl.dt25 dt, .dlinline dl.dd25 dd { width:25%; }
.dlinline dl.dt30 dt, .dlinline dl.dd30 dd { width:30%; }
.dlinline dl.dt35 dt, .dlinline dl.dd35 dd { width:35%; }
.dlinline dl.dt40 dt, .dlinline dl.dd40 dd { width:40%; }
.dlinline dl.dt45 dt, .dlinline dl.dd45 dd { width:45%; }
.dlinline dl.dt46 dt, .dlinline dl.dd46 dd { width:46%; }
.dlinline dl.dt48 dt, .dlinline dl.dd48 dd { width:48%; }
.dlinline dl.dt50 dt, .dlinline dl.dd50 dd { width:50%; }
.dlinline dl.dt60 dt, .dlinline dl.dd60 dd { width:60%; }
.dlinline dl.dt65 dt, .dlinline dl.dd65 dd { width:65%; }
.dlinline dl.dt70 dt, .dlinline dl.dd70 dd { width:70%; }
.dlinline dl.dt75 dt, .dlinline dl.dd75 dd { width:75%; }
.dlinline dl.dt80 dt, .dlinline dl.dd80 dd { width:80%; }
.dlinline dl.dt85 dt, .dlinline dl.dd85 dd { width:85%; }
.dlinline dl.dt90 dt, .dlinline dl.dd90 dd { width:90%; }


.dlinline dl.dt25 dt.d18
 { width:18%; }
 
 .with20{ width:20%!important; _width:10%!important}
  .with50{ width:50%!important}

