﻿
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,  blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead, th {margin: 0; padding: 0;
	border: 0; outline: 0; font-weight: inherit;
	font-style: inherit; font-family: Arial, Helvetica, sans-serif;
	color:#333; font-size:12px;}
body   {background:#f1f1f1; text-align:center; text-align:left; }
p, span {font-size:12px; font-family: Arial, Helvetica, sans-serif;
         color:#333; margin: 0;padding: 0; font-weight:normal;}
:focus {outline: 0;}
span a{text-decoration:underline;}
 ul {	list-style: none;}
table {	border-collapse:collapse;
	border-spacing: 0; margin:auto; float:left;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {	quotes: "" "";}
/*-----------------------------------------------------*/

h1{ font-size:22px;}
h2{ font-size:18px}
h3{ font-size:12px}
h4{ font-size:10px}

a{ color:#085394; text-decoration:underline;}
a:hover{ color:#900;}
a:active{ color:#FF8417}


/*weight*/
.txt_100{ font-weight:100;}
.txt_600{ font-weight:600;}
.txt_bold{ font-weight:bold;}

/*tamaños*/
.txt_s10, .txt_s10 a { font-size:10px;}
.txt_s11, .txt_s11 a{ font-size:11px;}
.txt_s12, .txt_s12 a{ font-size:11px;}
.txt_s13, .txt_s13 a{ font-size:13px;}
.txt_s14, .txt_s14 a{ font-size:14px;}
.txt_s16, .txt_s16 a{ font-size:16px;}
.txt_s18, .txt_s18 a{ font-size:18px;}
.txt_s22, .txt_s22 a{ font-size:22px;}
.txt_s24, .txt_s24 a{ font-size:24px;}
.txt_s26, .txt_s26 a{ font-size:26px;}

/* cursiva*/
.txt_italica{ font-style:italic}

/*transformaciones */
.txt_upercase{ text-transform:uppercase}
.txt_capitalize{ text-transform:capitalize}
.txt-none{ text-transform:none}

/*decoration*/
.txt_decoration{ text-decoration:underline}
.txt_nodecoration{ text-decoration:none}

/*colores*/
.txt_fff{ color:#fff}
.txt_ccc{ color:#CCC}
.txt_999{ color:#999}
.txt_666{ color:#666}
.txt_333{ color:#333}
.txt_000{ color:#000}
.txt_marron{ color:#A16710}
.txt-verde{ color:#5D832B}

/*line heignt*/
.line_14{ line-height:14px}
.line_15{ line-height:15px}
.line_16{ line-height:16px}
.line_17{ line-height:17px}
.line_18{ line-height:18px}
.line_19{ line-height:19px}



/*-------------------------------------------------*/

