/*
Name:   ie
Author: Daniel M. | dmariluz@comercio.com.pe
Date:   04.11.08
*/

body#portadaUsuario .agente-wrapper-content #content #login .label-contrasena 
{
	height:18px;  
} 
body#portadaUsuario .agente-wrapper-content #content #login .label-email 
{
	height:18px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .recordar span 
{
	_padding-top:3px 
}  
body#portadaUsuario .agente-wrapper-content #content #login .links 
{
	padding:10px 0 0 136px; color:#00f; 
	float:left;
} 
#main-nav 
{
	overflow:hidden!important; 
} 