/*
Name:   main
Author: Daniel M. | dmariluz@comercio.com.pe
Date:   04.11.08
*/

/*import
-----------------*/
@import url("basic/screen.reset.css"); @import url("basic/screen.typo.css"); @import url("basic/screen.form.css");

/* general
----------------*/
body 
{
	background:url(../images/bg-web.jpg) repeat-x top left; 
	
} 
table
{
	border:solid 1px #e6e3cd;
}

/* layout
---------------*/
#container 
{
	width:900px; 
	margin:0 auto; 
} 
#header 
{
	height:100px; /*110*/
	background-image:url(../images/bg-header.jpg); 
	padding-top:26px; 
	padding-left:22px; 
	position:relative;
}

/*main-nav*/
#main-nav 
{
	height:45px; 
	background-image:url(../images/bg-menu.jpg); 
	position:relative; 
} 

#main-nav ul#nav 
{
	overflow:hidden; 
	margin-left:22px; 
} 
#main-nav ul#nav li 
{
	float:left; 
	text-align:center; 
	margin-right:15px; 
}

/*tables*/
.agente-wrapper-content 
{
	overflow:hidden; 
	background:url('../images/bg-web-b.jpg') repeat-y top left; height:1%;
	
} 

.agente-wrapper-content #secondary-nav 
{
	width:232px; 
	padding-left:18px; 
} 

.agente-wrapper-content #secondary-nav ul li 
{
	height:18px; 
	margin-bottom:2px;
} 
.agente-wrapper-content #content 
{ 
	width:625px; 
	overflow :hidden; 
	padding-right:18px; 
} 
.agente-wrapper-content #content table tr.stripe 
{ 
	background-color:#f9f8f2; 
} 
.agente-wrapper-content #content table#detalle-orden-pago, .agente-wrapper-content #content table#caja-activa, .agente-wrapper-content | table#ordenes-pagos 
{ 
	width:483px; 
	margin-bottom:10px; 
} 
.agente-wrapper-content #content table#detalle-modo-pago-form 
{
	width:483px; 
	margin-bottom:40px; 
} 
.agente-wrapper-content #content table#detalle-orden-pago td, .agente-wrapper-content #content table#caja-activa td ,.agente-wrapper-content #content table#caja-activa th, .agente-wrapper-content #content table#ordenes-pagos td , .agente-wrapper-content #content table#ordenes-pagos th, .agente-wrapper-content #content table#detalle-orden-pago th , .agente-wrapper-content #content table#detalle-modo-pago-form th, .agente-wrapper-content #content table#detalle-modo-pago-form td 
{
	padding:5px 
} 
.agente-wrapper-content #content table#caja-activa th, .agente-wrapper-content #content table#ordenes-pagos th, .agente-wrapper-content #content table#detalle-orden-pago th 
{ 
	border-bottom:solid 1px #E6E3CD; 
} 
.agente-wrapper-content #content table#detalle-orden-pago th span.h-title, .agente-wrapper-content #content table#caja-activa th span.h-title, .agente-wrapper-content #content table#ordenes-pagos th span.h-title, .agente-wrapper-content #content table#detalle-modo-pago-form th span.h-title 
{ 
	color:#6f6b51; 
	display:block; 
	font-weight:bold; 
	font-size:12px 
} 
.agente-wrapper-content #content table#detalle-modo-pago-form td.item
{
	width:130px; 
	text-align:right; 
	color:#000; 
} 
.agente-wrapper-content #content table#caja-activa td.item
{
	width:130px; 
	text-align:right; 
} 
.agente-wrapper-content #content table#caja-activa td.detalle span, .agente-wrapper-content #content table#caja-activa td.item span 
{
	padding-left:5px; 
} 
.agente-wrapper-content #content table#ordenes-pagos 
{
	margin:10px 0 25px 0; 
} 
.agente-wrapper-content #content table#ordenes-pagos tr.header-items 
{
	background-color:#ada98c; 
} 
.agente-wrapper-content #content table#detalle-orden-pago td.item
{
	width:80px; 
	text-align:left;
	border-right:solid 1px #f1efe3; 
	font-weight:bold; 
}  

body#portadaUsuario .agente-wrapper-content #content 
{
	width:724px; 
	overflow:hidden; 
	padding:0 18px; 
} 
/*body#portadaUsuario .agente-wrapper-content #content table 
{
	width:724px; 
	margin-bottom:10px; 
} 
*/
body#portadaUsuario .agente-wrapper-content #content table#genera-orden td.item 
{
	width:82px; 
	text-align:center;  
} 
body#portadaUsuario .agente-wrapper-content #content table#genera-orden td.item span 
{
	padding:5px; 
	display:block; 
} 
body#portadaUsuario .agente-wrapper-content #content #login 
{
	width:350px; 
	height:190px;
	border:0; 
	margin:0 auto 20px auto; 
	background:url(../images/bg-login3.jpg) no-repeat;  
} 
body#portadaUsuario .agente-wrapper-content #content #login h1 
{
	font:bold 12px verdana; 
	padding:23px 0 0 25px; 
	margin:0 0 15px 0;  
} 
body#portadaUsuario .agente-wrapper-content #content #login .label-email 
{
	padding:0 30px;  
	overflow:hidden; 
	padding-bottom:5px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .label-email .item 
{
	padding-left:60px; 
	padding-top:3px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .label-contrasena 
{
	padding:0 30px;  
	overflow:hidden; 
	padding-bottom:5px;  
}
body#portadaUsuario .agente-wrapper-content #content #login .label-contrasena .item 
{
	padding-left:31px; 
	padding-top:3px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .recordar 
{ 
	padding-left:133px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .recordar span 
{ 
	display:block; 
	padding-top:2px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .links 
{
	padding:5px 0 0 136px; 
} 
body#portadaUsuario .agente-wrapper-content #content table#campos-registro-datos th, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-cliente th, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-terminos th, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-condiciones th
{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	color: #6F6B51;
	border-bottom: solid 1px #E6E3CD;
} 
body#portadaUsuario .agente-wrapper-content #content table#campos-registro-datos td, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-cliente td, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-terminos td, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-condiciones td 
{
	padding:5px; 
	color:#000; 
} 
body#portadaUsuario .agente-wrapper-content #content table#campos-registro-datos td.item, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-cliente td.item, body#portadaUsuario .agente-wrapper-content #content table#campos-registro-terminos td.item 
{
	width:128px; 
	color:#000; 
} 
body#portadaUsuario input, body#portadaUsuario input.large 
{
	/*border:solid 1px #c0c0c0; */
} 
body#portadaUsuario input.large 
{
	width:360px; 
} 
body#portadaUsuario input.medium 
{
	width:180px
}
 
body#portadaUsuario input.short 
{
	width:100px
 } 
 
 body#portadaUsuario td.item-short 
 {
width:80px
 } 
 
 body#portadaUsuario .agente-wrapper-content #content table#campos-registro-condiciones td 
 {
	font-family:Arial, Helvetica, sans-serif; 
} 

body#portadaUsuario .agente-wrapper-content #content table#campos-registro-condiciones input 
{ 
	float:left; 
	border:0;  
	margin-top:2px; 
	_margin-top:-2px;
	
} 

body#portadaUsuario .agente-wrapper-content #content table#campos-registro-condiciones a 
{
	color:#000; text-decoration:underline; 
} 
body#portadaUsuario button.registrar 
{
	background:url(../images/boton-registar.jpg) no-repeat; 
	width:109px; 
	height:31px; 
	border:0; 
} 
body#portadaUsuario button.cancelar 
{
	background:url(../images/boton-cancelar.png); 
	width:106px; 
	height:31px; 
	border:0; 
} 
body#portadaUsuario button.registrar span, body#portadaUsuario button.cancelar span 
{
	display:none; 
} 
body#portadaUsuario button.registrar, body#portadaUsuario button.cancelar 
{
	cursor:pointer;
}
body#portadaUsuario table.mod td, body#portadaUsuario table.mod th  
{
	color:#6d6d6d!important; 
	border-bottom:solid 1px #e7e5d0; 
} 
body#portadaUsuario table.mod td.item 
{
	text-align:right; 
	width:100px!important; 
	border-right:solid 1px #e7e5d0; 
} 
body#portadaUsuario button.registrar, body#portadaUsuario table.botones button.generar 
{
	background:url(../images/boton-generar.jpg) no-repeat; 
	width:106px; 
	height:35px; 
	border:0; 
	cursor:pointer
 } 
 body#portadaUsuario table.botones button.generar span 
 {
	display:none;
 } 
 body#portadaUsuario table.botones button.imprimir { width:96px;
	 height:35px;
	 background:url(../images/boton-imprimir.png) no-repeat;
	  border:0; 
	  cursor:pointer; 
} 
body#portadaUsuario table.botones button.imprimir span 
{
	display:none; 
}



#footer 
{
	width:900px; 
	background:url('../images/bg-footer-b.jpg') no-repeat bottom left;
	overflow:hidden; 
	height:36px; 
	text-decoration: none;
	color: #3366CC;
	display: block;
	/*padding: 0px 5px 10px 0;*/
	text-align: center;
}

/* Logueo-Rapido
---------------*/

.txtLog
{border: solid 1px gray; margin: 0px; width: 126px;}

/* menu - fcb */
.menu_login_container {
  margin: 0px 0px 0 0;
  padding:0;
  /*position:relative;*/
  width:425px;
}
.menu_login_container table
{border: none;}

/* content */
.content
{padding: 20px;}

.content-text
{width: 560px;}

.content-text-det
{ padding-left:15px;
  width: 400px;}

.espaciado{ padding-bottom: 20px;}

/*ul li {background: url('../img/bullet.gif') left center no-repeat; margin: 4px 0 4px 1px; padding-left: 15px;}*/

.footer ul {list-style-type: none;} 
.footer ul li{background:none; float:right; padding-left: 0px;}
.footer a {
	text-decoration: none;
	color: #3366CC;
	display: block;
	padding: 0px 5px 10px 0;
	text-align: center;
}

/* basic
--------------*/
.deleted { display:none; } 
.left { float:left; } 
.right { float:right; } 
.clear { clear:both; }
.box {border: solid 1px green;}