﻿<div style="font-family: helvetica;">
    <div style="width: 700px; text-align: left; margin-left: 10px; font-size: 11pt;">
        <span style="font-weight: bold;">Estimado(a) [UsuarioNombre]</span>
        <br />
        Salud&#225;ndolo cordialmente le hacemos llegar su boleta generada para la realizaci&#243;n
        del pago de su operaci&#243;n en NuestroMercado.
    </div>
    <br />
    <div style="width: 700px; text-align: left; margin-left: 10px">
        <div style="border: 1px solid; width: 700px; text-align: left;">
            <table align="center" width="100%" cellspacing="0" cellpadding="0" style="font-size: 9pt;">
                <tbody>
                    <tr>
                        <td style="background-repeat: repeat-x;">
                            <img src="https://dev.2.pagoefectivo.pe/images/logoPE_mail.jpg" alt="PagoEfectivo"
                                style="border: 1px solid; margin-left: 10px; margin-top: 10px;" />
                        </td>
                        <td style="background-repeat: repeat-x; text-align: right;">
                            <img src="https://dev.2.pagoefectivo.pe/ADM/ADServImg.aspx?servicioid=[idServicio]"
                                alt="NuestroMercado" style="width: 150px; float: right; margin-right: 10px; margin-top: 10px;" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" width="95%" cellspacing="0" cellpadding="4" style="font-size: 9pt;
                margin-bottom: 10px;">
                <tbody>
                    <tr>
                        <td colspan="2" style="height: 10px;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" style="font-size: 15pt;">
                            C&#243;digo de pago: [CIP]
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 10px;">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #c0c0c0; font-size: 13pt;">
                            Servicio
                        </td>
                        <td style="font-size: 13pt;">
                            Grupo El Comercio - NuestroMercado
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #c0c0c0; font-size: 13pt;">
                            Concepto
                        </td>
                        <td style="font-size: 13pt;">
                            [ConceptoPago]
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #c0c0c0; font-size: 13pt;">
                            Monto a facturar
                        </td>
                        <td style="font-size: 13pt;">
                            [Moneda] [Monto]
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 10px;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 10px; text-align: center;">
                            <img src="https://dev.2.pagoefectivo.pe/CNT/GenImgCIP.aspx?codigo=[CIPCodigoBarra]"
                                alt="" style="width: 400px; height: 46px;" />
                            <br />
                            [CIP]
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="color: #ff0000; font-size: 12pt; padding: 0; margin: 0px;">Atenci&#243;n:</span>
                            <p>
                                Este c&#243;digo de pago no constituye una reserva confirmada sino hasta la realizaci&#243;n
                                del pago a trav&#233;s de los canales mencionados. Usted debe realizar el pago de
                                su operaci&#243;n hasta antes del [FechaVencimiento], a horas [HoraVencimiento];
                                de lo contrario, esta expirar&#225;. Las operaciones est&#225;n sujetas a disponibilidad
                                al momento del pago.
                            </p>
                            <p>
                                NuestroMercado se reserva el derecho a finalizar una operaci&#243;n antes del tiempo
                                indicado; en este caso el CIP quedar&#237;a sin efecto.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div style="width: 700px; text-align: left; margin-left: 10px; font-size: 9pt;">
        <span style="font-weight: bold; font-size: 12pt;">Usted puede pagar su operaci&#243;n
            en los siguientes bancos:</span>
        <table>
            <tbody>
                <tr>
                    <td width="350" align="center">
                        <img src="https://dev.2.pagoefectivo.pe/images/logobcp_mail.jpg" width="116" height="44"
                            alt="Banco de Cr&#233;dito del Per&#250; - BCP" title="Banco de Cr&#233;dito del Per&#250; - BCP" />
                    </td>
                    <td width="350" align="center">
                        <img src="https://dev.2.pagoefectivo.pe/images/logobbva_mail.jpg" width="168" height="44"
                            alt="BBVA Banco Continental" title="BBVA Banco Continental" />
                    </td>
                </tr>
                <tr>
                    <td width="350" valign="top">
                        <ol type="A" style="font-weight: bold; font-size: 10pt; padding-left: 25px;">
                            <li>En una Agencia BCP:
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Imprima esta boleta.</li>
                                    <li>Dir&#237;jase a una agencia BCP.</li>
                                    <li>Indique que va a realizar un <strong>Credipago a la empresa de nombre: PAGOEFECTIVO</strong>.</li>
                                    <li>Indique que el servicio a pagar es <strong>Productos Grupo El Comercio-Soles</strong>.</li>
                                    <li>Se le remitir&#225; su voucher de Pago.</li></ol>
                            </li>
                            <li>En un Agente BCP:
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Imprima esta boleta.</li>
                                    <li>Dir&#237;jase a un agente BCP.</li>
                                    <li>Indique que va a realizar un <strong>Pago de Servicio y mencione el c&#243;digo
                                        de la empresa 02186.</strong></li>
                                    <li>Indique que el servicio a pagar es <strong>Productos Grupo El Comercio-Soles</strong>.</li>
                                    <li>Se le remitir&#225;; su voucher de Pago.</li></ol>
                            </li>
                            <li>V&#237;a internet BCP, seguir los siguientes pagos:
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Ingresa en tu cuenta.</li>
                                    <li>Selecciona la opci&#243;n <strong>Pago de Servicios</strong> ubicada en la columna
                                        izquierda.</li>
                                    <li>Selecciona Empresas Diversas.</li>
                                    <li>Selecciona <strong>PagoEfectivo.</strong></li>
                                    <li>Selecciona el servicio: <strong>Productos Grupo El Comercio-Soles</strong>.</li>
                                    <li>Ingresa el siguiente C&#243;digo de Pago: [CIP].</li></ol>
                            </li>
                        </ol>
                    </td>
                    <td width="350" valign="top">
                        <ol type="A" style="font-weight: bold; font-size: 10pt; padding-left: 25px;">
                            <li>En una Agencia del BBVA / Agente Express / Agente Kasnet:
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Imprima esta boleta.</li>
                                    <li>Dir&#237;jase a una oficina BBVA, Agente Express o Agente Kasnet.</li>
                                    <li>Indique que va a realizar un <strong>Pago de Recaudos del servicio EL COMERCIO</strong>.</li>
                                    <li>El operador realizar&#225; el pago, luego de su conformidad de la operaci&#243;n.</li>
                                    <li>Se le remitir&#225; su voucher de Pago.</li></ol>
                            </li>
                            <li>Banca por Internet del BBVA:
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Ingrese a su cuenta de Banca por Internet del BBVA.</li>
                                    <li>Selecciona el men&#250; &quot;Pago de Servicios&quot;.</li>
                                    <li>Selecciona la opci&#243;n &quot;De instituciones y Emp.&quot; ubicada en la columna
                                        izquierda.</li>
                                    <li>Realice la b&#250;squeda de los servicios escribiendo <strong>EL COMERCIO</strong>.</li>
                                    <li>Selecciona <strong>EL COMERCIO</strong>.</li>
                                    <li>Ingresa el siguiente C&#243;digo de Pago: [CIP].</li></ol>
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td width="350" align="center">
                        <img src="https://dev.2.pagoefectivo.pe/images/logosbk_mail.jpg" height="45" alt="Scotiabank"
                            title="Scotiabank" />
                    </td>
                    <td width="350" align="center">
                        <img src="https://dev.2.pagoefectivo.pe/images/logoWesternUnion.jpg" height="45"
                            alt="WesternUnion" title=" WesternUnion" />
                    </td>
                </tr>
                <tr>
                    <td width="350" valign="top">
                        <ol type="A" style="font-weight: bold; font-size: 10pt; padding-left: 25px;">
                            <li>En las ventanillas de las Agencias de Scotiabank o Cajero Express:
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Imprima esta boleta.</li>
                                    <li>Ac&#233;rquese a una agencia Scotiabank o Cajero Express.</li>
                                    <li>Indique que desea realizar el pago de <strong>PagoEfectivo</strong>.</li>
                                    <li>Indique que el servicio a pagar es <strong>PROD. GPO EL COMERCIO SOLES</strong>.</li>
                                    <li>Indicar su c&#243;digo de pago [CIP] y se le entregar&#225; su voucher de Pago.</li></ol>
                            </li>
                            <li>V&#237;a Scotia en L&#237;nea (Banca Por Internet Scotiabank):
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Ingrese a Scotia en L&#237;nea</li>
                                    <li>Seleccione su Tarjeta de Acceso y D&#233;bito e ingrese los 8 &#250;ltimos d&#237;gitos
                                        de su tarjeta y la &#8220;clave principal&#8221;. </li>
                                    <li>En el men&#250; principal, seleccione <strong>Pagos &#8211; Otras Instituciones</strong>.</li>
                                    <li>En el tipo de Instituci&#243;n seleccione <strong>Otros</strong> y consulte.</li>
                                    <li>Seleccionar la Instituci&#243;n seg&#250;n servicio: <strong>PAGOEFECTIVO&#8211;PROD
                                        GRPO COMERCI(SOLES)</strong></li>
                                    <li>Ingrese su c&#243;digo de pago [CIP] y el sistema le mostrar&#225; una pantalla
                                        que podr&#225; imprimir o enviar a una direcci&#243;n de correo electr&#243;nico
                                        como constancia de pago.</li></ol>
                            </li>
                        </ol>
                    </td>
                    <td width="350" valign="top">
                        <ol type="A" style="font-weight: bold; font-size: 10pt; padding-left: 25px;">
                            <li>En una agencia Western Union (Pago de Servicios):
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Imprima esta boleta.</li>
                                    <li>Indique que va a realizar un pago de Servicio.</li>
                                    <li>Indique que va a realizar un pago a la empresa <strong>PagoEfectivo.</strong></li>
                                    <li>Indique c&#243;digo de Pago [CIP] (el n&#250;mero esta en la boleta de PagoEfectivo).</li>
                                    <li>Confirme el pago y se le entregar&#225; su voucher de Pago.</li></ol>
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td width="350" align="center">
                        <img src="https://dev.2.pagoefectivo.pe/images/logofc_mail.jpg" width="66" height="45"
                            alt="FullCarga" title="FullCarga" />
                    </td>
                </tr>
                <tr>
                    <td width="350" valign="top">
                        <ol type="A" style="font-weight: bold; font-size: 10pt; padding-left: 25px;">
                            <li>En un Establecimiento autorizado: Ac&#233;rcate a cualquier Establecimiento (Bodegas,
                                Farmacias, Cabinas, Locutorios, Etc) que tenga el Logo de PagoEfectivo y/o FullCarga
                                <ol style="font-weight: normal; padding-left: 20px;">
                                    <li>Imprima esta boleta.</li>
                                    <li>Indique que va a realizar un <strong>pago de Servicio</strong>.</li>
                                    <li>Indique que va a realizar un pago a la empresa <strong>PagoEfectivo</strong>.</li>
                                    <li>Elige el servicio <strong>El Comercio &#8211; soles</strong>.</li>
                                    <li>Le solicitar&#225;n el C&#243;digo de Pago [CIP] (el n&#250;mero esta en la boleta
                                        de PagoEfectivo).</li>
                                    <li>Espere a que te indiquen el monto a pagar.</li>
                                    <li>Confirme el pago con el c&#243;digo de confirmaci&#243;n o n&#250;mero de referencia
                                        o voucher.</li></ol>
                            </li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
        [SeccionValidacion]
        <hr />
        <div style="width: 100%; text-align: center; height: 40px; margin-top: 20px;">
            <span style="font-weight: bold; font-size: 15pt;">Gracias por su preferencia</span>
        </div>
        <hr />
    </div>
    <div style="width: 700px; text-align: left; margin-left: 15px; font-size: 8pt;">
        <em>Este correo fue enviado de manera autom&#225;tica. Si no realizaste esta operaci&#243;n
            env&#237;anos un mensaje a <a href="mailto:[EMailServSoporte]">[EMailServSoporte]</a>.
        </em>
        <br />
        <em>El sistema de correo electr&#243;nico de PagoEfectivo est&#225; destinado &#250;nicamente
            para fines del negocio, cualquier otro uso contraviene las pol&#237;ticas de la
            empresa. </em>
        <br />
        <em>Toda la informaci&#243;n del negocio contenida en este mensaje es confidencial y
            de uso exclusivo de PagoEfectivo. Su divulgaci&#243;n, copia y/o adulteraci&#243;n
            est&#225;n prohibidas y s&#243;lo debe ser conocida para la persona a quien se dirige
            este mensaje. Si Ud. ha recibido este mensaje por error por favor proceda a eliminarlo
            y notificar al remitente. </em>
    </div>
</div>
