﻿<%@ Page Title="" Language="VB"  AutoEventWireup="false"
     CodeFile="PError404.aspx.vb" Inherits="PError404" %>

    <div style="margin-left: 50px; text-align: justify; width: 600px; font: 12px/130% Verdana,Arial,sans-serif;
        color: Black;" class="mensaje_error" id="divInfGeneral">
        <p>
            <br />
        </p>
        <h2>
            Página no encontrada.</h2>
        <br />
        La página que buscas no existe.
        <br />
        Probablemente el enlace que usaste es erróneo.
        <br />
        Intenta ubicarte en la página principal.
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
