﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="WSServicioNotificacionReader.aspx.vb" Inherits="SPE.WebServiceTest.WSServicioNotificacionReader" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" >
    <div Height="100%" Width="100%">
    
        <asp:TextBox ID="TextBox1" runat="server" Height="500px" Width="100%" 
            TextMode="MultiLine"></asp:TextBox>
    
    </div>
    </form>
</body>
</html>
