@charset "utf-8";
/* IE 6 
--------------------------------------------------------------------------------*/
* html>body .clearfix { display: inline-block; width: 100%; }
* html .clearfix { height: 1%; }
 html, body, div { padding: 0; margin: 0; font-size: 100%; }
/* Start of "Micro clearfix" */
.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.btnRegistrar, .btnCancelar, .btnActualizar, 
.btnLimpiar, .btnEnviar,.btnBuscar, 
.btnVolver,.btnRegenerar,.btnContinuar, 
.btnReenviar, .btnPagarCIP, .btnAceptar, 
.btnIniSesion, .btnGenCod, .btnConfirmar,
.btnNuevo, .btnAsignar, .btnAnCip, .btnCancelar, 
.btnLiquidar, .btnUtiFecVal, .btnAperturar, .btnAnular,
.btnExpClave, .btnExpArchivo, .btnRegenerar,
.btnConfEmail, .btnConfContrato,
.btnReaPago, .btnImprimir, .btnOtorgar, .btnRefrescar, .btnVerReport, 
.btnExcel, .btnPdf, .btnLiqCajas, .btnAgregar, .btnRePago{
 line-height: 0px;
 font-size: 0px;
 border:none;
 height: 30px;
}
.btns{width: 320px;display: inline;}
.btns3{display: inline;margin-left: 158px;}
.png_bg{display: inline;float: left;}
innerOpts{display: inline;float: left;}
innerOpts li{display: inline;}
.bgtrblue{display: inline;}
.envSecure img.vs{margin-left:70px;}
.btnExpand {float: left;}
.collapse{width: 0px;overflow: hidden;}
body.full .colLeft{float: left;width: 10px;overflow: hidden;}
body.full .colRight{width: 97%;display: inline;float:left;}
.cont-panel-search{width: 470px;}
/*form*/
form select{display: inline;}
form dd {margin-bottom: 0px;}
.dlinline dl dd.camp {padding: 10px;margin: 0px;}
/*menu accordion*/
.colLeft ul li a{display: block;float: left;width: 90%;}
.colLeft ul li ul.submenu{width: 152px !important;}
a.selected{border: 1px solid #ddd !important;background: #fff url("../img/bg-item-hover-menu.gif") repeat-x !important;}
/* IE 7 
--------------------------------------------------------------------------------*/
.clearfix { zoom:1; min-width:1px; }
.zoom , .zoom_all * { zoom:1;}
.fix_ib { width:273px; position:relative; }
h1 {zoom:1; position:relative;}
.widget-content{margin: 0px;}
.widget-content ul li{float: left;width: 100%;}
.widget-content .cnt-icon{display: block;}
.widget-content .cnt-icon span {display: inline-block;height: 100%;width: 1px;vertical-align: middle;text-align: center;}
.widget-fix-border-ie{background-color: #e9e9e9;float: left;margin: 20px 0px 0px 40px;}



