<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>PagoEfectivo</title>
</head>
<body>

	<div id="mediaplayer"></div>
	
	<script type="text/javascript" src="js/swfobject/swfobject.js"></script>
	<script type="text/javascript">
		var params={},
		flashvars={},
		baseUrl_= '<%= System.Configuration.ConfigurationManager.AppSettings.Get("pathBase") %>'

		params.allowscriptaccess = "always";
		params.allowfullscreen = "true";
		params.wmode = "opaque";
		params.flashvars = "file="+baseUrl_+"video/1.flv&repeat=no&stretching=fill&skin="+baseUrl_+"swf/md.swf&autostart=false&bufferlength=1&image="+baseUrl_+"video/1.jpg";
		swfobject.embedSWF(""+baseUrl_+"swf/playertv.swf", "mediaplayer", "650", "390", "9", ""+baseUrl_+"js/swfobject/expressInstall.swf",flashvars, params);
	</script>


</body>
</html>