/*!
 * Font Styles
 * @module fonts
 * @author Luis Natividad
 */

@font-face{font-family:trebuc;src:url(../fonts/trebuc/trebuc-webfont.eot);src:url(../fonts/trebuc/trebuc-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/trebuc/trebuc-webfont.woff) format('woff'),url(../fonts/trebuc/trebuc-webfont.ttf) format('truetype'),url(../fonts/trebuc/trebuc-webfont.svg#trebuc) format('svg');font-style:normal;font-weight:400}

@font-face{font-family:neosans;src:url(../fonts/neosans/neosans-webfont.eot);src:url(../fonts/neosans/neosans-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/neosans/neosans-webfont.woff) format('woff'),url(../fonts/neosans/neosans-webfont.ttf) format('truetype'),url(../fonts/neosans/neosans-webfont.svg#neosans) format('svg');font-style:normal;font-weight:400}
@font-face{font-family:neosans-italic;src:url(../fonts/neosans-italic/neosans-italic-webfont.eot);src:url(../fonts/neosans-italic/neosans-italic-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/neosans-italic/neosans-italic-webfont.woff) format('woff'),url(../fonts/neosans-italic/neosans-italic-webfont.ttf) format('truetype'),url(../fonts/neosans-italic/neosans-italic-webfont.svg#neosans-italic) format('svg');font-style:normal;font-weight:400}
