﻿* { margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block;}
body { cursor:default;background:#EAEAEA; font:12px Arial, Helvetica, sans-serif; color:#333; }
.hack-shadow { background: url(../img/CIPGenerado/bg-shadow-body.png) repeat-x; height:9px; position:absolute; top:111px; left:0; width:100%; z-index:1; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
	  .hack-shadow {   top:109px !important; }
}
ul { list-style:disc inside;}
a { text-decoration:none; }
img { max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }
p { margin-bottom:13px; }
hr { height:1px; border:0; border-bottom:1px solid #999; margin-bottom:18px; }
/* Header */
header { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; position: relative; z-index: 998; }
header .top-head { background:#343434; }
header .top-head .content-top-head { padding:2px 0 0 6px; height:19px; width:994px; margin:0 auto; background:#343434; }
header .content-top-head img { vertical-align:top; width:97px; height:16px; }
header .head { background:#FFCC00; }
header .head  .content-head { height:79px; padding:14px 0 0 33px; width:967px; margin:0 auto; background:#FFCC00;  }
header .head h1 { float:left; }
header .head h1 img { width:149px; height:60px; }
header .head h2 { float:left; font-size:12px; font-weight:normal; color:#221F20; padding:31px 0 0 66px; }
/* Content */
#wrapper { width:1000px; margin:0 auto; background:#FFF; padding:37px 0 65px 0; position:relative; z-index:999; }
.content-company { padding:16px; border:1px solid #999; width:689px; margin:0 auto 26px; text-align:center; }
.content-company img { margin-bottom:10px; height:40px; }
.content-company p { margin-bottom:10px; font-weight:bold; }
.content-company .c-seccion { margin:0; font-weight:normal; }
.content-paid { text-align:center; margin-bottom:30px; } 
.content-paid img { margin-bottom:4px; height:70px; }
.content-paid p { margin-bottom:5px; font-size:14px; }
.content-paid p span { font-size:18px; color:#FF0000; }
.content-paid .code { font-weight:bold; margin:0; }
.content-terms { width:840px; margin:0 auto; }
.content-terms p { padding:0 20px; }
.content-terms .terms { padding:0 20px; margin-bottom:28px; }
.terms .tbank-title { height:24px; border-bottom:1px solid #999; position:relative; padding-top:8px; }
.terms .tbank-title h3 { font-size:14px; font-weight:bold; padding-top:3px; }
.terms .tbank-title h3 span { font-size:12px; font-weight:normal; }
.terms .tbank-title .view-tbank { display:block; width:20px; height:20px; background-image:url(../img/CIPGenerado/bank-plus.png); background-repeat: no-repeat; position:absolute; right:0; top:8px; }
.terms .tbank-title .view-tbank.active { background-position:100% 0; }
.terms .tbank-content { padding:20px 12px 7px; display:none; }
.terms .tbank-content p { padding:0; }
.terms .tbank-content ul { margin:0 0 13px 6px; }
.form-actions { text-align:center; }
/* Footer */
footer { background:url(../img/CIPGenerado/bg-footer.png) repeat-x; height:49px; }
footer #content-footer { width:974px; margin:0 auto; padding:5px 0 0 26px; height:44px }
#content-footer .foot-logo, #content-footer ul { float:left; }
#content-footer .foot-logo img { width:97px; height:40px; }
#content-footer ul { padding:14px 0 0 18px; list-style:none; }
#content-footer ul li { float:left; color:#CCC; line-height:12px;  }
#content-footer ul li.break { margin:0 12px; }
#content-footer ul li a { color:#CCC; text-decoration:underline; }
#content-footer ul li a:hover { color:#FFF; }
/* Button */
.btn + .btn { margin-left:18px; }
.btn {
  border-left: 0 none #e6e6e6;
    border-right: 0 none #e6e6e6;
    border-top: 0 none #e6e6e6;
    border-bottom: 0 none #b3b3b3;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:bold;
  display: inline-block;
  *display: inline;
    padding: 4px 10px 4px;
    margin-bottom: 0;
  *margin-left: .3em;
    font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
    background-repeat: repeat-x;
  *-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);*
}

.btn:hover,.btn:active,.btn.active { background-color: #e6e6e6;*background-color: #d9d9d9;}
.btn:active,.btn.active { background-color: #cccccc \9; }
.btn:first-child { *margin-left: 0; }
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.btn.active, .btn:active {background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-primary, .btn-primary:hover { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn { border-color: #ccc; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-repeat: repeat-x;
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    border-left-color: #0055cc;
    border-right-color: #0055cc;
    border-top-color: #0055cc;
    border-bottom-color: #003580;
}
.btn-primary:hover,.btn-primary:active,.btn-primary.active { background-color: #0055cc; *background-color: #004ab3; }
.btn-primary:active, .btn-primary.active { background-color: #004099 \9; }
button.btn,input[type="submit"].btn { *padding-top: 2px; *padding-bottom: 2px; }
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {  padding: 0;  border: 0; }
button.btn.btn-large, input[type="submit"].btn.btn-large { *padding-top: 7px; *padding-bottom: 7px; }
button,input,select,textarea { margin: 0; font-size: 100%; vertical-align: middle; }
button,input { *overflow: visible; line-height: normal;}
button::-moz-focus-inner,input::-moz-focus-inner { padding: 0; border: 0; }
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
.btn-large {
  padding: 13px 59px;
  font-size: 22px;
  line-height: 22px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
/* Hacks */
.lt-ie7 header nav ul li a, .lt-ie7 #content-footer ul li a { float:left; }
.lt-ie9 img { width:auto !important; }
.lt-ie9 header nav ul { position:absolute; }
/* Print */
@media print
{
.form-actions { display:none !important; }
/*.terms .tbank-content { display: block !important;}*/
.lkRegresar { display: none !important; }
}