﻿BODY
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma
}


table.grilla{

border:1px solid #ada98c;
border-collapse:separate;
border-spacing:0;
width:590px;
}
table.grilla table
{
	border:0px;
	border-color:White;
	}
table.grilla th
{

		background-color:#ada98c; 
	padding:5px;
	color:#FFFFFF;

}
table.grilla td{
padding:2px;

}
.grilla a{
	text-decoration:none;
	color: #000000;
}
.grilla .cabecera
{

	background-color:#ada98c; 
	padding:5px;
	color:#FFFFFF;	
}

body
{
	text-align:center ;
}

.TituloEstadoCuenta
{
FONT-SIZE: 11pt; BACKGROUND-COLOR: white; height: 6px; width: 420px;
	}
	
	.TablaInfoCliente
	{
		border-right: black thin solid; border-top: black thin solid; border-left: black thin solid; width: 98%; border-bottom: black thin solid
		}
		
		.TablaInfoClienteTD
		{}