<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ConSuscriptores.aspx.vb" Inherits="ConSuscriptores" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
      <script language="javascript" type ="text/javascript" >
    function Enviar()
    {

    form1.Button2.click();
    }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table>
   
    <tr>
    <td style="width: 118px; height: 24px;">
        CodCliente:
    </td>
    <td style="width: 398px; height: 24px;">
        <asp:TextBox ID="txt_codcli" runat="server">846073</asp:TextBox>
        <asp:TextBox ID="TextBox1" runat="server" style="visibility:hidden"></asp:TextBox></td>
    </tr>
    <tr>
    <td>
        Cliente:&nbsp;</td>
    <td style="width: 398px">
        &nbsp;<asp:TextBox ID="txt_cliente" runat="server">Cesar Miranda</asp:TextBox>
        <asp:TextBox ID="TextBox2" runat="server" style="visibility:hidden"></asp:TextBox></td>
    </tr>
    <tr>
    <td style="height: 26px">
        Direccion:</td>
    <td style="height: 26px; width: 398px;">
    <asp:TextBox ID="txt_direc" runat="server">AV. Proceres</asp:TextBox>
        <asp:TextBox ID="TextBox3" runat="server" style="visibility:hidden"></asp:TextBox></td>
    </tr>
     <tr>
    <td style="width: 118px; height: 24px;">
        TipoDoc:
    </td>
    <td style="width: 398px; height: 24px;">
        <asp:DropDownList ID="ddl_tipodoc" runat="server">
            <asp:ListItem>DNI</asp:ListItem>
            <asp:ListItem>PAS</asp:ListItem>
            <asp:ListItem>RUC</asp:ListItem>
            <asp:ListItem>BOL</asp:ListItem>
        </asp:DropDownList>
        <asp:TextBox ID="TextBox4" runat="server" style="visibility:hidden"></asp:TextBox></td>
    </tr>
    <tr>
    <td>
        Num.Doc:&nbsp;</td>
    <td style="width: 398px">
    <asp:TextBox ID="txt_numdoc" runat="server">343435</asp:TextBox>
        <asp:TextBox ID="TextBox5" runat="server" style="visibility:hidden"></asp:TextBox></td>
    </tr>
    
    </table>
    
    </div>
        <br />
        <asp:Button ID="Button1" runat="server" Text="Consultar"  />
      <%--  <asp:Button ID="Button2" runat="server" PostBackUrl="http://localhost/SUS.WebPagosPendientes/FormSuscriptores.aspx"--%>
        <asp:Button ID="Button2" runat="server" 
            Text="Button" style="visibility:hidden"  />
    </form>
</body>
</html>
