<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Kotear.aspx.vb" Inherits="Kotear" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table style="width: 500px; height: 61px">
            <tr>
                <td colspan="1" style="width: 107px; height: 21px">
                </td>
                <td style="height: 21px;" colspan="6">
                    Datos de Prueba para el Request de Pago Efectivo</td>
            </tr>
            <tr>
                <td colspan="1" style="width: 107px">
                </td>
                <td colspan="6">
                </td>
            </tr>
            <tr>
                <td colspan="1" style="width: 107px">
                    Server</td>
                <td colspan="6">
                    <asp:TextBox ID="txtServer" runat="server" Width="450px">http://192.168.9.5/PagoEfectivo/CLI/PRGeOrPaLo.aspx?</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px; height: 21px;">
                </td>
                <td style="width: 19px; height: 21px;">
                    Parametro</td>
                <td style="width: 2395px; height: 21px;">
                    Valor.............
                </td>
                <td style="width: 227px; height: 21px;">
                    .........</td>
                <td style="width: 227px; height: 21px;">
                </td>
                <td style="width: 130px; height: 21px;">
                    SubParametros</td>
                <td style="width: 183px; height: 21px;">
                    Valor</td>
            </tr>
            <tr>
                <td style="width: 107px; height: 20px">
                    1-</td>
                <td style="width: 19px; height: 20px">
                    EMerchantID</td>
                <td style="width: 2395px; height: 20px">
                    <asp:TextBox ID="TextBox1" runat="server" Width="80px">KOT</asp:TextBox></td>
                <td style="width: 227px; height: 20px">
                </td>
                <td style="width: 227px; height: 20px">
                </td>
                <td style="width: 130px; height: 20px">
                </td>
                <td style="width: 183px; height: 20px">
                </td>
            </tr>
            <tr>
                <td style="width: 107px">
                    2-</td>
                <td style="width: 19px">
                    EDatosEnc</td>
                <td style="width: 2395px">
                    <asp:TextBox ID="txtDatosEnc" runat="server" Width="80px">datosEnc</asp:TextBox></td>
                <td style="width: 227px">
                </td>
                <td style="width: 227px">
                </td>
                <td style="width: 130px">
                </td>
                <td style="width: 183px">
                </td>
            </tr>
            <tr>
                <td style="width: 107px; height: 21px">
                </td>
                <td style="width: 19px; height: 21px">
                </td>
                <td style="width: 2395px; height: 21px">
                </td>
                <td style="width: 3262px; height: 21px">
                    1-</td>
                <td style="width: 227px; height: 21px">
                    MerchantID</td>
                <td style="width: 130px; height: 21px">
                    <asp:TextBox ID="txtMerchantID" runat="server">empresa</asp:TextBox></td>
                <td style="width: 183px; height: 21px">
                    <asp:TextBox ID="txtMerchantIDValor" runat="server" Width="350px">001</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px; height: 26px;">
                </td>
                <td style="width: 19px; height: 26px;">
                </td>
                <td style="width: 2395px; height: 26px;">
                </td>
                <td style="width: 3262px; height: 26px;">
                    2-</td>
                <td style="width: 227px; height: 26px;">
                    OrdenId</td>
                <td style="width: 130px; height: 26px;">
                    <asp:TextBox ID="txtOrderID" runat="server">egp_OrderID</asp:TextBox></td>
                <td style="width: 183px; height: 26px;">
                    <asp:TextBox ID="txtOrderIDValor" runat="server" Width="350px">000001</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px">
                </td>
                <td style="width: 19px">
                </td>
                <td style="width: 2395px">
                </td>
                <td style="width: 3262px">
                    3-</td>
                <td style="width: 227px">
                    UrlOk</td>
                <td style="width: 130px">
                    <asp:TextBox ID="txtUrlOk" runat="server">egp_UrlOk</asp:TextBox></td>
                <td style="width: 183px">
                    <asp:TextBox ID="txtUrlOkValor" runat="server" Width="350px">http://192.168.9.5/kotear/UrlOk.html</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px">
                </td>
                <td style="width: 19px">
                </td>
                <td style="width: 2395px">
                </td>
                <td style="width: 3262px">
                    4-</td>
                <td style="width: 227px">
                    UrlError</td>
                <td style="width: 130px">
                    <asp:TextBox ID="txtUrlError" runat="server">egp_UrlError</asp:TextBox></td>
                <td style="width: 183px">
                    <asp:TextBox ID="txtUrlErrorValor" runat="server" Width="350px">http://192.168.9.5/kotear/UrlError.html</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px; height: 16px">
                </td>
                <td style="width: 19px; height: 16px;">
                </td>
                <td style="width: 2395px; height: 16px">
                </td>
                <td style="width: 3262px; height: 16px">
                    5-</td>
                <td style="width: 227px; height: 16px;">
                    MailCom</td>
                <td style="width: 130px; height: 16px;">
                    <asp:TextBox ID="txtMailCom" runat="server">egp_MailCom</asp:TextBox></td>
                <td style="width: 183px; height: 16px;">
                    <asp:TextBox ID="txtMailComValor" runat="server" Width="350px">mail@compa&#241;ia.com</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px">
                </td>
                <td style="width: 19px">
                </td>
                <td style="width: 2395px">
                </td>
                <td style="width: 3262px">
                    6-</td>
                <td style="width: 227px">
                    OrdenDesc</td>
                <td style="width: 130px">
                    <asp:TextBox ID="txtOrdenDesc" runat="server">egp_OrderDescription</asp:TextBox></td>
                <td style="width: 183px">
                    <asp:TextBox ID="txtOrdenDescValor" runat="server" Width="350px">Televisor LG</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px">
                </td>
                <td style="width: 19px">
                </td>
                <td style="width: 2395px">
                </td>
                <td style="width: 3262px">
                    7-</td>
                <td style="width: 227px">
                    Moneda</td>
                <td style="width: 130px">
                    <asp:TextBox ID="txtMoneda" runat="server">egp_Currency</asp:TextBox></td>
                <td style="width: 183px">
                    <asp:TextBox ID="txtMonedaValor" runat="server" Width="350px">1</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px">
                </td>
                <td style="width: 19px">
                </td>
                <td style="width: 2395px">
                </td>
                <td style="width: 3262px">
                    8-</td>
                <td style="width: 227px">
                    Monto</td>
                <td style="width: 130px">
                    <asp:TextBox ID="txtMonto" runat="server">importe</asp:TextBox></td>
                <td style="width: 183px">
                    <asp:TextBox ID="txtMontoValor" runat="server" Width="350px">10000000</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px; height: 26px;">
                </td>
                <td style="width: 19px; height: 26px;">
                </td>
                <td style="width: 2395px; height: 26px;">
                </td>
                <td style="width: 3262px; height: 26px;">
                    9.-</td>
                <td style="width: 227px; height: 26px;">
                    UsuarioID</td>
                <td style="width: 130px; height: 26px;">
                    <asp:TextBox ID="txtUsuarioID" runat="server">cliente</asp:TextBox></td>
                <td style="width: 183px; height: 26px;">
                    <asp:TextBox ID="txtUsuarioIDValor" runat="server" Width="350px">59</asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 107px">
                </td>
                <td style="width: 19px">
                </td>
                <td style="width: 2395px">
                </td>
                <td style="width: 3262px">
                </td>
                <td style="width: 227px">
                </td>
                <td style="width: 130px">
                </td>
                <td style="width: 183px">
                    <asp:Button ID="btnPagoEfectivo" runat="server" Text="Ir a Pago Efectivo" /></td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
