<%@ Page Language="VB" AutoEventWireup="false" CodeFile="WebUtil.aspx.vb" Inherits="WebUtil" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Web Util</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <table style="width: 670px">
     <tr>
        <td style="width: 472px">
            Input: <asp:TextBox ID="txtString" runat="server" Height="43px" Width="630px"></asp:TextBox>
        </td>
     </tr>
     <tr>
        <td style="width: 472px">
        <asp:Button ID="btnEncriptar" runat="server" Text="Encriptar" />
        <asp:Button ID="btnDesencriptar" runat="server" Text="Desencriptar" />
        </td>
     </tr>
     <tr>
        <td style="width: 472px">
        Resultado:<asp:TextBox ID="txtResultado" runat="server" Height="131px" TextMode="MultiLine" Width="606px"></asp:TextBox>
        </td>
     </tr>          
    </table>
        
    </form>
</body>
</html>
