﻿<table border="1" style="font-family: Arial">
    <thead>
        <tr>
            <th colspan="7" style="font-weight: bold; color: white; background-color: #4682b4;">
                Datos Cambio de Estado de CIP de Expirado a Generado
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                CIP
            </th>
            <th>
                Portal
            </th>
            <th>
                Moneda
            </th>
            <th>
                Monto
            </th>
            <th>
                Motivo
            </th>
            <th>
                Usuario
            </th>
            <th>
                Fecha Cambio
            </th>
        </tr>
        <tr>
            <td>
                [CIP]
            </td>
            <td>
                [Portal]
            </td>
            <td>
                [Moneda]
            </td>
            <td>
                [Monto]
            </td>
            <td>
                [Motivo]
            </td>
            <td>
                [Usuario]
            </td>
            <td>
                [FechaCambio]
            </td>
        </tr>
    </tbody>
</table>
