<%@ Page Language="VB" Async="true" MasterPageFile="~/MasterPageBase.master" AutoEventWireup="false" CodeFile="ServicioNoEncontrado.aspx.vb" Inherits="ServicioNoEncontrado" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblMensaje" runat="server" Font-Size="Large" Text="Lo sentimos... el servicio no fue encontrado o se encuentra inactivo..."></asp:Label><br />
</asp:Content>

