﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="QueEsPE.aspx.vb" Inherits="QueEsPE" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>¿Qué es PagoEfectivo?</title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Literal ID="ltrQueEsPE" runat="server" ></asp:Literal>
    </form>
</body>
</html>
