<%@ Page Language="VB" Async="true" AutoEventWireup="false" CodeFile="PRSolPago.aspx.vb" Inherits="PAS_PRSolPago" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="frmSolPago" runat="server">
    <div>
        <asp:HiddenField ID="hdnServicio"   runat="server" Value="" />
        <asp:HiddenField ID="hdnDatosEncr"   runat="server" Value="" />
    </div>
    </form>
</body>
</html>
