﻿<div id="body_pe">
    <div class="conten_ab">
        <div class="faq_pe">
            <h2>
                Política de privacidad</h2>
        </div>
        <div class="respuestas_pe">
            <div class="respuestafaq">
                <p>
                    En esta sección se describe qué tipo de información recoge <a href="http://urbania.pe">
                        Urbania.pe</a> sobre sus usuarios, qué uso se hace de la misma y qué puede pasar
                    con esta información. Dado que al momento de registrarse en <a href="http://urbania.pe">
                        Urbania.pe</a>, los usuarios aceptan que se utilice su información personal
                    de acuerdo a las políticas que se detallan a continuación, resulta muy importante
                    prestar especial atención a tales políticas a fin de conocer las actividades y cuidados
                    que tenemos en <a href="http://urbania.pe">Urbania.pe</a> con la información de
                    nuestros usuarios.</p>
                <p>
                    Forma parte de la actividad propia de <a href="http://urbania.pe">Urbania.pe</a>
                    el hecho de tener que obtener y, en los casos en que esto es necesario, comunicar
                    información sobre nuestros usuarios. Sin embargo, la privacidad de la información
                    es muy importante para <a href="http://urbania.pe">Urbania.pe</a>. Por tal motivo
                    tomamos las precauciones necesarias. Para esto, utilizamos las herramientas de seguridad
                    informática de protección de la información más completas y eficaces disponibles
                    en la actualidad.</p>
                <p>
                    <h3>
                        1.- La información que obtenemos</h3>
                </p>
                <p>
                    Al momento de registrase en <a href="http://urbania.pe">Urbania.pe</a>, se solicitan
                    al usuario datos personales completos y exactos, que <a href="http://urbania.pe">Urbania.pe</a>
                    podrá confirmar acudiendo a entidades públicas y compañías especializadas según
                    se advierte en los Términos de Uso que el usuario acepta al registrarse. Toda la
                    información que <a href="http://urbania.pe">Urbania.pe</a> obtenga será tratada
                    en forma confidencial.</p>
                <p>
                    Queda constancia que en cualquier momento, todo usuario registrado en <a href="http://urbania.pe">
                        Urbania.pe</a> podrá proceder a la modificación y/o pedir la baja y eliminación
                    de su cuenta e información personal de la base de datos de <a href="http://urbania.pe">
                        Urbania.pe</a>.</p>
                <p>
                    Como parte de la actividad propia de <a href="http://urbania.pe">Urbania.pe</a>,
                    necesitamos obtener y guardar toda la información sobre el comportamiento de los
                    usuarios dentro de nuestra página. Entre la información que recabamos y almacenamos,
                    se puede incluir:</p>
                <ul class="list_common list_style_outside">
                    <li>La URL de la que proviene (incluyendo las externas a nuestro sitio) </li>
                    <li>URL más visitadas por el Usuario (incluyendo las externas a nuestro sitio) </li>
                    <li>Direcciones de IP </li>
                    <li>Navegador que utiliza </li>
                    <li>Todas las actividades realizadas dentro de nuestro sitio (avisos publicados, selección
                        de favoritos, etc.)</li>
                </ul>
                <p>
                    <h3>
                        2.- Confidencialidad de la información</h3>
                </p>
                <p>
                    Toda la información recabada será tratada de acuerdo a las políticas aquí expresadas,
                    Sin embargo, puede ocurrir que esta información sea solicitada por vía judicial
                    o requerimiento legal, o bien que sea interceptada o robada en algún proceso de
                    transmisión o por un acceso no permitido a nuestra base de datos. En cualquiera
                    de estos casos <a href="http://urbania.pe">Urbania.pe</a> no será responsable por
                    la información revelada o el uso que se haga de la misma.</p>
                <p>
                    <h3>
                        3.- Uso de la información obtenida</h3>
                </p>
                <p>
                    Como parte de nuestra actividad necesitamos obtener información personal de nuestros
                    usuarios. Entre la utilización que se da a la información recabada podemos mencionar:</p>
                <ul class="list_common list_style_outside">
                    <li>Brindar los Datos de Contacto del anunciante o creador del aviso. Toda la información
                        así obtenida sólo podrá utilizarse para concretar la operatoria que dio lugar al
                        envío de estos datos, no pudiendo ser usada para ningún otro fin, salvo que se cuente
                        con la autorización expresa del usuario involucrado y de <a href="http://urbania.pe">
                            Urbania.pe</a>. </li>
                    <li>Ponernos en contacto con alguna persona interesada en utilizar algún servicio ofrecido
                        por <a href="http://urbania.pe">Urbania.pe</a>. </li>
                    <li>Realizar estudios referidos a los intereses y conductas de nuestros usuarios.
                    </li>
                    <li>Informar a nuestros usuarios sobre los nuevos servicios y promociones ofrecidos
                        por <a href="http://urbania.pe">Urbania.pe</a> y/o por nuestros anunciantes. El
                        usuario podrá optar por no ser incorporado en las listas. </li>
                    <li>Enviar información a los usuarios de acuerdo a sus preferencias.</li>
                    <li>Informar sobre los ganadores de premios, promociones, concursos y/ o sorteos realizados
                        por <a href="http://urbania.pe">Urbania.pe</a>, para lo cual toda persona que participe
                        en alguno de ellos autoriza expresamente a <a href="http://urbania.pe">Urbania.pe</a>
                        a difundir por los medios y formas que <a href="http://urbania.pe">Urbania.pe</a>
                        crea necesarios, los datos personales y fotografías de los ganadores y de sus familias,
                        sin derecho a compensación alguna. </li>
                    <li>Compartir los datos personales obtenidos por <a href="http://urbania.pe">Urbania.pe</a>
                        con todas las empresas que contribuyan a mejorar o facilitar la operatoria de y
                        a través de <a href="http://urbania.pe">Urbania.pe</a>, servicios de transporte,
                        medios de pago, proveedores de seguros, gestores, entre otros. Más allá que estas
                        compañías o sitios de Internet poseen políticas de seguridad y confidencialidad
                        de la información, similares a las nuestras, <a href="http://urbania.pe">Urbania.pe</a>
                        buscará, mantener la privacidad de la información manejada dando cumplimiento a
                        las políticas aquí expresadas. Sin embargo, <a href="http://urbania.pe">Urbania.pe</a>
                        no se hace responsable bajo ningún concepto, por el uso indebido que estas compañías
                        o sitios de Internet puedan hacer de esta información. En el caso que sean estas
                        propias compañías las que obtengan información dando cumplimiento a tareas solicitadas
                        por <a href="http://urbania.pe">Urbania.pe</a>, (tal el caso de encuestas o informes,
                        previa comunicación nuestra advirtiendo sobre la situación), esta información será
                        manejada por la prestadora del servicio involucrada, de acuerdo a sus propias políticas
                        de privacidad y a los acuerdos alcanzados con <a href="http://urbania.pe">Urbania.pe</a>
                        referidos a la materia. </li>
                    <li><a href="http://urbania.pe">Urbania.pe</a> facilitará toda la Información personal
                        sobre los usuarios solicitada por la autoridad competente con el fin de investigar
                        y/ o resolver sobre litigios producidos por operatorias del sitio.</li>
                </ul>
                <p>
                    <h3>
                        4.- Confidencialidad de la Contraseña</h3>
                </p>
                <p>
                    La contraseña con la que los usuarios registrados en <a href="http://urbania.pe">Urbania.pe</a>
                    ingresan al sitio, debe ser mantenida por los mismos en absoluta reserva y confidencialidad
                    y no debe ser suministrada bajo ninguna circunstancia a otras personas. Si un usuario
                    tiene la sospecha que otra persona conoce su contraseña, deberá modificarla a la
                    brevedad, ya que el usuario será el único responsable por todos los actos que se
                    realicen utilizando su apodo y contraseña, para lo cual es indispensable haber ingresado
                    la contraseña correspondiente. Entre las responsabilidades se incluyen, entre otras,
                    el pago de tarifas eventualmente ocasionadas o responder por los daños y perjuicios
                    que otros usuarios puedan sufrir por los motivos aquí expresados.</p>
                <p>
                    <h3>
                        5.- Situación de los Menores de Edad</h3>
                </p>
                <p>
                    <a href="http://urbania.pe">Urbania.pe</a> puede ser utilizado por todas las personas
                    que tengan capacidad de contratar de acuerdo a la legislación vigente, a menos que
                    lo hagan por medio de sus padres o tutores, conforme a la ley.<br>
                    <br>
                    <h3>
                        6.- El uso de la información por otros usuarios</h3>
                </p>
                <p>
                    Forma parte de la actividad propia de <a href="http://urbania.pe">Urbania.pe</a>,
                    dar a conocer los datos de contacto del vendedor del vehículo y/o servicio. El resto
                    de los datos personales recabados por <a href="http://urbania.pe">Urbania.pe</a>
                    en el proceso de registro o en cualquier otro momento, no serán suministrados a
                    ningún otro usuario. El uso que los usuarios podrán hacer de los datos es:</p>
                <ul class="list_common list_style_outside">
                    <li>Establecer comunicaciones relacionadas con <a href="http://urbania.pe">Urbania.pe</a>
                        siempre que no sean comunicaciones comerciales no solicitadas.</li>
                    <li>Utilizar servicios ofrecidos en <a href="http://urbania.pe">Urbania.pe</a></li>
                    <li>Cualquier otro objetivo siempre que el usuario dé su consentimiento expreso luego
                        de haber recibido toda la información legal necesaria.</li>
                </ul>
                <p>
                    Queda terminantemente prohibido brindar Información Personal sobre otro usuario
                    de <a href="http://urbania.pe">Urbania.pe</a> sin que medie la expresa autorización
                    por parte del usuario en cuestión y la de <a href="http://urbania.pe">Urbania.pe</a>.
                    En tal sentido, queda expresamente prohibido incorporar la dirección de e-mail o
                    el teléfono de otro usuario de <a href="http://urbania.pe">Urbania.pe</a> a la agenda
                    de direcciones de correo electrónico u otro tipo de agenda personal, si no se cuenta
                    con las autorizaciones antes mencionadas, incluso en los casos en que se haya realizado
                    una operación comercial entre los usuarios en cuestión.</p>
                <p>
                    <h3>
                        7.- Instalación y mantenimiento de Cookies</h3>
                </p>
                <p>
                    Los cookies son pequeños archivos que se instalan en el disco rígido con una duración
                    de tiempo limitada con el fin de poder personalizar el servicio que <a href="http://urbania.pe">
                        Urbania.pe</a> presta a sus Usuarios, así como agilizar la navegación en nuestra
                    página. En el momento del registro y por medio de la aceptación de las Condiciones
                    Generales, el usuario toma conocimiento y acepta la utilización de cookies por parte
                    de <a href="http://urbania.pe">Urbania.pe</a>. Esto debe ser así pues existen algunas
                    operaciones que no se pueden realizar sin permitir la instalación de cookies. Se
                    deja constancia que en ningún caso la instalación de cookies será utilizada con
                    ningún fin ajeno a la operatoria y actividad propia de <a href="http://urbania.pe">Urbania.pe</a>.</p>
                <p>
                    Sin perjuicio de lo antes expuesto, permitir la instalación y mantenimiento de cookies
                    en el disco rígido es exclusiva determinación de los usuarios, quienes pueden eliminar
                    y restringir los cookies en su computadora en el momento que lo crean oportuno.
                    La forma de proceder a la eliminación de cookies depende del navegador que se utilice.
                    Por tal motivo recomendamos consultar la ayuda del mismo para interiorizarse sobre
                    la cuestión.</p>
                <p>
                    Puede suceder que otros usuarios de <a href="http://urbania.pe">Urbania.pe</a> utilicen
                    cookies u otros sistemas de similar finalidad, tal el caso de acceder y navegar
                    por una página creada por un usuario como parte de la descripción del producto o
                    servicio que ofrece. <a href="http://urbania.pe">Urbania.pe</a> no se hace responsable
                    ni controla el uso de cookies por parte de otros usuarios o por terceros.</p>
                <p>
                    <h3>
                        8.- Enviar aviso</h3>
                </p>
                <p>
                    Queda expresamente aclarado que <a href="http://urbania.pe">Urbania.pe</a> no acepta,
                    de acuerdo a sus Políticas de Publicación y de Privacidad y Confidencialidad de
                    la Información, el envío no deseado de correo electrónico (SPAM). En el mismo sentido,
                    no permite que se utilice su sitio o la información en él obtenida para realizar
                    esta actividad. Queda incluida en esta restricción el servicio Enviar aviso, cualquiera
                    sea la finalidad que se busque.</p>
                <p>
                    <a href="http://urbania.pe">Urbania.pe</a> se reserva el derecho de suspender o
                    inhabilitar definitivamente a aquellos usuarios que no respeten esta prohibición
                    y utilicen este servicio con los fines antes mencionados.</p>
                <p>
                    <h3>9.- Compartir vehículo con un amigo</h3></p>
                <p>
                    Si eliges usar el servicio "Envía este vehículo a un amigo", <a href="http://urbania.pe">
                        Urbania.pe</a> podrá requerir el nombre y correo electrónico de la persona a
                    quien se le remita. A través de esta funcionalidad, <a href="http://urbania.pe">Urbania.pe</a>,
                    enviará un e-mail automático invitándolo a visitar cierto producto en el sitio Web.
                    <a href="http://urbania.pe">Urbania.pe</a> , utilizará el correo electrónico de
                    la persona a quien se le remita sólo para enviarle esta comunicación y posterior
                    seguimiento, sin embargo dicha información no será almacenada. Para ello, <a href="http://urbania.pe">
                        Urbania.pe</a> efectuará el envío de acuerdo a las normas legales vigentes sobre
                    el “SPAM”.</p>
                <p>
                    De acuerdo a su Política de Privacidad, <a href="http://urbania.pe">Urbania.pe</a>
                    tomará los recaudos necesarios para evitar el envío no solicitado de e-mails o “SPAM”</p>
                <p>
                    <h3>10.- Orden de autoridades competentes - Requerimientos Legales</h3></p>
                <p>
                    <a href="http://urbania.pe">Urbania.pe</a> coopera con las autoridades competentes
                    y con otros terceros para garantizar el cumplimiento de las leyes, por ejemplo en
                    materia de protección de derechos de propiedad industrial e intelectual, competencia
                    desleal, publicidad comercial, prevención del fraude y otras materias.</p>
                <p>
                    <a href="http://urbania.pe">Urbania.pe</a> podrá revelar la información personal
                    que los usuarios le hayan suministrado cuando así lo exijan las autoridades judiciales
                    o gubernamentales competentes para efectos de investigaciones conducidas por ellas,
                    aunque no exista una orden ni una citación ejecutiva o judicial, o por ejemplo (y
                    sin limitación a este supuesto) cuando se trate de investigaciones de carácter penal
                    o de fraude, o las relacionadas con piratería informática o la violación de derechos
                    de autor. En tales situaciones, <a href="http://urbania.pe">Urbania.pe</a> colaborará
                    con las autoridades competentes con el fin de salvaguardar la integridad y la seguridad
                    de la comunidad y la de sus usuarios.</p>
                <p>
                    <a href="http://urbania.pe">Urbania.pe</a> puede (y queda autorizada por cada usuario
                    a ello) comunicar cualquier información personal sobre sus usuarios con la finalidad
                    de dar cumplimiento a la normativa aplicable y cooperar con las autoridades competentes
                    en la medida en que discrecionalmente lo entienda necesario y adecuado en relación
                    con cualquier investigación de un ilícito o un fraude, infracción de derechos de
                    propiedad industrial o intelectual, competencia desleal, publicidad comercial u
                    otra actividad que sea ilegal o que pueda exponer a <a href="http://urbania.pe">Urbania.pe</a>
                    o a sus usuarios a cualquier responsabilidad legal. Además, <a href="http://urbania.pe">
                        Urbania.pe</a> se reserva el derecho (quedando expresamente autorizada a ello
                    por cada usuario) de comunicar información sobre sus usuarios a otros usuarios,
                    entidades o terceros cuando haya motivos suficientes para considerar que la actividad
                    de un usuario sea sospechosa de intentar o cometer un delito o intentar perjudicar
                    a otras personas. Este derecho será utilizado por <a href="http://urbania.pe">Urbania.pe</a>
                    a su entera discreción cuando lo considere apropiado o necesario para mantener la
                    integridad y la seguridad de la comunidad y la de sus Usuarios, para hacer cumplir
                    las Condiciones Generales de Uso y demás Políticas del sitio y a efectos de cooperar
                    con la ejecución y cumplimiento de la ley. Este derecho será ejercido por <a href="http://urbania.pe">
                        Urbania.pe</a> independientemente que no exista una orden judicial o administrativa
                    al efecto.</p>
                <p>
                    <h3>11.- Seguridad informática y almacenamiento de la información</h3></p>
                <p>
                    <a href="http://urbania.pe">Urbania.pe</a> aplica las medidas de seguridad informática
                    según los estándares internacionales y en cumplimiento de la legislación aplicable
                    en esa materia y lo aquí estatuido en relación a políticas de privacidad y confidencialidad
                    de la información, comprometiéndose con la confidencialidad y protección de la información
                    recabada. No obstante, y más allá del esfuerzo y compromiso que <a href="http://urbania.pe">
                        Urbania.pe</a> realiza en este sentido, se debe tener conciencia que no existe
                    en Internet ningún sistema de seguridad perfecto e infalible. <a href="http://urbania.pe">
                        Urbania.pe</a> trabaja constantemente en perfeccionar su sistema de seguridad
                    informática tratando de proteger la Información Personal de los Usuarios ante pérdidas
                    o accesos no autorizados. En tal sentido, se deja constancia que el Usuario acepta
                    que <a href="http://urbania.pe">Urbania.pe</a> proceda a la transferencia internacional
                    de datos en caso de considerarlo necesario por cuestiones de seguridad.</p>
                <p>
                    En virtud de todo lo expuesto, <a href="http://urbania.pe">Urbania.pe</a> no se
                    responsabiliza por los perjuicios que puedan ocasionarse por la violación de sus
                    sistemas de seguridad informática ni por el acceso ilegal por parte de terceros
                    (sean o no Usuarios registrados de <a href="http://urbania.pe">Urbania.pe</a>) a
                    sus bases de datos o a la información transferida por cuestiones referidas a nuestra
                    actividad o a cuestiones de seguridad. Derechos de acceso, cancelación y rectificación
                    de la información personal Desde el momento del registro en <a href="http://urbania.pe">
                        Urbania.pe</a>, todos los Usuarios cuentan con el derecho y posibilidad de acceder,
                    modificar, actualizar y eliminar su información personal. Del mismo modo el Usuario
                    puede oponerse al uso y tratamiento que se hace de la misma y pude solicitar ser
                    informado sobre el manejo que se ha hecho de la misma, en conformidad con la legislación
                    correspondiente. Más allá de los cambios que pueda realizar un Usuario, <a href="http://urbania.pe">
                        Urbania.pe</a> podrá mantener la información personal anterior por motivos de
                    seguridad o para responder a los requerimientos legales y judiciales que la información
                    personal sea borrada en forma definitiva de las bases de datos o sistemas de seguridad,
                    por los motivos legales y técnicos expresados.</p>
                <p>
                    Los datos de contacto, en caso de que hayan cambiado, deben ser actualizados inmediatamente
                    ya que los mismos son indispensables para el normal desenvolvimiento del sitio.</p>
                <p>
                    <h3>12.- Modificaciones de las Políticas de Privacidad</h3></p>
                <p>
                    <a href="http://urbania.pe">Urbania.pe</a> podrá modificar en cualquier momento
                    los términos estipulados en la presente sección y notificará los cambios al usuario
                    publicando una versión actualizada de dichas políticas en esta sección informando
                    la fecha de la última actualización. Dentro de los cinco días siguientes a la publicación
                    de las modificaciones introducidas, el usuario deberá comunicar por e-mail a la
                    dirección
                    <script language="JavaScript" type="text/javascript">
                                     <!--
                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                        var path = 'hr' + 'ef' + '=';
                        var addy89908 = 'c&#111;nt&#97;ct&#111;' + '&#64;';
                        addy89908 = addy89908 + '&#117;rb&#97;n&#105;&#97;' + '&#46;' + 'p&#101;';
                        var addy_text89908 = 'c&#111;nt&#97;ct&#111;' + '&#64;' + '&#117;rb&#97;n&#105;&#97;' + '&#46;' + 'p&#101;';
                        document.write('<a ' + path + '\'' + prefix + ':' + addy89908 + '\'>');
                        document.write(addy_text89908);
                        document.write('<\/a>');
                        //-->\n </script>
                    <a href="mailto:contacto@urbania.pe">contacto@urbania.pe</a>
                    <script language="JavaScript" type="text/javascript">
                                     <!--
                        document.write('<span style=\'display: none;\'>');
                                     //-->
                    </script>
                    <span style="display: none;">Esta dirección electrónica esta protegida contra spam bots.
                        Necesita activar JavaScript para visualizarla
                        <script language="JavaScript" type="text/javascript">
                                     <!--
                            document.write('</');
                            document.write('span>');
                                     //-->
                        </script>
                    </span>no acepta las mismas, en cuyo caso quedará disuelto el vínculo contractual.
                    Vencido este plazo, se considerará que el usuario acepta los nuevos términos y por
                    tanto las partes continuarán vinculadas.</p>
                <p>
                    Para cualquier consulta puede escribir al correo electrónico
                    <script language="JavaScript" type="text/javascript">
                                     <!--
                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                        var path = 'hr' + 'ef' + '=';
                        var addy96424 = 'c&#111;nt&#97;ct&#111;' + '&#64;';
                        addy96424 = addy96424 + '&#117;rb&#97;n&#105;&#97;' + '&#46;' + 'p&#101;';
                        var addy_text96424 = 'c&#111;nt&#97;ct&#111;' + '&#64;' + '&#117;rb&#97;n&#105;&#97;' + '&#46;' + 'p&#101;';
                        document.write('<a ' + path + '\'' + prefix + ':' + addy96424 + '\'>');
                        document.write(addy_text96424);
                        document.write('<\/a>');
                        //-->\n </script>
                    <a href="mailto:contacto@urbania.pe">contacto@urbania.pe</a>
                    <script language="JavaScript" type="text/javascript">
                                     <!--
                        document.write('<span style=\'display: none;\'>');
                                     //-->
                    </script>
                    <span style="display: none;">Esta dirección electrónica esta protegida contra spam bots.
                        Necesita activar JavaScript para visualizarla
                        <script language="JavaScript" type="text/javascript">
                                     <!--
                            document.write('</');
                            document.write('span>');
                                     //-->
                        </script>
                    </span>o llamarnos al teléfono 3116500</p>
                <p>
                    © Copyright 2009 EMPRESA EDITORA EL COMERCIO S.A. Derechos Reservados. Prohibida
                    su reproducción total o parcial.</p>
            </div>
        </div>
        <span class="article_separator"></span>
    </div>
    <div class="conten_c">
        <div class="bienvenido_pe decocaja">
            <h2>
                Bienvenido a PagoEfectivo</h2>
            <h3>
                Ahora puedes registrarte desde aqu&iacute;
            </h3>
            <input type="submit" name="ctl00$ContentPlaceHolder1$UCSeccionRegistro1$btnRegistrarse"
                value="" id="ctl00_ContentPlaceHolder1_UCSeccionRegistro1_btnRegistrarse" class="png_bg png_bg">
            <ul>
                <li><a id="ctl00_ContentPlaceHolder1_UCSeccionRegistro1_PasswordRecoveryLink" class="txt_s10"
                    href="RecuperarPassword.aspx">&iquest;Olvid&oacute; su contrase&ntilde;a?</a></li>
            </ul>
        </div>
        <div class="acordeon_pe">
            <div id="basic-accordian">
                <!--Parent of the Accordion-->
                <!--Start of each accordion item-->
                <div id="test1-header" class="accordion_headings">
                    &iquest;Necesito abrir una cuenta en PagoEfectivo?
                </div>
                <div id="test1-content" style="overflow-x: hidden; overflow-y: hidden; display: none;">
                    <div class="accordion_child">
                        No es necesario, debido a que PagoEfectivo te crear&aacute; una cuenta de usuario
                        cuando generes el c&oacute;digo de pago (CIP).<br>
                        La cuenta se crear&aacute; con el correo electr&oacute;nico que utilices para hacer
                        la compra.
                        <br>
                        con esta cuenta tendr&aacute;s un control adecuado de tus c&oacute;digos pendientes
                        de pago.
                    </div>
                </div>
                <div id="test2-header" class="accordion_headings">
                    &iquest;PagoEfectivo comparte tu informaci&oacute;n?
                </div>
                <div id="test2-content" style="overflow-x: hidden; overflow-y: hidden; display: none;">
                    <div class="accordion_child">
                        No. La informaci&oacute;n personal registrada en PagoEfectivo, no es compartida
                        con el negocio proveedor del bien o servicio.
                        <br>
                        Los negocios tienen &uacute;nicamente la opci&oacute;n de estad&iacute;sticas, para
                        lo cual s&oacute;lo se les informar&aacute; el c&oacute;digo de pago y el monto.
                    </div>
                </div>
                <div id="test3-header" class="accordion_headings">
                    &iquest;Cu&aacute;nto tiempo tengo para pagar el CIP?
                </div>
                <div id="test3-content" style="overflow-x: hidden; overflow-y: hidden; display: none;">
                    <div class="accordion_child">
                        Este per&iacute;odo var&iacute;a de negocio a negocio, de acuerdo al per&iacute;odo
                        que se haya gestionado.<br>
                        <br>
                        Al momento de generar el c&oacute;digo de pago (CIP), el Comercio Afiliado le indicar&aacute;
                        cuanto tiempo tiene para pagar.
                    </div>
                </div>
                <!--End of each accordion item-->
            </div>
        </div>
        <div class="bienvenido_pe decocaja">
            <h2>
                Comercios Afiliados</h2>
            <div id="ctl00_ContentPlaceHolder1_UCSeccionComerciosAfil1_divScrooler" class="empresas_afilidadas_pe">
                <div class="simply-scroll simply-scroll-container">
                    <div class="simply-scroll-back">
                    </div>
                    <div class="simply-scroll-forward">
                    </div>
                    <div class="simply-scroll-clip">
                        <ul id="scroller" class="simply-scroll-list" style="width: 1595px;">
                            <li>
                                <img src="images/logo_suscriptores.jpg" alt="Suscriptores" title="Suscriptores" width="150"
                                    height="58"></li>
                            <li>
                                <img src="images/logo_neoauto.jpg" alt="Kotear" title="Neoauto" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_urbania.jpg" alt="Urbania" title="Urbania" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_kotear.jpg" alt="Logo" title="Kotear" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_ofertop.jpg" alt="OferTOP" title="OferTOP" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_aptitus.jpg" alt="Aptitus" title="Aptitus" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_suscriptores.jpg" alt="Suscriptores" title="Suscriptores" width="150"
                                    height="58"></li><li>
                                        <img src="images/logo_neoauto.jpg" alt="Kotear" title="Neoauto" width="150" height="58"></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
