﻿<div id="body_pe">
    <div class="conten_ab">
        <div class="faq_pe">
            <h2>
                Preguntas Frecuentes</h2>
            <h3>
                Personas</h3>
            <ol>
                <li><a href="#utilizar">&iquest;C&oacute;mo puedo utilizar PagoEfectivo?</a></li>
                <li><a href="#usar">&iquest;Cuesta usar PagoEfectivo?</a></li>
                <li><a href="#medios">&iquest;En que medios puedo comprar utilizando PagoEfectivo?</a></li>
                <li><a href="#cuotas">&iquest;En cu&aacute;ntas cuotas podr&iacute;a financiar la compra?</a></li>
                <li><a href="#compro">&iquest;Cu&aacute;ndo compro con PagoEfectivo comparto informaci&oacute;n
                    confidencial con el negocio?</a></li>
                <li><a href="#tiempo">&iquest;Cu&aacute;nto tiempo tengo para realizar el pago del ticket
                    generado?</a></li>
                <li><a href="#monedas">&iquest;En qu&eacute; monedas se puede pagar?</a></li>
                <li><a href="#transacciones">Para poder realizar las transacciones, &iquest;Tengo que
                    abrir una cuenta en PagoEfectivo?</a></li>
                <li><a href="#boleta">No me llega la boleta o factura por el bien o servicio contratado.
                    &iquest;Qu&eacute; debo hacer?</a></li>
            </ol>
        </div>
        <div class=" respuestas_pe">
            <h3>
                Personas</h3>
            <div class=" respuestafaq">
                <h2>
                    <a name="utilizar"></a>&iquest;C&oacute;mo puedo utilizar PagoEfectivo?</h2>
                <p>
                    Es muy f&aacute;cil y seguro. S&oacute;lo es necesario que encuentres el producto
                    de tu elecci&oacute;n y al momento de elegir el medio de pago, escojas PagoEfectivo.
                    Si no est&aacute;s registrado previamente en PagoEfectivo, te puedes registrar
                    en ese momento y generar un ticket de Pago
                </p>
                <p>
                    Con el ticket de pago o el n&uacute;mero, puedes dirigirte a los centros autorizados
                    de pago, y debes indicar que deseas pagar PagoEfectivo. Una vez realizado el pago
                    autom&aacute;ticamente, la transacci&oacute;n empezar&aacute; a tramitarse.</p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="usar"></a>&iquest;Cuesta usar PagoEfectivo?</h2>
                <p>
                    No, comprar con PagoEfectivo es totalmente gratis, es decir, no incluye gastos,
                    ni comisiones adicionales.
                </p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="medios"></a>&iquest;En que medios puedo comprar utilizando PagoEfectivo?</h2>
                <p>
                    Puedes comprar en nuestros comercios afiliados
                </p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="cuotas"></a>&iquest;En cu&aacute;ntas cuotas podr&iacute;a financiar la
                    compra?</h2>
                <p>
                    Las compras realizadas en PagoEfectivo, son por la totalidad de la compra y al
                    contado. No ofrecemos servicio de financiamiento.</p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="compro"></a>&iquest;Cu&aacute;ndo compro con PagoEfectivo comparto informaci&oacute;n
                    confidencial con el negocio?</h2>
                <p>
                    No. La informaci&oacute;n personal registrada en PagoEfectivo, no es compartida
                    con el negocio proveedor del bien o servicio. Los negocios tienen &uacute;nicamente
                    la opci&oacute;n de estad&iacute;sticas, para lo cual s&oacute;lo se les informar&aacute;
                    del n&uacute;mero de ticket y el monto..
                </p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="tiempo"></a>&iquest;Cu&aacute;nto tiempo tengo para realizar el pago del
                    ticket generado?</h2>
                <p>
                    Este per&iacute;odo var&iacute;a de negocio a negocio, de acuerdo al per&iacute;odo
                    que se haya gestionado.
                </p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="monedas"></a>&iquest;En qu&eacute; monedas se puede pagar?</h2>
                <p>
                    En la moneda escogida por el cliente al realizar la transacci&oacute;n, dentro de
                    las alternativas disponibles que el negocio disponga. De esta forma los clientes
                    no se ven afectos a riesgos cambiarios.
                </p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="transacciones"></a>Para poder realizar las transacciones, &iquest;Tengo
                    que abrir una cuenta en PagoEfectivo?</h2>
                <p>
                    Si. Es necesario, para de esa forma poderles hacerles llegar la informaci&oacute;n
                    de ofertas e informaci&oacute;n importante de nuestros negocios afiliados; y para
                    que los usuarios puedan tener un control adecuado de sus tickets pendientes de pago.</p>
            </div>
            <div class=" respuestafaq">
                <h2>
                    <a name="boleta"></a>No me llega la boleta o factura por el bien o servicio contratado.
                    &iquest;Qu&eacute; debo hacer?</h2>
                <p>
                    Recuerda que PagoEfectivo o sus locales, no es el proveedor del bien o servicio
                    contratado, s&oacute;lo una empresa recaudadora que sirve de plataforma de pagos
                    para transacciones por internet. Por eso te sugerimos contactar directamente a la
                    empresa proveedora del bien o servicio.</p>
                <p>
                    Lo que si debes tener en cuenta, es que el ticket de pago cancelado proporcionado
                    por PagoEfectivo, es el sustento legal de haber realizado una transacci&oacute;n
                    con la empresa proveedora. En ese sentido, PagoEfectivo, se compromete a ayudar
                    en las investigaciones que fueran necesarias para aclarar lo sucedido.
                </p>
            </div>
        </div>
    </div>
    <div class="conten_c">
        <div class="bienvenido_pe decocaja">
            <h2>
                Bienvenido a PagoEfectivo</h2>
            <h3>
                Ahora puedes registrarte desde aqu&iacute;
            </h3>
            <input type="submit" name="ctl00$ContentPlaceHolder1$UCSeccionRegistro1$btnRegistrarse"
                value="" id="ctl00_ContentPlaceHolder1_UCSeccionRegistro1_btnRegistrarse" class="png_bg png_bg">
            <ul>
                <li><a id="ctl00_ContentPlaceHolder1_UCSeccionRegistro1_PasswordRecoveryLink" class="txt_s10"
                    href="RecuperarPassword.aspx">&iquest;Olvid&oacute; su contrase&ntilde;a?</a></li>
            </ul>
        </div>
        <div class="acordeon_pe">
            <div id="basic-accordian">
                <!--Parent of the Accordion-->
                <!--Start of each accordion item-->
                <div id="test1-header" class="accordion_headings">
                    &iquest;Necesito abrir una cuenta en PagoEfectivo?
                </div>
                <div id="test1-content" style="overflow-x: hidden; overflow-y: hidden; display: none;">
                    <div class="accordion_child">
                        No es necesario, debido a que PagoEfectivo te crear&aacute; una cuenta de usuario
                        cuando generes el c&oacute;digo de pago (CIP).<br>
                        La cuenta se crear&aacute; con el correo electr&oacute;nico que utilices para hacer
                        la compra.
                        <br>
                        con esta cuenta tendr&aacute;s un control adecuado de tus c&oacute;digos pendientes
                        de pago.
                    </div>
                </div>
                <div id="test2-header" class="accordion_headings">
                    &iquest;PagoEfectivo comparte tu informaci&oacute;n?
                </div>
                <div id="test2-content" style="overflow-x: hidden; overflow-y: hidden; display: none;">
                    <div class="accordion_child">
                        No. La informaci&oacute;n personal registrada en PagoEfectivo, no es compartida
                        con el negocio proveedor del bien o servicio.
                        <br>
                        Los negocios tienen &uacute;nicamente la opci&oacute;n de estad&iacute;sticas, para
                        lo cual s&oacute;lo se les informar&aacute; el c&oacute;digo de pago y el monto.
                    </div>
                </div>
                <div id="test3-header" class="accordion_headings">
                    &iquest;Cu&aacute;nto tiempo tengo para pagar el CIP?
                </div>
                <div id="test3-content" style="overflow-x: hidden; overflow-y: hidden; display: none;">
                    <div class="accordion_child">
                        Este per&iacute;odo var&iacute;a de negocio a negocio, de acuerdo al per&iacute;odo
                        que se haya gestionado.<br>
                        <br>
                        Al momento de generar el c&oacute;digo de pago (CIP), el Comercio Afiliado le indicar&aacute;
                        cuanto tiempo tiene para pagar.
                    </div>
                </div>
                <!--End of each accordion item-->
            </div>
        </div>
        <div class="bienvenido_pe decocaja">
            <h2>
                Comercios Afiliados</h2>
            <div id="ctl00_ContentPlaceHolder1_UCSeccionComerciosAfil1_divScrooler" class="empresas_afilidadas_pe">
                <div class="simply-scroll simply-scroll-container">
                    <div class="simply-scroll-back">
                    </div>
                    <div class="simply-scroll-forward">
                    </div>
                    <div class="simply-scroll-clip">
                        <ul id="scroller" class="simply-scroll-list" style="width: 1595px;">
                            <li>
                                <img src="images/logo_suscriptores.jpg" alt="Suscriptores" title="Suscriptores" width="150"
                                    height="58"></li>
                            <li>
                                <img src="images/logo_neoauto.jpg" alt="Kotear" title="Neoauto" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_urbania.jpg" alt="Urbania" title="Urbania" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_kotear.jpg" alt="Logo" title="Kotear" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_ofertop.jpg" alt="OferTOP" title="OferTOP" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_aptitus.jpg" alt="Aptitus" title="Aptitus" width="150" height="58"></li>
                            <li>
                                <img src="images/logo_suscriptores.jpg" alt="Suscriptores" title="Suscriptores" width="150"
                                    height="58"></li><li>
                                        <img src="images/logo_neoauto.jpg" alt="Kotear" title="Neoauto" width="150" height="58"></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
