﻿<%@ Master Language="VB" CodeFile="MasterPageHelp01.master.vb" Inherits="Ayuda_MasterPageHelp01" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28965570-1']);
        _gaq.push(['_setDomainName', '.pagoefectivo.pe']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <title>PagoEfectivo</title>
    <meta http-equiv="Content-language" content="cs" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
</head>
<body id="portadaAgente">
    <form id="form1" runat="server">
    <div id="container">
        <div id="header" style="left: 0px; top: 0px">
            <h1>
                <a id="A1" href="~/Default.aspx" runat="server">PagoEfectivo</a>
            </h1>
            <p class="slogan">
                Transacciones seguras
                <br />
                por Internet en el Per&uacute;
            </p>
        </div>
        <hr class="deleted" />
        <div id="main-nav">
        </div>
        <hr class="deleted" />
        <div class="agente-wrapper-content">
            <div id="secondary-nav" class="left">
                &nbsp;
                <asp:Menu ID="MenuPE" CssClass="MPEPrincipal" runat="server" Width="220px" StaticDisplayLevels="2">
                    <StaticHoverStyle CssClass="MPEStaticHoverStyle" />
                    <StaticMenuItemStyle CssClass="MPEStaticMenuItemStyle" />
                    <StaticSelectedStyle CssClass="MPEStaticSelectedStyle" />
                </asp:Menu>
                &nbsp;
            </div>
            <hr class="deleted" />
            <div id="content">
                <div style="margin-bottom: 5px;">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
        <div id="footer" class="ImgPlomo">
            <p>
                ©2008 PagoEfectivo.pe</p>
        </div>
    </div>
    </form>
</body>
</html>
