
#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    border: 0 none;
    display: block;
    float: left;
    margin: auto;
    max-width: none;
}
.cboxIframe {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%;
}
#colorbox, #cboxContent, #cboxLoadedContent {
}
#cboxOverlay {
    background: url("../img/colorbox/overlay.png?20130828") repeat scroll 0 0 transparent;
}
#colorbox {
}
#cboxTopLeft {
    background: url("../img/colorbox/controls.png?20130828") no-repeat scroll -101px 0 transparent;
    height: 21px;
    width: 21px;
}
#cboxTopRight {
    background: url("../img/colorbox/controls.png?20130828") no-repeat scroll -130px 0 transparent;
    height: 21px;
    width: 21px;
}
#cboxBottomLeft {
    background: url("../img/colorbox/controls.png?20130828") no-repeat scroll -101px -29px transparent;
    height: 21px;
    width: 21px;
}
#cboxBottomRight {
    background: url("../img/colorbox/controls.png?20130828") no-repeat scroll -130px -29px transparent;
    height: 21px;
    width: 21px;
}
#cboxMiddleLeft {
    background: url("../img/colorbox/controls.png?20130828") repeat-y scroll left top transparent;
    width: 21px;
}
#cboxMiddleRight {
    background: url("../img/colorbox/controls.png?20130828") repeat-y scroll right top transparent;
    width: 21px;
}
#cboxTopCenter {
    background: url("../img/colorbox/border.png?20130828") repeat-x scroll 0 0 transparent;
    height: 21px;
}
#cboxBottomCenter {
    background: url("../img/colorbox/border.png?20130828") repeat-x scroll 0 -29px transparent;
    height: 21px;
}
#cboxContent {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
}
.cboxIframe {
    background: none repeat scroll 0 0 #FFFFFF;
}
#cboxError {
    border: 1px solid #CCCCCC;
    padding: 50px;
}
#cboxLoadedContent {
    margin-bottom: 28px;
}
#cboxLoadedContent table
{
    margin: 0 auto;
}
#cboxTitle {
    bottom: 4px;
    color: #949494;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#cboxCurrent {
    bottom: 4px;
    color: #949494;
    left: 58px;
    /*position: absolute;*/
    /*display: none;*/
}
#cboxSlideshow {
    bottom: 4px;
    color: #0092EF;
    position: absolute;
    right: 30px;
}
#cboxPrevious {
    /*background: url("../img/colorbox/controls.png") no-repeat scroll -75px 0 transparent;*/
    bottom: 0;
    height: 25px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
    display: none;
}
#cboxPrevious:hover {
    background-position: -75px -25px;
}
#cboxNext {
   /* background: url("../img/colorbox/controls.png") no-repeat scroll -50px 0 transparent;*/
    bottom: 0;
    height: 25px;
    left: 27px;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
    display: none;
}
#cboxNext:hover {
    background-position: -50px -25px;
}
#cboxLoadingOverlay {
    background: url("../img/colorbox/loading_background.png?20130828") no-repeat scroll center center transparent;
}
#cboxLoadingGraphic {
    background: url("../img/colorbox/loading.gif?20130828") no-repeat scroll center center transparent;
}
#cboxClose {
    background: url("../img/colorbox/controls.png?20130828") no-repeat scroll -25px 0 transparent;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 25px;
}
#cboxClose:hover {
    background-position: -25px -25px;
}
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
}
.cboxIE6 #cboxTopLeft {
    background: url("../img/colorbox/ie6/borderTopLeft.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxTopCenter {
    background: url("../img/colorbox/ie6/borderTopCenter.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxTopRight {
    background: url("../img/colorbox/ie6/borderTopRight.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxBottomLeft {
    background: url("../img/colorbox/ie6/borderBottomLeft.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxBottomCenter {
    background: url("../img/colorbox/ie6/borderBottomCenter.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxBottomRight {
    background: url("../img/colorbox/ie6/borderBottomRight.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxMiddleLeft {
    background: url("../img/colorbox/ie6/borderMiddleLeft.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxMiddleRight {
    background: url("../img/colorbox/ie6/borderMiddleRight.png?20130828") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
}
