/*
@font-face {
    font-family: 'TrebuchetMSRegular';
    src: url('trebuc-webfont.eot');
    src: url('trebuc-webfont.eot?#iefix') format('embedded-opentype'),
         url('trebuc-webfont.woff') format('woff'),
         url('trebuc-webfont.ttf') format('truetype'),
         url('trebuc-webfont.svg#TrebuchetMSRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TrebuchetMSBold';
    src: url('trebucbd-webfont.eot');
    src: url('trebucbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('trebucbd-webfont.woff') format('woff'),
         url('trebucbd-webfont.ttf') format('truetype'),
         url('trebucbd-webfont.svg#TrebuchetMSBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
html,body{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
color: #3b3b3b;
width:100%;
height:100%;
background: url(../img/fondo.jpg) repeat-x left top;/*background: #d4a476 !important;*/
}


#container{
position:relative;
/*overflow:hidden;*/
width:100%;
min-height:500px;
}

#trucont{
/*position:relative;
overflow: hidden;*/
width:980px;
min-height:650px;
margin: 0 auto;
background: url(../img/fondobody.png) repeat-y 5px top;
padding-bottom: 15px;
}

#trucont.other_cont{
background: none;
}

/* elementos del contenido */


#menu{
position:relative;
width:216px;
min-height: 25px;
overflow:hidden;
padding-bottom: 15px;
float: left;
}

#menu h1{
position:relative;
width:212px;
height: 146px;
overflow:hidden;
}


#menu h1 a{
display: block;
position:relative;
width:212px;
height: 146px;
overflow:hidden;
text-indent: -9999px;
background: url(../img/logopago.png) no-repeat left top;
}


#menu #menu_principal{
position: relative;
width: 216px;
min-height:25px;
overflow:hidden;
margin-top: 20px;
padding-top: 10px;
}

#menu #menu_principal li{
display:block;
position: relative;
width: 216px;
min-height:45px;
overflow:hidden;
margin-top: -7px;
background: url(../img/elemento_lista.png) no-repeat 13px top;
}

#menu #menu_principal li img.element_atr{
-moz-transition-property: opacity;
 -moz-transition-duration: 0.5s;
 -webkit-transition-property: opacity;
 -webkit-transition-duration: 0.5s;
 -o-transition-property: opacity;
 -o-transition-duration: 0.5s;
display:block;
position: relative;
float: left;
width: 10px;
height:45px;
overflow:hidden;
opacity: 0;
}

#menu #menu_principal li.activa img.element_atr{
-moz-transition-property: opacity;
 -moz-transition-duration: 0.5s;
 -webkit-transition-property: opacity;
 -webkit-transition-duration: 0.5s;
 -o-transition-property: opacity;
 -o-transition-duration: 0.5s;
opacity: 1;
}

#menu #menu_principal li p.contenedor_menu{
display:block;
position: relative;
float: left;
width: 206px;
height:38px;
overflow:hidden;
-moz-transition-property: background-position;
 -moz-transition-duration: 0.5s;
 -webkit-transition-property: background-position;
 -webkit-transition-duration: 0.5s;
 -o-transition-property: background-position;
 -o-transition-duration: 0.5s;
 background-position: -206px 0px;
}

/*#menu #menu_principal li p.contenedor_menu:hover{
-moz-transition-property: background-position;
 -moz-transition-duration: 0.5s;
 -webkit-transition-property: background-position;
 -webkit-transition-duration: 0.5s;
 -o-transition-property: background-position;
 -o-transition-duration: 0.5s;
background: url(../img/delante.png) no-repeat;
background-position: 0px 0px;
}*/

#menu #menu_principal li.activa p.contenedor_menu{
-moz-transition-property: background-position;
 -moz-transition-duration: 0.5s;
 -webkit-transition-property: background-position;
 -webkit-transition-duration: 0.5s;
 -o-transition-property: background-position;
 -o-transition-duration: 0.5s;
background: url(../img/delante.png) no-repeat;
background-position: 0px 0px;
}

#menu #menu_principal li p.contenedor_menu span{
display:block;
position: relative;
float: left;
width:12px;
height:12px;
margin-top:13px;
background: url(../img/flechitas.png) no-repeat;
background-position: left top;
text-indent: -9999px;
cursor: pointer;
}

#menu #menu_principal li p.contenedor_menu a{
display:block;
position: relative;
float: left;
width:178px;
height:12px;
line-height:12px;
margin-top:13px;
margin-bottom:13px;
text-indent: 10px;
-moz-transition-property: color;
 -moz-transition-duration: 0.5s;
 -webkit-transition-property: color;
 -webkit-transition-duration: 0.5s;
 -o-transition-property: color;
 -o-transition-duration: 0.5s;
color: #3b3b3b;
font-weight: bold;
}

#menu #menu_principal li.activa p.contenedor_menu a{
text-shadow: 1px 1px 0px #fbe14f;
}

#menu #menu_principal li.activa p.contenedor_menu a:hover{
-moz-transition-property: color;
 -moz-transition-duration: 1s;
 -webkit-transition-property: color;
 -webkit-transition-duration: 1s;
 -o-transition-property: color;
 -o-transition-duration: 1s;
color: #fff;
text-shadow: 1px 1px 0px #3b3b3b;
}

/* fin elementos del contenido */

#footer{
position:relative;
width:100%;
height: 80px;
background: url(../img/fondofooter.jpg) repeat-x left top;
float:none;
clear: both;
border-top: 1px solid #f8f7f6;
}



#menu #menu_principal li .submenu{
position:relative;
width:188px;
height:0px;
overflow:hidden;
}

#menu #menu_principal li .submenu li{
display:block;
position:relative;
width:188px;
min-height:35px;
line-height:35px;
overflow:hidden;
margin-top: 0px;
background: none;
border-bottom: 1px solid #cfcfcf;
}

#menu #menu_principal li .submenu li.has_submen{
display:block;
position:relative;
width:188px;
line-height:35px;
overflow:hidden;
margin-top: 0px;
background: url(../img/fondoli.png) no-repeat left top;
border-bottom: none;
margin-left:2px;
text-indent: 7px;
}

#menu #menu_principal li .submenu li a{
display:block;
position:relative;
width:188px;
min-height:35px;
line-height:35px;
overflow:hidden;
margin-top: 0px;
background: none;
color: #4b4b4b;
text-indent: 7px;
}


.lista_it{
color: #006db3; 
}


#menu #menu_principal li .submenu li .subsubmenu {
position:relative;
width:188px;
height:0px;
overflow:hidden;
}

#menu #menu_principal li .submenu li .subsubmenu  li{
display:block;
position:relative;
width:188px;
min-height:35px;
line-height:35px;
overflow:hidden;
margin-top: 0px;
background: none;
border-bottom: 1px solid #cfcfcf;
}

#menu #menu_principal li .submenu li .subsubmenu  li.has_submen{
display:block;
position:relative;
width:188px;
height:35px;
line-height:35px;
overflow:hidden;
margin-top: 0px;
background: url(../img/fondoli.png) no-repeat left top;
border-bottom: none;
margin-left:2px;
text-indent: 7px;
}

#menu #menu_principal li .submenu li .subsubmenu  li a{
display:block;
position:relative;
width:188px;
min-height:35px;
line-height:35px;
overflow:hidden;
margin-top: 0px;
background: none;
color: #4b4b4b;
text-indent: 14px;
}

.subsubmenu{
padding-bottom:7px;
}

#contenidos{
/*position: relative;
overflow: hidden;*/
width: 764px;
min-height: 20px;
float: left;
}

#contenidos #header{
position: relative;
width: 100%;
height: 100px;
overflow: hidden;
}

#header ul.cabecera{
display: block; position: relative;
width: 400px;
height: 20px;
overflow: hidden;
margin-left: 368px;
}

#header ul.cabecera li{
display: block; position: relative;
float: left;
height: 20px;
overflow: hidden;
}

#header ul.cabecera li a{
display: block;
float: left;
height: 20px;
line-height: 20px;
overflow: hidden;
color: #fff;
font-size: 11px;
}

#header ul.cabecera li span{
display: block;
position: relative;
float: left;
height: 20px;
line-height: 10px;
overflow: hidden;
color: #f9c204;
font-size: 22px;
margin: 0 8px;
}


#header ul.cabecera li img{
margin-top: 2px;
}


#datos_cab{
position: relative;
width: 580px;
height: 74px;
margin-top: 6px;
overflow:hidden;
margin-left: 184px;
}

#datos_cab img.segur{
display: block;
position: relative;
float: left;
margin-top: 19px;
height: 35px;
width: 66px;
}

#datos_cab p.entera{
position: relative;
float: left;
height: 74px;
line-height: 74px;
width: 206px;
font-weight:bold;
margin-left: 15px;
background: url(../img/separacion.png) no-repeat right center;
}

#datos_cab div.mas_datos{
position: relative;
float: left;
height: 60px;
width: 196px;
padding-right: 10px;
font-weight:bold;
margin-left: 15px;
font-weight: normal;
padding-top: 14px;
text-align: right;
}

#datos_cab div.mas_datos p{
position: relative;
width: 100%;
margin: 0px;
margin-bottom: 3px;
}

#datos_cab div.mas_datos p strong{
font-weight: bold;
}

#datos_cab div.mas_datos a{
text-decoration: underline;
color: #00aeef;
}

#datos_cab img.fotoo{
display: block;
position: relative;
float: left;
margin-top: 7px;
padding: 7px;
height: 46px;
width: 46px;
background: url(../img/foto.png) no-repeat left top;
}




#contenidos #content{
/*position: relative;
overflow: hidden;*/
width: 754px;
min-height: 100px;
margin-top: 10px;
margin-left: 10px;
}


#contenidos #content p.breadcrumb{
position: relative;
width: 100%;
height: 20px;
line-height: 20px;
overflow: hidden;
border-bottom: 1px solid #fbc503;
}

#contenidos #content p.breadcrumb a{
color: #6b6b6b;
}

#contenidos #content h2{
font-size: 20px;
font-weight: bold;
margin-top: 15px;
line-height: 26px;
}

#contenidos #content h3{
margin: 15px 0;
line-height: 16px;
text-align: right;
}

#contenidos #content table.grilla{
margin: 15px auto;
width: 100%;
border-collapse: collapse;
border: 1px solid #ddd;
}

#contenidos #content #tabla2{
width: 570px;
}


#contenidos #content table.grilla thead th{
background: #000 url(../img/degrade.png) repeat-y left top;
color: #fff;
border: 1px solid #3c3c3c;
height: 40px;
vertical-align: middle;
text-align: center;
}

#contenidos #content table.grilla thead th p{
height: 40px;
line-height: 40px;
text-align: center;

}

.serv{
width:81px;
}

.conc{
width:172px;
}

.fech{
width:184px;
}

.nume{
width:134px;
}

.mont{
width:93px;
}

.impr{
width:64px;
}


#contenidos #content table.grilla tbody td{
border: 1px solid #fff;
height: 40px;
vertical-align: middle;
text-align: center;
}

#contenidos #content table.grilla tbody td p{
height: 40px;
line-height: 40px;
text-align: center;
}

#contenidos #content table.grilla tbody td p a{
text-decoration: underline;
color: #00aeef;
}

#contenidos #content table.grilla tbody td img{
display: block;
position: absolute;
height: 28px;
line-height: 28px;
margin: 6px auto;
}

#contenidos #content table.grilla tbody td .lnkDownload{
display: block;
position: relative;
height: auto;
line-height: 28px;
margin: 6px auto;
}

#contenidos #content table.grilla tbody td a.impresion{
display:block;
position: relative;
height: 28px;
line-height: 28px;
margin: 6px 18px;
text-indent: -9999px;
overflow:hidden;
background: url(../img/impresora.png) no-repeat left top;
}

#contenidos #content table.grilla tbody tr{
background: #eaeaea;
}

#contenidos #content table.grilla tbody tr:nth-child(odd){
background: #f4f4f4;
}

strong{
font-weight: bold;
}

p.reloj{
line-height: 16px;
text-align: right;
}

p.reloj2{
line-height: 16px;
text-align: left;
text-indent: 20px;
}

div.conten_pasos{
position: relative;
margin: 25px auto;
background: url(../img/fondopasos.png) no-repeat left 18px;
width: 728px;
min-height: 395px;
overflow: hidden;
}


div.conten_pasos ul.pasos{
position: relative;
width: 100%;
height: 65px;
overflow: hidden;
}

div.conten_pasos ul.pasos li{
display: block;
position: relative;
float: left;
height: 65px;
width: 135px;
text-align: center;
}

div.conten_pasos ul.pasos li a{
display: block;
position: relative;
height: 45px;
line-height: 45px;
width: 45px;
text-align: center;
color: #fff;
font-size: 30px;
background: url(../img/botones.png) no-repeat left top;
margin: 0px auto 4px;
}

div.conten_pasos ul.pasos li a:hover{
background: url(../img/botones.png) no-repeat left bottom;
}

div.conten_pasos ul.pasos li.activa a{
background: url(../img/botones.png) no-repeat left bottom;
}


li#paso1{
margin-left: 1px;
}

li#paso2{
margin-left: 178px;
}

li#paso3{
margin-left: 189px;
}

div.conten_pasos h4{
position: relative;
width: 138px;
height: 29px;
line-height: 29px;
font-size: 13px;
text-indent: 14px;
margin-top: 27px;
margin-left: 2px;
background: url(../img/flechatexto.png) no-repeat left top;
}

input.input_big{
display: block;
position: relative;
float:none;
margin: 40px auto 25px;
width: 308px;
height: 37px;
line-height: 37px;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: url(../img/fondoinput.png) no-repeat left top;
}

input.input_big2{
display: block;
position: relative;
float:none;
margin: 20px auto 5px;
width: 308px;
height: 37px;
line-height: 37px;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: url(../img/fondoinput.png) no-repeat left top;
}

input.input_azul{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 268px;
}


input.input_azul2{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 268px;
}


a.cancela{
display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    margin-left: 10px;
    text-decoration: none;
}

a.cancela2{
display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    text-decoration: none;
margin-bottom: 15px;
}


div.conten_pasos h5{
position: relative;
width: 298px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 27px;
margin-left: 2px;
background: url(../img/flechatextogrande.png) no-repeat left top;
}


ul.datos_cip{
position: relative;
width: 400px;
min-height: 20px;
overflow: hidden;
padding-bottom: 15px;
margin-top: 30px;
margin-left: 10px;
font-size: 12px;
}

ul.datos_cip li{
display: block;
position: relative;
float: left;
width: 200px;
min-height: 20px;
line-height: 20px;
overflow: hidden;
margin-bottom: 15px;
}

.t2 select
{
    margin: 0;
    }

span.color{
color: #e59d00;
} 

span.alejado{
display: block;
position: relative;
float: right;
text-align: right;
} 


li.t2 strong{
margin-left: 10px;
}



div.conten_pasos2{
position: relative;
margin: 25px auto;
background: url(../img/fondopasos2.png) no-repeat left 18px;
width: 728px;
height: 575px;
overflow: hidden;
}


div.conten_pasos2 ul.pasos{
position: relative;
width: 100%;
height: 65px;
overflow: hidden;
}

div.conten_pasos2 ul.pasos li{
display: block;
position: relative;
float: left;
height: 65px;
}

div.conten_pasos2 ul.pasos li a{
display: block;
position: relative;
height: 45px;
line-height: 45px;
width: 45px;
text-align: center;
color: #fff;
font-size: 30px;
background: url(../img/botones.png) no-repeat left top;
margin: 0px auto 4px;
}

div.conten_pasos2 ul.pasos li a:hover{
background: url(../img/botones.png) no-repeat left bottom;
}

div.conten_pasos2 ul.pasos li.activa a{
background: url(../img/botones.png) no-repeat left bottom;
}


li#paso1{
margin-left: 1px;
}

li#paso2{
margin-left: 143px;
}

li#paso3{
margin-left: 179px;
}

div.conten_pasos2 h4{
position: relative;
width: 138px;
height: 29px;
line-height: 29px;
font-size: 13px;
text-indent: 14px;
margin-top: 27px;
margin-left: 2px;
background: url(../img/flechatexto.png) no-repeat left top;
}

input.input_big{
display: block;
position: relative;
float:none;
margin: 40px auto 25px;
width: 308px;
height: 37px;
line-height: 37px;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: url(../img/fondoinput.png) no-repeat left top;
}

input.input_azul{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 268px; /*margin-left: 480px;*/
}


input.input_azul2{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 495px;
}


a.cancela{
margin-left: 10px;
line-height: 32px;
}


div.conten_pasos2 h5{
position: relative;
width: 298px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 2px;
margin-left: 2px;
background: url(../img/flechatextogrande.png) no-repeat left top;
}


select{display: block;
position: relative;
float:none;
margin: 5px auto 15px;
width: 308px;
height: 37px;
line-height: 37px;
text-align: center;
overflow:hidden;
}




div.conten_pasos3{
/*position: relative;*/
/*overflow: hidden;*/
margin: 25px auto;
background: url(../img/fondo34.png) no-repeat center bottom;
padding-bottom: 54px;
width: 728px;
min-height: 575px;
border: 1px solid #dcdcdc;
}

.captchaContent input {
width: 145px;
height: 22px;
margin-top: 10px;
}



div.conten_pasos3 h4{
position: relative;
width: 198px;
height: 29px;
line-height: 29px;
font-size: 13px;
text-indent: 14px;
margin-top: 0px;
margin-left: 2px;
background: url(../img/flechatextomedia.png) no-repeat left top;
}


div.conten_pasos3 h3{
position: relative;
width: 198px;
height: 29px;
line-height: 29px;
font-size: 13px;
text-indent: 14px;
margin-top: 0px;
margin-left: 2px;
background: url(../img/flechatextomedia.png) no-repeat left top;
}





.datos_head{
position: relative;
width: 721px;
height:60px;
padding-bottom: 3px;
background: url(../img/fondo_info_head.png) no-repeat left top;
margin: 0 auto;
overflow: hidden;
}

.datos_head img.foto2{
display: block;
position: relative;
float: left;
padding: 4px;
margin-top: 2px;
height: 40px;
width: 40px;
background: url(../img/foto_fondo.png) no-repeat left top;
}

.datos_head p.texto_datos_head{
position:relative;
float: left;
margin-left: 10px;
height:62px;
line-height:62px;
width: 511px;
overflow: hidden;
}

.datos_head .otros_datos{
position: relative;
float: left;
width: 150px;
height: 24px;
padding: 19px 0;
}

#table-dates
{
    height: 46px;
    width:300px;
}
#table-dates table.grilla
{
    margin: 0 !important;
}

#table-dates table.grilla th
{
    height: 20px !important;
    line-height: 20px !important;
}
#table-dates table.grilla td
{
    height: 20px !important;
    line-height: 20px !important;
}

ul.datos_cip2{
position: relative;
width: 600px;
min-height: 20px;
overflow: hidden;
padding-bottom: 15px;
margin-top: 30px;
margin-left: 10px;
font-size: 12px;
}

ul.datos_cip3{
position: relative;
width: 600px;
min-height: 20px;
overflow: hidden;
padding-bottom: 15px;
margin-top: 30px;
margin-left: 10px;
font-size: 12px;
}

ul.datos_cip2 li{
display: block;
position: relative;
float: left;
width: 200px;
height: 36px;
line-height: 36px;
overflow: hidden;
margin-bottom: 15px;
}

ul.datos_cip2 li.t2{
width: 400px;
}

ul.datos_cip2 li.complet{
width: 100%;
}


ul.datos_cip2 li select{
display:block;
padding: 0;
margin: 0;
border: 1px solid #cdcdcd;
width:299px;
height:36px;
line-height:36px;
}

ul.datos_cip2 li input.corta{
display:block;
position: relative;
float: left;
padding: 0;
margin: 0;
width:133px;
height:36px;
line-height:36px;
background: url(../img/fecha.png) no-repeat left top;
border: none;
text-indent: 10px;
}

ul.datos_cip2 li input.cortaexpiracion{
position: relative;
padding: 0;
margin: 0;
width:133px;
height:36px;
line-height:36px;
background: url(../img/fecha.png) no-repeat left top;
border: none;
text-indent: 10px;
}

ul.datos_cip2 span.validacion{
position: relative;
float: none;
display: inline;
padding: 0;
margin: 0;
width:33px;
height:36px;
line-height:36px;
}

ul.datos_cip2 li span{
display:block;
position: relative;
float: left;
padding: 0;
margin: 0;
width:33px;
height:36px;
line-height:36px;
text-align: center;
}

ul.datos_cip2 li span[disabled=disabled]{
display:block;
position: relative;
float: left;
padding: 0;
margin: 0;
width:33px;
height:36px;
line-height:36px;
text-align: left;
}

ul.datos_cip2 li input.input_azul3{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 242px;
}

ul.datos_cip2 li input.input_azul5{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 180px;
}

ul.datos_cip2 li input.input_azul4{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 12px;
}



.cont_cel{
position: relative;
width: 721px;
min-height:200px;
padding-bottom: 3px;
background: #ecf5fa url(../img/sombra1.png) no-repeat center -4px;
margin: 0 auto;
overflow: hidden;
}

.cont_cel2{
position: relative;
width: 721px;
min-height:200px;
padding-bottom: 3px;
background: url(../img/sombra1.png) no-repeat center -4px;
margin: 0 auto;
overflow: hidden;
}


div.conten_pasos3 h5{
position: relative;
width: 298px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 4px;
margin-left: 2px;
background: url(../img/flechatextograndeazul.png) no-repeat left top;
color: #fff;
}

div.conten_pasos3 h6{
position: relative;
width: 298px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 4px;
margin-left: 2px;
background: url(../img/flechatextogrande.png) no-repeat left top;
color: #3b3b3b;
}



div.conten_pasos4{
position: relative;
margin: 25px auto;
background: url(../img/fondopaso3.png) no-repeat left 18px;
width: 728px;
height: 832px;
overflow: hidden;
}


div.conten_pasos4 ul.pasos{
position: relative;
width: 100%;
height: 65px;
overflow: hidden;
}

div.conten_pasos4 ul.pasos li{
display: block;
position: relative;
float: left;
height: 65px;
}

div.conten_pasos4 ul.pasos li a{
display: block;
position: relative;
height: 45px;
line-height: 45px;
width: 45px;
text-align: center;
color: #fff;
font-size: 30px;
background: url(../img/botones.png) no-repeat left top;
margin: 0px auto 4px;
}

div.conten_pasos4 ul.pasos li a:hover{
background: url(../img/botones.png) no-repeat left bottom;
}

div.conten_pasos4 ul.pasos li.activa a{
background: url(../img/botones.png) no-repeat left bottom;
}



div.conten_pasos4 h4{
position: relative;
width: 138px;
height: 29px;
line-height: 29px;
font-size: 13px;
text-indent: 14px;
margin-top: 27px;
margin-left: 2px;
background: url(../img/flechatexto.png) no-repeat left top;
}



div.conten_pasos4 h5{
position: relative;
width: 198px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 2px;
margin-left: 2px;
background: url(../img/flechatextomedia.png) no-repeat left top;
}

div.conten_pasos4 h6{
position: relative;
width: 198px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 2px;
margin-left: 2px;
color: #fff;
background: url(../img/flechatextoazul.png) no-repeat left top;
}


#total,#cuenta{
margin-top: 10px;
}

p.ubica{
width: 595px;
margin: 10px auto;
}


span.colorazul{
display: block;
position:relative;
float: left;
margin-left: -18px;
color: #0068af;
}


ul.datos_cip2 li input.normal{
display:block;
position: relative;
float: left;
padding: 0;
margin: 0;
width:304px;
height:36px;
line-height:36px;
background: url(../img/inputnormal.png) no-repeat left top;
border: none;
text-indent: 10px;
}



ul.datos_cip4{
position: relative;
width: 350px;
float:left;
min-height: 20px;
overflow: hidden;
padding-bottom: 15px;
margin-top: 30px;
margin-left: 10px;
font-size: 12px;
}

ul.datos_cip4 li{
display: block;
position: relative;
float: left;
width: 200px;
height: 36px;
line-height: 36px;
overflow: hidden;
margin-bottom: 15px;
}

ul.datos_cip4 li.t2{
width: 150px;
}

ul.datos_cip4 li.complet{
width: 100%;
}


ul.datos_cip4 li select{
display:block;
padding: 0;
margin: 0;
border: 1px solid #cdcdcd;
width:299px;
height:36px;
line-height:36px;
}

ul.datos_cip4 li input.corta{
display:block;
position: relative;
float: left;
padding: 0;
margin: 0;
width:133px;
height:36px;
line-height:36px;
background: url(../img/fecha.png) no-repeat left top;
border: none;
text-indent: 10px;
}

ul.datos_cip4 li span{
display:block;
position: relative;
float: left;
padding: 0;
margin: 0;
width:33px;
height:36px;
line-height:36px;
text-align: center;
}


ul.datos_cip4 li input.input_azul3{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 242px;
}

ul.datos_cip4 li input.input_azul5{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 180px;
}

ul.datos_cip4 li input.input_azul4{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 12px;
}


ul.datos_cip5{
position: relative;
width: 715px;
float:left;
min-height: 20px;
overflow: hidden;
padding-bottom: 15px;
margin-top: 0px;
margin-left: 10px;
font-size: 12px;
}

ul.datos_cip5 li{
display: block;
position: relative;
float: left;
width: 200px;
min-height: 36px;
overflow: hidden;
margin-bottom: 15px;
}

ul.datos_cip5 li.t3{
width: 515px;
}

ul.datos_cip5 li.t3 textarea{
width: 495px;
height: 113px;
padding: 5px;
border: none;
background: url(../img/tarea2.png) no-repeat left top;
}



ul.datos_cip5 li input.input_azul3{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 242px;
}

ul.datos_cip5 li input.input_azul5{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 180px;
}

ul.datos_cip5 li input.input_azul4{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 12px;
}


p.input_cal{
position:relative;
float: left;
}

p.input_cal input.calendario{
display: block; position: absolute; 
width: 16px;
height: 16px;
overflow: hidden;
right: 6px;
top: 10px;
cursor: pointer;
}

#pasarelas{
position:relative;
float: none;
clear: both;
width: 100%;
min-height: 40px;
overflow:hidden;
border-top: 1px solid #fbc503;
}

#pasarelas h2{
line-height: 44px;
font-size: 22px;
}


#centrado{
position: relative;
width: 483px;
min-height: 40px;
overflow: hidden;
border: 1px solid #e4e4e4;
margin: 20px auto;
}

.head_2{
position: relative;
width: 100%;
height: 52px;
padding-bottom: 6px;
overflow: hidden;
background: url(../img/fondohead_2.png) no-repeat left top;
}

.head_2 p{
position: relative;
float: left;
padding: 9px 9px;
width: 388px;
height: 38px;
overflow: hidden;
line-height:16px;
background: url(../img/sombra_3.png) no-repeat right center;
}


.head_2 div strong{
display: block;
line-height: 20px;
text-align: center;
}

.head_2 div img{
display: block;
position: relative;
margin: 1px auto;
}


.cab_list{
position: relative;
width: 100%;
min-height: 52px;
padding-bottom: 6px;
overflow: hidden;
background: url(../img/fondo_sombra.png) no-repeat left bottom;
}

.cab_list ul.datos_cip{
margin-top: 15px;
margin: 15px auto 5px;
}

img.encim{
display: block;
position: relative;
margin: 10px auto;
}


.tit_uno{
position: relative;
margin-top: 3px;
width: 97px;
height: 29px;
line-height: 29px;
overflow: hidden;
background: url(../img/flechaamarilla1.png) no-repeat left top;
padding-left: 12px;
font-size: 13px;
font-weight: bold;
}

.norm_cont{
position: relative;
width: 100%;
min-height: 52px;
padding-bottom: 6px;
overflow: hidden;
}

.sturon{
color: cdcdcd;
margin: 10px auto;
width: 90%;
}


.norm_cont select{
display: block;
position: relative;
float: left;
width: 150px;
height: 20px;
margin: 15px 30px 15px 15px;
}


.norm_cont strong{
margin: 30px 10px 10px;
}

.norm_cont p.simple{
border-bottom: 1px solid #cfcfcf;
text-indent: 10px;
margin-bottom: 10px;
padding-bottom: 8px;
}

.norm_cont ul.lista_simple{
margin: 10px;
}

.norm_cont .butoimpresion{
position: relative;
width: 109px;
height: 32px;
background: none;
border: none;
padding: 0;
background: url(../img/botonimpresion.png) no-repeat left top;
text-indent: 12px;
color: #fff;
margin-left: 10px;
}


.norm_cont h3{
position: relative;
margin-top: 3px;
width: 307px;
height: 29px;
line-height: 29px;
overflow: hidden;
background: url(../img/flechaamarilla2.png) no-repeat left top;
padding-left: 12px;
font-size: 13px;
font-weight: bold;
margin: 15px 0px;
}

.izq_pasarela{
position: relative;
float: left;
width: 301px;
height: 218px;
overflow: hidden;
margin-right: 28px;
margin-top: 18px;
background: url(../img/fondoizq.png) no-repeat left top;
}

.der_pasarela{
position: relative;
float: left;
width: 480px;
min-height: 28px;
overflow: hidden;
margin-top: 18px;
background: url(../img/fondoder.png) no-repeat left top;
padding-bottom: 30px;
}

.izq_pasarela  h4{
width: 100%;
text-align: center;
font-size: 14px;
line-height:50px;
font-weight: bold;
}

.izq_pasarela  p.cent_nav{
width: 165px;
height: 30px;
line-height: 30px;
background: url(../img/fondo_centrado.png) no-repeat left top;
text-align: center;
margin: 0 auto;
}


.izq_pasarela ul.datos_cip2{
padding-bottom: 0px;
margin-top: 20px;
}

.izq_pasarela ul.datos_cip2 li{
margin-bottom: 5px;
}

.der_pasarela h3{
position: relative;
margin-top: 1px;
width: 359px;
height: 29px;
line-height: 29px;
overflow: hidden;
background: url(../img/flechaamarilla3.png) no-repeat left top;
padding-left: 14px;
font-size: 13px;
font-weight: bold;
margin: 5px 0px 15px;
}

.der_pasarela p.em{
font-style: oblique;
color: #8b8b8b;
}

.der_pasarela img.foto2{
display: block;
position: relative;
float: left;
padding: 7px;
margin: 12px;
height: 46px;
width: 46px;
background: url(../img/foto.png) no-repeat left top;
}

.der_pasarela ul.datos_cip2{
position: relative;
float: left;
width: 250px;
margin: 5px;
margin-left: 20px;
}

.der_pasarela ul.datos_cip2 li{
margin-bottom: 5px;
}


.der_pasarela ul.datos_cip2 li.t1{
width: 100px;
}

.der_pasarela ul.datos_cip2 li.t2{
width: 150px;
}




.der_pasarela strong.pasar{
display: block;
float: none;
clear: both;
margin: 15px 0;
}

.der_pasarela select.sel{
margin-left: 0;
}

.der_pasarela  p.redo{
width: 165px;
height: 30px;
line-height: 30px;
background: url(../img/fondo_centrado_amarillo.png) no-repeat left top;
text-align: center;
margin: 10px 0 20px;
}

.der_pasarela  .sombrecido{
display: block; position: relative;
float: left;
width: 219px;
height: 27px;
line-height: 27px;
background: url(../img/ensombra.png) no-repeat left top;
margin: 3px 0 20px;
border: none; padding: 0;
}

.der_pasarela  .otro_boton{
display: block; position: relative;
float: left;
width: 109px;
height: 32px;
line-height: 32px;
background: url(../img/generar.png) no-repeat left top;
margin: 0px 10px 20px;
color: #fff;
border: none; padding: 0;
cursor: pointer;
}

p.no_float{
float: none;
clear: both;
margin-top: 15px;
margin-bottom: 15px;
}

.der_pasarela .input_azul{
margin-left: 0px;
}


.der_pasaron{
position: relative;
width: 480px;
min-height: 28px;
overflow: hidden;
margin-top: 18px;
background: url(../img/fondoder.png) no-repeat left top;
padding-bottom: 30px;
}

.conbolita{
width: 100%;
min-height: 20px;
overflow: hidden;
margin: 15px 5px;
padding-left: 30px;
background: url(../img/li_lista.png) no-repeat left center;
}

.conbolita img{
margin-right: 15px;
}


.conbolita p.flotab{
position: relative;
float: left;
width: 173px;
min-height: 20px;
overflow: hidden;
margin: 10px;
}

.conbolita p.flotab input{
display: block; position: relative;
border: none;
background: none;
width: 173px;
height: 27px;
line-height: 27px;
background: url(../img/inputbrillo.png) no-repeat left top;
}


/* cambios ultimos */

/*.pasos_{
display:block;
position: relative;
float: none;
clear: both;
margin: 0;
padding:0;
width:180px;
height: 18px;
margin: 15px 15px 5px;
border: 1px solid #cfcfcf;;
}*/

.pasos_{
display:block;
position: relative;
float: none;
clear: both;
margin: 0;
padding:0;
width:173px;
height: 27px;
line-height: 27px;
margin: 15px 15px 5px;
text-indent: 7px;
border: none;
background: url(../img/inputbrillo.png) no-repeat left top;
}

select.pasos_{
display:block;
position: relative;
float: none;
clear: both;
margin: 0;
padding:0;
width:173px;
height: 27px;
margin: 15px 15px 5px;
border: none;
background: none;
background: url(../img/inputbrillo.png) no-repeat left top;
}


input.cipCamp{
display:block;
position: relative;
float: none;
clear: both;
margin: 0;
padding:0;
width:173px;
height: 27px;
line-height: 27px;
text-indent:7px;
border: none;
background: url(../img/inputbrillo.png) no-repeat left top;
}

.pasos_2{
display:block;
position: relative;
float: left;
margin: 0;
padding:0;
width:180px;
height: 18px;
margin: 7px;
border: 1px solid #cfcfcf;;
}

li .pasos_{
margin: 0;
}


#other_back{
min-height: 400px;
overflow: hidden;
background: url(../img/fondopasos5.png) no-repeat left 18px;
border-bottom: 1px solid #cfcfcf;
padding-bottom: 7px;
}


#other_back h6{
position: relative;
width: 298px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 0px;
margin-left: 2px;
background: url(../img/flechatextogrande.png) no-repeat left top;
}


#other_back ul.datos_cip{
padding-bottom: 2px;
}


#other_back p.inan{
margin: 7px;
float: none;
clear: both;
width: 100%;
min-height:20px;
overflow: hidden;
}

#other_back input.input_azul4{
display: block;
position: relative;
float:left;
width: 109px;
height: 32px;
line-height: 32px;
color: #fff;
text-align: center;
overflow:hidden;
border: 0;
padding: 0;
background: none;
background: url(../img/input_boton.png) no-repeat left top;
margin-left: 12px;
}


/* otros */


div.conten_pasos2 ul.pasos{
position: relative;
width: 100%;
height: 65px;
overflow: hidden;
}

div.conten_pasos2 ul.pasos li{
display: block;
position: relative;
float: left;
height: 65px;
width: 135px;
text-align: center;
}

div.conten_pasos2 ul.pasos li a{
display: block;
position: relative;
height: 45px;
line-height: 45px;
width: 45px;
text-align: center;
color: #fff;
font-size: 30px;
background: url(../img/botones.png) no-repeat left top;
margin: 0px auto 4px;
}

div.conten_pasos2 ul.pasos li a:hover{
background: url(../img/botones.png) no-repeat left bottom;
}

div.conten_pasos2 ul.pasos li.activa a{
background: url(../img/botones.png) no-repeat left bottom;
}


div.conten_pasos4 ul.pasos{
position: relative;
width: 100%;
height: 65px;
overflow: hidden;
}

div.conten_pasos4 ul.pasos li{
display: block;
position: relative;
float: left;
height: 65px;
width: 135px;
text-align: center;
}

div.conten_pasos4 ul.pasos li a{
display: block;
position: relative;
height: 45px;
line-height: 45px;
width: 45px;
text-align: center;
color: #fff;
font-size: 30px;
background: url(../img/botones.png) no-repeat left top;
margin: 0px auto 4px;
}

div.conten_pasos4 ul.pasos li a:hover{
background: url(../img/botones.png) no-repeat left bottom;
}

div.conten_pasos4 ul.pasos li.activa a{
background: url(../img/botones.png) no-repeat left bottom;
}


ul.datos_cip2 li.t3{
display: block;
position: relative;
float: none;
width: 150px;
height:22px;
line-height:22px;
margin-bottom: 5px;
}



div.conten_pasos4 ul.pasos{
position: relative;
width: 100%;
height: 65px;
overflow: hidden;
}

div.conten_pasos4 ul.pasos li{
display: block;
position: relative;
float: left;
height: 65px;
width: 135px;
text-align: center;
}

div.conten_pasos4 ul.pasos li a{
display: block;
position: relative;
height: 45px;
line-height: 45px;
width: 45px;
text-align: center;
color: #fff;
font-size: 30px;
background: url(../img/botones.png) no-repeat left top;
margin: 0px auto 4px;
}

div.conten_pasos4 ul.pasos li a:hover{
background: url(../img/botones.png) no-repeat left bottom;
}

div.conten_pasos4 ul.pasos li.activa a{
background: url(../img/botones.png) no-repeat left bottom;
}


ul.datos_cip2 li.t3{
display: block;
position: relative;
float: none;
width: 150px;
height:22px;
line-height:22px;
margin-bottom: 5px;
}


p.input_cal2{
position:relative;
float: left;
width: 100px;
}

p.input_cal3{
position:relative;
float: left;
width: 140px;
line-height: 12px;
}

ul.datos_cip2 li span.entre2{
display:block;
position: relative;
float: left;
padding: 0;
margin: 0;
width:100px;
height:36px;
line-height:36px;
text-align: left;
margin-left: 10px;
}

ul.datos_cip2 li span.entre2 a, a.entre2{
text-decoration: underline;
}

ul.datos_cip2 li.t4{
width: 400px;
height: 60px; overflow: hidden;
}

ul.datos_cip2 li.t4 textarea{
width: 388px;
height: 48px; 
border: 1px solid #cfcfcf;
padding: 5px;
overflow: hidden;
}

#popupp{
display: none;
position: fixed;
left: 50%;
top:0;
background: #fff;
z-index: 9999;
margin: 0 auto;
margin-left: -364px;
}

#delfondo{
display: none;
position: fixed;
left: 0;
top:0;
background: #000;
z-index: 9999;
margin: 0 auto;
width: 100%;
height: 100%;
opacity: 0.7;
z-index: 9998;
}

#popupp ul.datos_cip2 li{
margin-bottom: 5px;
}

#cierra_1{
display: block; position: absolute;
top: 0;
right: 0;
cursor: pointer;
width: 24px;
height: 24px;
line-height: 24px;
text-align: center;
background: #4b4b4b;
color: #fff;
font-size: 16px;
border-radius: 90px;
font-weight: bold;
}
.grilla tbody tr td input:hover {
    opacity: 1;
}
.grilla tbody tr td input {
    opacity: 0.40;
   -moz-opacity: 0.40;
   filter:alpha(opacity=40);
}
.btn-disabled {
       background: url("../img/btn-disabled.png") no-repeat scroll left top transparent !important;
}
input[type=submit][disabled=disabled],input[type=button][disabled=disabled],button[disabled=disabled] {
       background: url("../img/btn-disabled.png") no-repeat scroll left top transparent !important;
}
input[type=submit]:disabled, input[type=button]:disabled, button:disabled {
   background: url("../img/btn-disabled.png") no-repeat scroll left top transparent !important;
}

#other_back h6.barra_azul{
position: relative;
width: 298px;
height: 29px;
line-height: 29px;
font-size: 14px;
text-indent: 14px;
margin-top: 0px;
margin-left: 2px;
color:#ffffff;
background: url(../img/flechatextoazul.png) no-repeat left top;
}

#other_back_fondo_blue{
    width:100%;
    height:200px;
    background: url(../img/fondopaso3.png) 0px 237px;
    position:relative;
}


p.centrar_letra
{
    width: 300px;
height: 100px;
margin: auto;
    }
    
input.input_azul45{
display: block;
    position: relative;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    text-decoration: none;
    margin:auto;
}
/*add Jonathan*/
.validateSummary
{
    margin:20px 0px 0px 20px;
}
.left
{  
    float:left;
}
/*add Erik*/
.clearfix:after, .clearfix:before { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.contentForm{
	width:590px;
	padding: 10px 0;
}
.contentForm .left{
	float: left;
	width:310px;
}
.contentForm .right{
	float: left;
	width:280px;
}
.contentForm .row{
	padding: 3px;
	float:left;
}
.contentForm label{
	float: left;
    line-height: 7px;
    padding: 8px;
    width:130px;
}

.contentForm label span{
	color: #E59D00;
    display: block;
    float: left;
    height: 20px;
    width: 24px;
}

.contentForm .input{
	float: left;
    padding: 4px;
}

.contentForm input{
	background: url("../img/inputnormal.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 10px;
}



.contentForm.type2 .left{
	width: 270px;
}

.contentForm.type2 label{
	width:122px;
}

.datos_cip2.type2
{
	margin: 0px
}







