#contenidos #content table.grilla thead th a
{
    color: White;
}
ul.datos_cip5 li input.input_azul5
{
    margin-left: 175px;
}
#contenidos #content p.breadcrumb label
{
    color: #6b6b6b;
}
ul.datos_cip5 li input.input_azul5
{
    display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    margin-left: 175px;
}
ul.datos_cip2 li input.neu, textarea.neu
{
    border: 1px solid #CDCDCD;
    display: block;
    height: 26px;
    line-height: 36px;
    margin: 6px 0px 0px 0px;
    padding: 0;
    width: 299px;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.divLoadingMensaje
{
    width: 150px;
    height: 30px;
    padding-top: 5px;
    background-color: #FFFFCC;
    border: solid 1px #999999;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -15px;
    overflow: visible;
    z-index: 100012;
}
.divLoading
{
    width: 100%;
    height: 300%;
    vertical-align: middle;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: black;
    filter: alpha(opacity=20);
    mozopacity: 0.2;
    opacity: 0.2;
    z-index: 100011;
}
ul.datos_cip5 li select.normal
{
    background: url("../img/tarea2.png") no-repeat scroll left top transparent;
    border: medium none;
    height: 124px;
    padding: 5px;
    width: 495px;
}

p.separacion
{
    font-size: 12px;
    margin: 5px;
    color: #6b6b6b;
}
ul.datos_cip2 li
{
    overflow: visible;
}
ul.datos_cip5 li span
{
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 33px;
    height: 36px;
    text-align: center;
}
input.input_azul, input.input_azul2, input.input_azul3, input.input_azul4, input.input_azul5
{
    cursor: pointer;
}
#menu #menu_principal li p.contenedor_menu a
{
    width: auto;
}
#menu #menu_principal li p.contenedor_menu span
{
    float: right;
    width: 30px;
}
#menu #menu_principal li.has_submen p a
{
    display: inline;
}
#menu #menu_principal li .submenu li .subsubmenu li p a
{
    display: inline;
}
ul.datos_cip2 li span.w100
{
    width: 100%;
    text-align: left;
    height: auto;
    line-height: normal;
    padding-top: 5px;
}

#contenidos #content table.grilla thead th
{
    background: black url(../img/degrade.png) repeat-y left top;
}


html form#aspnetForm div#container div#ctl00_ContentPlaceHolder1_UpdatePanel1 div
{
    overflow: auto;
}


ul.datos_cip2
{
    overflow: visible;
}

/*ul.datos_cip2 li {line-height: 1;}

ul.datos_cip2 li span {
line-height: 7px;
}


*/
.conten_pasos input.input_azul4
{
    display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    margin-left: 12px;
}

.h25
{
    height: 25px !important;
}

div.conten_pasos
{
    position: relative;
    margin: 25px auto;
    background: url(../img/fondopasos5.png) no-repeat left 18px;
    width: 728px;
    min-height: 395px;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #cfcfcf;
}

.h0
{
    margin-top: 0px !important;
}
.h60
{
    margin-top: 60px !important;
}
/*modified by jan y andres*/

.img200x150
{
    width: 200px;
    height: 150px !important;
    display: block !important;
}
#inner-footer
{
    width: 980px;
    margin: 0 auto;
    display: block;
}
tr.pagerStyle td
{
    height: 20px !important;
}
#footer .lt-side
{
    float: left;
    margin: 16px 0px 0px 10px;
    display: inline;
}
#footer h3
{
    font-weight: bold;
    padding-bottom: 3px;
}
#footer span
{
    margin: 5px 0px 0px 0px;
}
#footer .rt-side
{
    float: right;
}
#footer .rt-side .sec-env
{
    background: transparent url("../img/secft.jpg") no-repeat 0px 0px;
    display: block;
    width: 236px;
    height: 31px;
    margin: 7px 0px 0px;
}

.ajax__calendar
{
    z-index: 1001 !important;
}

.bold
{
    font-weight: 700;
}

ul.datos_cip2 li select.corta2
{
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 103px;
    height: 36px !important;
    line-height: 20px;
    background: url(../img/fecha.png) no-repeat left top;
    border: 1px 1px;
    text-indent: 0px;
    padding: 8px;
    margin-right: 10px; /*border-right: 1px solid #CDCDCD !important;     border-top: 1px solid #CDCDCD !important;     border-left: 1px solid #CDCDCD !important;     border-bottom: 1px solid #CDCDCD !important;*/
}
ul.datos_cip
{
    width: 690px !important;
}
ul.datos_cip li.t2
{
    width: 400px;
    height: auto !important;
}
.cont_cel
{
    min-height: 100px;
}
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: -1000px;
}
a.cancela2
{
    display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    text-decoration: none;
    margin: 0 auto 35px;
}
select
{
    height: auto !important;
}
ul.datos_cip2 li select
{
    height: 26px;
    text-align: left;
    margin-top: 6px;
}
.neu
{
    text-align: left !important;
}
ul.datos_cip2 li div.w100
{
    width: 100%;
    text-align: left;
    height: auto;
    line-height: normal;
    padding-top: 5px;
}
.w100 > ul > li
{
    width: 100%;
    height: 1px;
}
.f0
{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
ul.datos_cip2 li select.corta
{
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 133px;
    height: 36px !important;
    line-height: 20px;
    background: url(../img/fecha.png) no-repeat left top;
    border: none;
    text-indent: 0px;
    margin-right: 10px;
    padding: 8px;
}
ul.datos_cip
{
    width: 690px !important;
}
ul.datos_cip li.t2
{
    width: 400px;
    height: auto !important;
}
.cont_cel
{
    min-height: 100px;
}
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: -1000px;
}
a.cancela2
{
    display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    text-decoration: none;
    margin: 0 auto 35px;
    clear: both;
    float: none;
}
select
{
    height: auto !important;
}
ul.datos_cip2 li select
{
    height: 26px;
    text-align: left;
    margin-top: 6px;
}
.neu
{
    text-align: left !important;
}
ul.datos_cip2 li div.w100
{
    width: 100%;
    text-align: left;
    height: auto;
    line-height: normal;
    padding-top: 5px;
}
.w100 > ul > li
{
    width: 100%;
    height: 1px;
}
#menu #menu_principal li img.element_atr
{
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#menu #menu_principal li.activa img.element_atr
{
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
li#paso1
{
    margin-left: 1px;
}

li#paso2
{
    margin-left: 133px;
}

li#paso3
{
    margin-left: 189px;
}

li#paso4
{
    margin-left: 1px;
}

li#paso5
{
    margin-left: 133px;
}

li#paso6
{
    margin-left: 182px;
}

li#paso7
{
    margin-left: 1px;
}

li#paso8
{
    margin-left: 133px;
}

li#paso9
{
    margin-left: 182px;
}


.selecto
{
    margin-top: 15px;
    margin-bottom: 24px;
}


select.pasos_
{
    text-indent: 0;
}


div.conten_pasos2 h4
{
    width: 145px;
}
ul.datos_cip4 li select.corta
{
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 133px;
    height: 36px !important;
    line-height: 20px;
    background: url(../img/fecha.png) no-repeat left top;
    border: none;
    text-indent: 0px;
    margin-right: 10px;
    padding: 8px;
}
ul.datos_cip2 li input.input_azul5
{
    display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    margin-left: 175px;
}
ul.datos_cip2 li input.input_azul6
{
    display: block;
    position: relative;
    float: left;
    width: 109px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    background: none;
    background: url(../img/input_boton.png) no-repeat left top;
    margin-left: 115px;
}
.cierra_1
{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #4b4b4b;
    color: #fff;
    font-size: 20px;
    border-radius: 90px;
    font-weight: bold;
}

.lista_it
{
    /*se adiciona*/
    display: inline;
    float: left;
}
#menu #menu_principal li .submenu li a
{
    /*se adiciona*/
    float: left;
    height: 20px;
    width: 160px;
}


/*Para el combo multiselect*/

.ui-dropdownchecklist
{
    font-size: medium;
    color: black;
}
.ui-dropdownchecklist-selector
{
    height: 20px;
    border: 1px solid #ddd;
    background: #fff;
}
.ui-state-hover, .ui-state-active
{
    border-color: #5794bf;
}
.ui-dropdownchecklist-dropcontainer
{
    background-color: #fff;
    border: 1px solid #999;
}
.ui-dropdownchecklist-item
{
}
.ui-state-hover
{
    background-color: #39f;
}
.ui-state-disabled label
{
    color: #ccc;
}
.ui-dropdownchecklist-group
{
    font-weight: bold;
    font-style: italic;
}
.ui-dropdownchecklist-indent
{
    padding-left: 7px;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper
{
    vertical-align: middle;
    font-size: 0px;
}
.ui-dropdownchecklist-selector
{
    padding: 1px 2px 2px 2px;
    font-size: 0px;
}
.ui-dropdownchecklist-text
{
    font-size: medium; /* line-height: 20px; */
}
.ui-dropdownchecklist-group
{
    padding: 1px 2px 2px 2px;
}
ul.datos_cip2 li table span
{
    display: block;
    float: left;
    line-height: 36px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: auto;
}

/*dvContentAudit*/
/*.inner-col-right{position: relative;}*/
#dvContentAudit
{
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    border: 1px solid #6D6D6D;
    width: 220px;
    background-color: white;
}
#dvContentAudit *
{
    color: #747373;
}
#dvContentAudit #titleAudit
{
    font-size: 13px;
    padding: 10px;
    text-decoration: underline;
    color: #7e7d7b;
}
#dvContentAudit ul li
{
    padding: 5px;
}
#dvContentAudit label
{
    font-weight: bold;
    font-size: 12px;
}
#dvContentAudit span
{
    font-size: 12px;
}
#errores
{
    width: 100%;
    display: none;
    height: auto;
    line-height: 40px;
    background: #faf3a2;
    color: #4b4b4b;
    padding-left: 16px;
    font-size: 14px;
}

img[src*="http://hits.e.cl/cert"], img[src*="https://hits.e.cl/cert"]
{
    display: none;
}

div.conten_pasos3_2
{
    position: relative;
    margin: 25px auto;
    background: url(../img/fondo34.png) no-repeat center bottom;
    padding-bottom: 54px;
    width: 728px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}
.t0
{
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.t30
{
    margin-top: 30px !important;
}
ul.datos_cip5 li select.lista
{
    background: url("../img/tarea3.png") no-repeat scroll left top transparent;
    border: medium none;
    height: 124px;
    padding: 10px;
    width: 420px;
    float: left;
}
.MensajeTransaccion
{
    color: Navy;
    font-weight: bold; /*margin-right: 5px;     font-family: Verdana, Arial, Helvetica, sans-serif;     font-size: 13px;     text-align: left;     padding-left: 10px;     padding-top: 10px;*/
}

.MensajeTransaccionFail
{
    color: Red;
    font-weight: bold; /*margin-right: 5px;     font-family: Verdana, Arial, Helvetica, sans-serif;     font-size: 13px;     text-align: left;     padding-left: 10px;     padding-top: 10px;*/
}

.MensajeValidacion
{
    color: red;
    font-weight: bold; /*margin-right: 5px;     font-family: Verdana, Arial, Helvetica, sans-serif;     font-size: 13px;     text-align: left;     padding-left: 10px;     padding-top: 10px;*/
}
ul.datos_cip2 li.mensaje
{
    width: 100%;
    margin: 0px 0px 0px 200px;
    height: auto;
}
ul.datos_cip2 li.mensaje .MensajeValidacion, .MensajeTransaccion, .MensajeTransaccionFail
{
    height: auto;
    font-weight: bold;
    float: left;
    width: auto !important;
}
.Summary_datosCip2
{
    padding-left: 210px;
    height: auto;
}
ul.datos_cip2 li select.corta3
{
    display: block;
    position: relative;
    float: left;
    margin: 0;
    width: 103px;
    height: 36px !important;
    line-height: 20px;
    background: url(../img/combo-fech-nac.png) no-repeat left top;
    text-indent: 0px;
    padding: 8px;
    margin-right: 10px;
}

/* Estilos despues de aplicar CDN */
.btnImprimir
{
    src: url(../img/impresora.png);
}
ul.datos_cip2 li.t2.txtArea
{
    height: 80px;
}
ul.datos_cip2 li.t2.txtArea textarea
{
    width: 304px;
    padding: 0px;
    margin: 10px 0px;
    height: 70px;
    resize: none;
}
ul.datos_cip2 li.t2 span.textAreaContador
{
    width: 304px;
    text-align: left;
}
