/*!
 * Font Styles
 * @module fonts
 * @author Luis Natividad
 */
@font-face{font-family:geog-mdit;src:url(../fonts/geog-mdit/geog-mdit-webfont.eot);src:url(../fonts/geog-mdit/geog-mdit-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/geog-mdit/geog-mdit-webfont.woff) format('woff'),url(../fonts/geog-mdit/geog-mdit-webfont.ttf) format('truetype'),url(../fonts/geog-mdit/geog-mdit-webfont.svg#geog-mdit) format('svg');font-style:normal;font-weight:400}
@font-face{font-family:geogtq-md;src:url(../fonts/geogtq-md/geogtq-md-webfont.eot);src:url(../fonts/geogtq-md/geogtq-md-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/geogtq-md/geogtq-md-webfont.woff) format('woff'),url(../fonts/geogtq-md/geogtq-md-webfont.ttf) format('truetype'),url(../fonts/geogtq-md/geogtq-md-webfont.svg#geogtq-md) format('svg');font-style:normal;font-weight:400}
@font-face{font-family:tge-bold;src:url(../fonts/tge-bold/tge-bold-webfont.eot);src:url(../fonts/tge-bold/tge-bold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/tge-bold/tge-bold-webfont.woff) format('woff'),url(../fonts/tge-bold/tge-bold-webfont.ttf) format('truetype'),url(../fonts/tge-bold/tge-bold-webfont.svg#tge-bold) format('svg');font-style:normal;font-weight:400}
@font-face{font-family:trebuc;src:url(../fonts/trebuc/trebuc-webfont.eot);src:url(../fonts/trebuc/trebuc-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/trebuc/trebuc-webfont.woff) format('woff'),url(../fonts/trebuc/trebuc-webfont.ttf) format('truetype'),url(../fonts/trebuc/trebuc-webfont.svg#trebuc) format('svg');font-style:normal;font-weight:400}

@font-face{font-family:neosans;src:url(../fonts/neosans/neosans-webfont.eot);src:url(../fonts/neosans/neosans-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/neosans/neosans-webfont.woff) format('woff'),url(../fonts/neosans/neosans-webfont.ttf) format('truetype'),url(../fonts/neosans/neosans-webfont.svg#neosans) format('svg');font-style:normal;font-weight:400}
@font-face{font-family:neosans-italic;src:url(../fonts/neosans-italic/neosans-italic-webfont.eot);src:url(../fonts/neosans-italic/neosans-italic-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/neosans-italic/neosans-italic-webfont.woff) format('woff'),url(../fonts/neosans-italic/neosans-italic-webfont.ttf) format('truetype'),url(../fonts/neosans-italic/neosans-italic-webfont.svg#neosans-italic) format('svg');font-style:normal;font-weight:400}
@font-face{font-family:neosans-medium;src:url(../fonts/neosans-medium/neosans-medium-webfont.eot);src:url(../fonts/neosans-medium/neosans-medium-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/neosans-medium/neosans-medium-webfont.woff) format('woff'),url(../fonts/neosans-medium/neosans-medium-webfont.ttf) format('truetype'),url(../fonts/neosans-medium/neosans-medium-webfont.svg#neosans-medium) format('svg');font-style:normal;font-weight:400}