* { margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block;}
body { cursor:default;background:#EAEAEA; font:12px Arial, Helvetica, sans-serif; color:#333; }
ul { list-style:disc inside;}
a { text-decoration:none; }
img { vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }
p { margin-bottom:13px; }
hr { height:1px; border:0; border-bottom:1px solid #999; margin-bottom:18px; }
/* Header */
header { width:100%; margin:0; font-family: Arial, Helvetica, sans-serif; background-color: #fc0; }
header .top-head { padding:2px 0 0 6px; height:19px; }
header .top-head img { vertical-align:top; width:97px; height:16px; }
header .head { height:40px; padding:0; width:100%; }
header .head h1 { float:left; }
header .head h1 img { width:35px; height:35px; margin:2px}
header .head h2 { float:left; font-size:16px; line-height: 16px; font-weight:bold; color:#221F20; padding:11px 0 0 20px; }
/* Content */
#wrapper { width:100%; margin:0; background:#FFF; padding:20px 0 65px 0; }
.content-head { width:100%; margin:0 auto; }
.content-head p{ margin:0 40px 20px;font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 15px;  text-align:center;}
.content-head a{ text-decoration: underline; }
.content-order { padding:20px 20px 10px 20px; border:1px solid #ccc; border-radius:5px; width:91%; margin:0 auto 40px; }
.order-tit { padding-bottom:15px; border-bottom:1px solid #ccc; width:100%; margin:0 auto 15px; text-align:center; }
.order-text { font-family:Arial, Helvetica, sans-serif; padding-bottom:5px; border-bottom:1px solid #ccc; width:100%; margin:0 auto 20px; text-align:center; }
.order-text h4{ font-weight: bold; font-size: 21px; line-height: 22px; margin-bottom: 5px; }
.order-text p{ font-size: 15px; line-height: 18px; margin:auto 30px 13px 30px;}
.order-pay { width:100%; margin:0 auto 20px; text-align:center; }
.pay-text { width:100%; margin:0; }
.pay-text .red { color: red; font-size: 32px; font-weight: bold; }
.pay-text .gray { color: #999; font-size: 13px; }
.pay-code { width:100%; margin:0; }
.pay-code>p{ color: #333; font-size: 24px; line-height: 26px; font-weight: bold; letter-spacing: 1px; margin:12px 0 0 0; text-align: center; width:100%; }
.code-img { width:100%; height: 44px; margin:0; text-align: center; }
.code-date { color: #333; font-size: 10px; line-height: 12px; width:100%; margin:0; text-align: center; }
.content-company { padding:16px; border:1px solid #999; width:689px; margin:0 auto 26px; text-align:center; }
.content-company img { margin-bottom:10px; height:40px; }
.content-company p { margin-bottom:10px; font-weight:bold; }
.content-company .c-seccion { margin:0; font-weight:normal; }
.content-paid { text-align:center; margin-bottom:30px; } 
.content-paid img { margin-bottom:4px; height:70px; }
.content-paid p { margin-bottom:5px; font-size:14px; }
.content-paid p span { font-size:18px; color:#FF0000; }
.content-paid .code { font-weight:bold; margin:0; }
.content-terms { width:100%; margin:0 auto; }
.content-terms p { padding:0 20px; }
.content-terms .terms { padding:0 20px; margin-bottom:28px; }
.terms .tbank-title { box-sizing:content-box;padding-bottom: 28px;height:28px; border-bottom:1px solid #999; position:relative; padding:8px 0 0 120px;cursor:pointer;}
.terms .tbank-title img {position:absolute;top:8px;left:0;}
.terms .tbank-title h3 { font-size:14px; font-weight:bold; padding-top:5px; }
.terms .tbank-title h3 span { font-size:12px; font-weight:normal; }
.terms .tbank-title .view-tbank { display:block; width:20px; height:20px; background-image:url(../img/Default/bank-plus.png?v=201411101846); background-repeat: no-repeat; position:absolute; right:0; top:11px; padding-top: 3px;text-indent: -72px; text-decoration:none; }
.terms .tbank-title .view-tbank.active { background-position:100% 0; }
.terms .tbank-content { padding:20px 12px 1px; display:none; }
.terms .tbank-content p { padding:0; }
.terms .tbank-content ul { margin:0 0 13px 6px; }
.terms ol li {margin:5px 0 5px 0;}
.form-actions { text-align:center; }
/* Button */
.btn + .btn { margin-left:18px; }
.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,.btn:active,.btn.active { background-color: #e6e6e6;*background-color: #d9d9d9;}
.btn:active,.btn.active { background-color: #cccccc \9; }
.btn:first-child { *margin-left: 0; }
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.btn.active, .btn:active {background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-primary, .btn-primary:hover { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn { border-color: #ccc; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,.btn-primary:active,.btn-primary.active { background-color: #0055cc; *background-color: #004ab3; }
.btn-primary:active, .btn-primary.active { background-color: #004099 \9; }
button.btn,input[type="submit"].btn { *padding-top: 2px; *padding-bottom: 2px; }
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {  padding: 0;  border: 0; }
button.btn.btn-large, input[type="submit"].btn.btn-large { *padding-top: 7px; *padding-bottom: 7px; }
button,input,select,textarea { margin: 0; font-size: 100%; vertical-align: middle; }
button,input { *overflow: visible; line-height: normal;}
button::-moz-focus-inner,input::-moz-focus-inner { padding: 0; border: 0; }
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
.btn-large {
  padding: 13px 59px;
  font-size: 22px;
  line-height: 22px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
/* Hacks */
.lt-ie7 header nav ul li a, .lt-ie7 #content-footer ul li a { float:left; }
.lt-ie9 img { width:auto; }
.lt-ie9 header nav ul { position:absolute; }
/* Print */
@media print {
.form-actions { display:none !important; }
}
@media (max-width: 600px) {
  .content-terms { width:570px;}
  #wrapper { width:600px;}
  .content-order { width:500px; padding:20px 20px 10px 20px; border:1px solid #ccc; border-radius:5px; margin:0 auto 40px; }
  .order-tit { width:500px;padding-bottom:15px; border-bottom:1px solid #ccc; margin:0 auto 15px; text-align:center; }
  .order-text { width:500px;padding-bottom:5px; border-bottom:1px solid #ccc; margin:0 auto 20px; text-align:center; }
  .order-pay { width:500px;margin:0 auto 20px; text-align:center; } }


}