/*!
* Layout
* @module layout
* @author Luis Natividad
*/
@-moz-document url-prefix(){table{border-collapse:separate}}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){#fancybox-loading,.fancybox-next span,.fancybox-prev span{background-image:url(../../../img/plugins/fancybox_sprite@2x.png?version);background-size:44px 152px}}
.select.parsley-success,input.parsley-success,select.parsley-success,textarea.parsley-success{background-color:#fdf18e!important;border:1px solid #d7b325!important}
.select.parsley-error,input.parsley-error,select.parsley-error,textarea.parsley-error{color:#933939!important;background-color:#fff;border:1px solid #933939!important}
.parsley-custom-error-message,.parsley-error,.parsley-required,.parsley-type{animation-name:shake;animation-duration:150ms;animation-iteration-count:2;animation-timing-function:linear;-moz-animation-name:shake;-moz-animation-duration:150ms;-moz-animation-iteration-count:2;-moz-animation-timing-function:linear;-webkit-animation-name:shake;-webkit-animation-duration:150ms;-webkit-animation-iteration-count:2;-webkit-animation-timing-function:linear}
.custom_error .parsley-errors-list{margin-bottom:14px}
.parsley-errors-list{background:#933939;list-style-type:none;font-size:12.6px;line-height:12.6px;opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all .3s ease-in!important;-o-transition:all .3s ease-in!important;-ms-transition:all .3s ease-in-!important;-moz-transition:all .3s ease-in!important;-webkit-transition:all .3s ease-in!important}
.parsley-errors-list.filled{opacity:1;display:table;padding:5px;text-align:left}
.parsley-errors-list:empty{margin:0}
.parsley-errors-list li{font-size:11px;color:#fff}
.slider{display:inline-block;vertical-align:middle;position:relative}
.slider.slider-horizontal{width:210px;height:20px}
.slider.slider-horizontal .slider-track{height:10px;width:100%;margin-top:-5px;top:50%;left:0}
.slider.slider-horizontal .slider-selection{height:100%;top:0;bottom:0}
.slider.slider-horizontal .slider-handle{margin-left:-10px;margin-top:-5px}
.slider.slider-horizontal .slider-handle.triangle{border-width:0 10px 10px;width:0;height:0;border-bottom-color:#0480be;margin-top:0}
.slider.slider-vertical{height:210px;width:20px}
.slider.slider-vertical .slider-track{width:10px;height:100%;margin-left:-5px;left:50%;top:0}
.slider.slider-vertical .slider-selection{width:100%;left:0;top:0;bottom:0}
.slider.slider-vertical .slider-handle{margin-left:-5px;margin-top:-10px}
.slider.slider-vertical .slider-handle.triangle{border-width:10px 0 10px 10px;width:1px;height:1px;border-left-color:#0480be;margin-left:0}
.slider.slider-disabled .slider-handle{background-image:-webkit-linear-gradient(top,#dfdfdf 0,#bebebe 100%);background-image:linear-gradient(to bottom,#dfdfdf 0,#bebebe 100%);background-repeat:repeat-x}
.slider.slider-disabled .slider-track{background-image:-webkit-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);background-image:linear-gradient(to bottom,#e5e5e5 0,#e9e9e9 100%);background-repeat:repeat-x}
.slider .tooltip.hide,.slider input{display:none}
.slider .tooltip-inner{white-space:nowrap}
.slider-track{position:absolute;cursor:pointer;background-image:-webkit-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);background-image:linear-gradient(to bottom,#f5f5f5 0,#f9f9f9 100%);background-repeat:repeat-x;box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);border-radius:4px}
.slider-selection{position:absolute;background-image:-webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);background-repeat:repeat-x;box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px}
.slider-handle{position:absolute;width:20px;height:20px;background-color:#3a94a5;background-image:-webkit-linear-gradient(top,#149bdf 0,#0480be 100%);background-image:linear-gradient(to bottom,#149bdf 0,#0480be 100%);background-repeat:repeat-x;-webkit-filter:none;filter:none;box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);opacity:.8;border:0 solid transparent}
.slider-handle.round{border-radius:50%}
.slider-handle.custom,.slider-handle.triangle{background:0 0}
.slider-handle.custom::before{line-height:20px;font-size:20px;content:'\2605';color:#726204}
.ps-container .ps-scrollbar-x-rail{position:absolute;bottom:3px;height:8px;border-radius:4px;opacity:0;transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color .2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear}
.ps-container .ps-scrollbar-x-rail.in-scrolling{background-color:#eee;opacity:.9}
.ps-container .ps-scrollbar-y-rail{background:0 0;border-radius:4px;margin-top:20px;position:absolute;right:3px;transition:background-color .2s linear,opacity .2s linear;width:2px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color .2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear}
.ps-container .ps-scrollbar-y-rail.in-scrolling{background-color:$green2;opacity:.9}
.ps-container .ps-scrollbar-x{position:absolute;bottom:0;height:8px;background-color:$green2;border-radius:4px;transition:background-color .2s linear;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear}
.ps-container.ie6 .ps-scrollbar-x,.ps-container.ie6 .ps-scrollbar-y{font-size:0}
.ps-container .ps-scrollbar-y{background-color:$green2;border-radius:4px;cursor:pointer;height:70px;position:absolute;right:-3px;transition:background-color .2s linear;width:7px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-transition:background-color .2s linear;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear}
.table-of-contents li{display:inline-block;zoom:1}
.table-of-contents li a{font-size:16px;color:#999}
.example-name,.title{font-family:Prociono}
.title{margin:20px 0 0;font-size:64px}
.example{padding:30px 0}
.example-name{margin:20px 0;font-size:32px}
.demo{position:relative;margin:50px 0}
#custom-templates .empty-message{padding:5px 10px;text-align:center}
#multiple-datasets .league-name{margin:0 20px 5px;padding:3px 0;border-bottom:1px solid #ccc}
#scrollable-dropdown-menu .tt-dropdown-menu{max-height:150px;overflow-y:auto}
#rtl-support .tt-dropdown-menu{text-align:right}
.tt-hint,.tt-query,.typeahead{width:396px;height:30px;padding:8px 12px;font-size:24px;line-height:30px;border:2px solid #ccc;border-radius:8px;outline:0}
.typeahead{background-color:#fff}
.typeahead:focus{border:2px solid #0097cf}
.tt-query{box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.tt-hint{color:#999}
.tt-dropdown-menu{width:422px;margin-top:12px;padding:8px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:8px;box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2)}
.tt-suggestion{padding:3px 20px;font-size:18px;line-height:24px}
.tt-suggestion.tt-cursor{color:#fff;background-color:#0097cf}
.tt-suggestion p{margin:0}
.gist{font-size:14px}
@keyframes slide_left{0%{position:absolute}
100%{-webkit-transform:translate(-258px,0);transform:translate(-258px,0);display:none;position:absolute}}
@-webkit-keyframes slide_left{0%{position:absolute}
100%{-webkit-transform:translate(-258px,0);display:none;position:absolute}}
@keyframes slide_right{0%{display:block}
100%{-webkit-transform:translate(0,0);transform:translate(0,0);position:relative}}
@-webkit-keyframes slide_right{0%{display:block}
100%{-webkit-transform:translate(0,0);position:relative}}

*{-moz-box-sizing:border-box;box-sizing:border-box;}
article,aside,footer,header,nav,section{display:block}
html{height:100%;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;margin:0}
body{min-width:1000px}
@media only screen and (max-width:400px){body{min-width:0}}
a:active,a:hover{outline:0}
ul{margin:0;list-style:none;padding:0;line-height:normal}
img{border:0;max-width:100%;vertical-align:middle;width:auto 9;-ms-interpolation-mode:bicubic}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{line-height:normal}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
button{-webkit-appearance:button}
button,input[type=checkbox],input[type=radio],label,select{cursor:pointer}
textarea{overflow:auto;vertical-align:top}
figure,form{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;width:100%}
input[type=checkbox],input[type=radio]{margin:0;padding:0}
::-webkit-input-placeholder{color:#5e5e5e}
::-moz-placeholder{color:#5e5e5e}
:-ms-input-placeholder{color:#5e5e5e}
input:-moz-placeholder{color:#5e5e5e}
b,strong{font-family:geogtq-bd,arial,sans-serif;font-weight:400}
p{margin:0 0 1.5em;line-height:1.5em}
h1,h2,h3,h4,h5,h6{font-weight:400;line-height:normal;margin-top:0}
.tar{text-align:right}
.tal{text-align:left}
.tac{text-align:center}
.mb20{margin-bottom:29.4px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:35px}
.relative{position:relative}
.hide{display:none!important}
.padboth{padding:21px 0}
.line_bottom{border-bottom:1px solid $grey20;margin-bottom:14px;padding-bottom:14px}
.grid_2{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:14.166666666666702%;margin-left:0;margin-right:3%}
.grid_2:last-child{margin-right:0}
.grid_3{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:22.75%;margin-left:0;margin-right:3%}
.grid_3:last-child{margin-right:0}
.grid_4{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:31.3333333333333%;margin-left:0;margin-right:3%}
.grid_4:last-child{margin-right:0}
.grid_5{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:39.9166666666667%;margin-left:0;margin-right:3%}
.grid_5:last-child{margin-right:0}
.grid_6{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:48.5%;margin-left:0;margin-right:3%}
.grid_6:last-child{margin-right:0}
.grid_7{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:57.0833333333333%;margin-left:0;margin-right:3%}
.grid_7:last-child{margin-right:0}
.grid_8{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:65.6666666666667%;margin-left:0;margin-right:3%}
.grid_8:last-child{margin-right:0}
.grid_9{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:74.25%;margin-left:0;margin-right:3%}
.grid_9:last-child{margin-right:0}
.grid_10{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:82.8333333333333%;margin-left:0;margin-right:3%}
.grid_10:last-child{margin-right:0}
.grid_11{float:left;display:inline;clear:none;text-align:inherit;padding-left:0;padding-right:0;width:91.4166666666667%;margin-left:0;margin-right:3%}
.grid_11:last-child{margin-right:0}
.the_price{font-size:25.2px;line-height:25.2px;margin:14px 0 4.2px}

