/*!
 * pagoEfectivo
 * @controller pagoEfectivo
 * @module momo
 * @author Luis Natividad
 */
 /*!
* Index
* @controller pagoEfectivo
* @view 
*/
p{margin:0}

.title_page{display:none;width:100%;text-align:right;font-family:geog-mdit,arial,sans-serif;font-size:17px;position:relative;top:25px;right:15px;}

.content_box{overflow:hidden;margin-bottom:35px;font-family:Arial,Helvetica}
.content_bottom{overflow:hidden;margin-bottom:48px}
.content_main{margin:36px 0 48px}
.order_message{text-align:center;font-family:Helvetica,Arial}
.order_message h4{font-size:20px}
.order_message p{font-size:14px;line-height:18px}
.bold{font-weight:700}
.background_information{background-image:url(../../../img/info_background.png?v=201411101846);background-repeat:repeat;padding:9px;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;overflow:hidden}
.background_information .content_info{background:#79e5fc;width:100%;height:100%;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;font-size:17px;line-height:24px;font-family:tge-bold,arial,sans-serif}
.print_button{float:right}
.print_button button{width:124px;height:34px;background:#323232;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border:0;color:#fff;font-family:geog-mdit,arial,sans-serif;padding-bottom:3px}
.print_button{cursor:pointer;position:relative;width:124px;height:34px;background:#323232;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border:0;color:#fff;font-family:geog-mdit,arial,sans-serif;padding-bottom:3px}
.print_button .btn-print{width:100%;height:34px;font-size:15px;background:#323232;border:0;color:White;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.print_button button span{background-image:url(../img/third_sprite.png?v=201411101846);background-position:0px -70px;width:20px;height:20px;display:inline-block;position:relative;top:4px;left:4px}
.print_button span{position:absolute;background-image:url(../img/third_sprite.png?v=201411101846);background-position:0px -70px;width:20px;height:20px;display:inline-block;top: 6px;
right: 10px;}
.payment_header{background:#feca00;height:73px;padding:25px 10px;position:relative;display:none;}
.payment_header img{display:block;position:absolute;top:10px;left:15px; width:50px;}
.payment_header h4{width:100%;text-align:center;font-family:geog-mdit,arial,sans-serif;font-size:19px}
.payment_header .print_button{position:absolute;right:10px;top:20px}
.payment_header.block{display:block}
.payment_summary{/*height:308px;*/border:1px solid #000;margin-top:42px;font-family:Arial,Tahoma}
.payment_summary.commerce{margin-top:17px}
.payment_summary .content_payment_summary{overflow:hidden;padding:6px}
.payment_summary.cip_generado{margin-top:65px;}
.payment_summary .content_payment_summary .payment_code{float:left;width:625px}
.payment_summary .content_payment_summary .payment_code .logo_pagoefectivo_black{width:188px;height:180px;padding:20px 20px;float:left}
.payment_summary .content_payment_summary .payment_code .info_code{float:right;width:436px;height:180px;font-size:26px;padding:50px 20px 0 60px;font-weight:700}
.payment_summary .content_payment_summary .payment_code .info_code span{display:block;font-size:37px;font-weight:700}
.payment_summary .content_payment_summary .payment_code .info_code.other_style{padding:70px 0 0 70px}
.payment_summary .content_payment_summary .payment_code .info_code.other_style span{display:block;margin:0}
.payment_summary .content_payment_summary .payment_code .restrictions{font-size:10px;text-align:center}
.payment_summary .content_payment_summary .payment_code .total_pay_movil{display:none;text-align:center;padding:12px}
.payment_summary .content_payment_summary .payment_code .total_pay_movil h4{display:inline-block;font-size:22px;font-weight:700;margin:0}
.payment_summary .content_payment_summary .payment_code .total_pay_movil span{font-size:25px}
.payment_summary .content_payment_summary .payment_code .total_pay_movil span.igv{display:block;font-size:14px}
.payment_summary .content_payment_summary .payment_code .total_pay_movil .payment_date{margin:0 auto;font-size:12px}
.payment_summary .content_payment_summary .total_pay{float:right;background:#d0d0d0;width:321px;height:206px;padding:26px 0;text-align:center}
.payment_summary .content_payment_summary .total_pay h4{font-size:31px;font-weight:700;margin:0}
.payment_summary .content_payment_summary .total_pay span{font-size:25px}
.payment_summary .content_payment_summary .total_pay .payment_date{border-top:1px solid #000;padding-top:8px;width:245px;margin:13px auto 0;font-size:15px}
.payment_summary .content_payment_summary .total_pay.other_style{padding-top:71px}
.payment_summary .info_payment_summary{border-top:1px solid #000;padding:6px}
.payment_summary .info_payment_summary .content_info{background:#feca00;overflow:hidden;/*height:72px*/}
.payment_summary .info_payment_summary .content_info .logo_info_left,.payment_summary .info_payment_summary .content_info .logo_info_right{width:72px;height:72px;padding:14px}
.payment_summary .info_payment_summary .content_info .logo_info_left span,.payment_summary .info_payment_summary .content_info .logo_info_right span{background-image:url(../img/third_sprite.png?v=201411101846);background-position:0 0;width:44px;height:44px;display:block}
.payment_summary .info_payment_summary .content_info .logo_info_left{float:left}
.payment_summary .info_payment_summary .content_info .logo_info_right{float:right}
.payment_summary .info_payment_summary .content_info p{width:798px;float:left;text-align:center;font-size:16px;line-height:22px;padding-top:14px}
.payment_methods{margin-top:7px}
.payment_methods p{font-size:20px;text-align:center}
.payment_methods h4{background:#000;color:#fff;text-align:center;font-family:geogtq-md,arial,sans-serif;font-weight:700;font-size:20px;margin:0}
.payment_methods .content_payment_methods{margin-top:12px;margin-bottom:10px}
.payment_methods .content_payment_methods.other_style{padding:20px}
.payment_methods .content_payment_methods .places{margin-top:26px;overflow:hidden}
.payment_methods .content_payment_methods .places .place{width:191.5px;float:left;margin:0;font-weight:bold;}
.payment_methods .content_payment_methods .places .place.mr{padding-left:15px;}
.payment_methods .content_payment_methods .places .place span{display:inline-block;vertical-align:top}
.payment_methods .content_payment_methods .places .place span.internet{background-image:url(../img/third_sprite.png?v=201411101846);background-position:-74px -26px;width:26px;height:26px}
.payment_methods .content_payment_methods .places .place span.agentes{background-image:url(../img/third_sprite.png?v=201411101846);background-position:-26px -44px;width:26px;height:26px}
.payment_methods .content_payment_methods .places .place span.agencias{background-image:url(../img/third_sprite.png?v=201411101846);background-position:0 -44px;width:26px;height:26px}
.payment_methods .content_payment_methods .places .place span.cajeros{background-image:url(../img/third_sprite.png?v=201411101846);background-position:-74px 0;width:26px;height:26px}
.payment_methods .content_payment_methods .places .place span.icon{position:relative;top:0px;margin-right:4px}
.payment_methods .content_payment_methods .accordion_affiliated_office{margin-top:10px}
.payment_methods .print_button_payment_bottom{position:absolute;bottom:49px;right:0}
.payment_methods h2{font-size:20px;font-family:geog-mdit,arial,sans-serif;text-align:center;width:100%;margin-top:45px}
.accordion{height:48px;border:1px solid #000;margin-top:-1px;position:relative}
.accordion .logo{width:120px;text-align:center}

.accordion span{display:block;cursor:pointer;position:absolute;right:10px;top:8px;font-size:24px;font-family:"Times New Roman",Tahoma}
.accordion .cajero{position:absolute;right:125px;top:6px}
.container{display:none;overflow:hidden;padding:10px 0 21px;font-family:Arial,Tahoma;font-size:13px}
.container h6{font-weight:700;line-height:16px;font-size:13px;margin:0}
.container ul{margin:0}
.container ul li{line-height:16px}
.container.first_item{display:block}
.container .content{width:768px;float:right}
.container .place_steps{float:left;width:187px;padding:5px}
.container .place_steps.empty{height:32px}
.mobile_footer{display:none;position:relative;background:#000;height:106px;padding: 15px 0px 0px 25px;box-sizing:border-box;}
.mobile_footer ul li a{color:white;}
.mobile_footer .help{position: absolute;top:21px;right:18px;}
.mobile_footer .help a span{background-image:url(../img/third_sprite.png?v=201411101846);background-position:-20px -70px;width:19px;height:19px;display:block;}
@media screen and (max-width:720px){body{min-width:100%}
.mobile_box{margin-top: 20px;}
.title_page{display:block;}
.payment_summary.cip_generado {
margin-top: 20px;
}
.accordion .logo{text-align:left;padding-left:10px;}
.mobile_footer{display:block;}
.order_message{display:none}
.payment_header{height:53px;display:block}
.payment_header img{top:5px;left:15px;width:40px;height:40px}
.payment_header h4{text-align:right;font-size:17px;margin-top:-8px}
.payment_summary{margin-top:28px;height:auto;border:1px solid #000}
.payment_summary .content_payment_summary{height:auto;text-align:center;padding:0}
.payment_summary .content_payment_summary .payment_code{float:none;width:100%}
.payment_summary .content_payment_summary .payment_code .logo_pagoefectivo_black{display:none}
.payment_summary .content_payment_summary .payment_code .info_code{float:none;padding:27px 0px 0px 0px;width:auto;height:auto}
.payment_summary .content_payment_summary .payment_code .info_code span{margin-left:0;display:block}
.payment_summary .content_payment_summary .payment_code .info_code .product{display:none}
.payment_summary .content_payment_summary .payment_code .restrictions{border-top:1px solid #000;font-size:11px;text-align:center;padding:5px 21px}
.payment_summary .content_payment_summary .payment_code .total_pay_movil{display:block}
.payment_summary .content_payment_summary .total_pay{display:none}
.payment_summary .info_payment_summary .content_info{height:auto;overflow:hidden}
.payment_summary .info_payment_summary .content_info .logo_info_left,.payment_summary .info_payment_summary .content_info .logo_info_right{width:58px;height:58px}
.payment_summary .info_payment_summary .content_info .logo_info_left span,.payment_summary .info_payment_summary .content_info .logo_info_right span{background-image:url(../img/third_sprite.png?v=201411101846);background-position:-44px 0;width:30px;height:30px}
.payment_summary .info_payment_summary .content_info p{width:81%}
.payment_methods .content_payment_methods p{font-size:15px;width:100%;text-align:center}
.payment_methods .content_payment_methods .places,.payment_methods .print_button_payment_bottom,.payment_methods h2{display:none}
.accordion{border:0;border-top:1px solid #000;border-bottom:1px solid #000}
.accordion .cajero{left:120px}
.container .content{width:100%;float:none;padding:0 15px}
.container .content .place_steps{float:none;width:100%;padding:0px;}
.container .place_steps.empty{height:0px}
.print_button{display:none}}
@media screen and (max-width:640px){.payment_summary .info_payment_summary .content_info p{width:75%}}
@media screen and (max-width:540px){.payment_summary .info_payment_summary .content_info p{width:70%}}
@media screen and (max-width:480px){.payment_summary .info_payment_summary .content_info p{width:68%}}