header.cip
{
    display:none;
}
.print_button
{
    display: none;
}
.accordion
{
    height: 52px;
}
.accordion .logo img
{
    height:45px;
    margin-top:2px;
}
.accordion span
{
    display: none;
}
.container
{
    display:block;
}