@font-face {
    font-family: 'HelveticaNeueLightCondRegular';
    src: url('fonts/helveticaneue-lightcond-webfont.eot');
    src: url('fonts/helveticaneue-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-lightcond-webfont.woff') format('woff'),
         url('fonts/helveticaneue-lightcond-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-lightcond-webfont.svg#HelveticaNeueLightCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* { margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block;}
body { background: #ffffff; cursor:default; font:12px Arial, Helvetica, sans-serif; color:#333; }

ul { list-style-type:disc; list-style-position:inside;}
a { text-decoration:underline; color:#0033CC; }
a:hover { color:#232021; }
img { max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }
a img:hover { opacity:0.85; }
p { margin-bottom:13px; }
hr { height:1px; border:0; border-bottom:1px solid #999; margin-bottom:18px; }
/* Header */
header { width:100%; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background:url(../img/Default/bg-head.png) repeat-x; position:relative; z-index:1;}
header .content-header { width:1000px; margin:0 auto; background:url(../img/Default/bg-head.png) repeat-x; position:relative; z-index:999; }
header .top-head { padding:2px 0 0 6px; height:19px; }
header .top-head img { vertical-align:top; width:97px; height:16px; }
header .head { height:74px; padding:14px 0 0 33px; }
header .head h1 { float:left; color:#FFF;}
header .head h1 a { text-decoration:none; }
header .head h1 img { width:60px; height:60px; }
header .head h2 { float:left; font-size:12px; font-weight:normal; color:#221F20; padding:25px 0 0 10px; }
header .head #login { float:right; padding-top:10px; list-style:none; }
header .head #login li { float:left; }
header .head #login li  a { text-decoration:underline; color:#0033CC; }
header .head #login li  a:hover { color:#000; }
header .head #login li.break { margin:0 16px; }
header nav, #ulMenu { height:35px; }
header nav{position: relative;}
#ulMenu {
    background: url("../img/Default/bg-nav-li.gif") no-repeat scroll right 9px transparent;
    float: left;
    list-style: none outside none;
    padding-right: 1px;
    position: absolute;
	top:0;
	left:0;
}
#ulMenu > li {
    background: url("../img/Default/bg-nav-li.gif") no-repeat scroll 0 9px transparent;
    float: left;
    height: 35px;
    padding-left: 1px;
}
#ulMenu > li > a {
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 22px;
    line-height: 12px;
    padding: 14px 32px 0;
    text-decoration: none;
    width: auto;
}
#ulMenu > li > a:hover, #ulMenu > li.active > a {
    background: url("../img/Default/bg-nav-li-hover.png") repeat-x scroll 0 0 transparent;
    color: #000000;
}
#ulMenu > li:hover ul {
    display: block;
}
#ulMenu ul {
    background-color: #f1f1f1;
    background-image: none;
    border-radius: 0;
    box-shadow: 0 2px 3px #333333;
    display: none;
    list-style: none outside none;
    position: absolute;
    right: 0;
    top: 35px;
    width: 200px;
    z-index: 200;
}
#ulMenu > li {
    position: relative;
}
#ulMenu ul li a {
    background-image: none;
    border-radius: 0;
    border-top: 1px solid #ccc;
    line-height: 12px;
    padding: 8px 10px;
    width: 180px;
    display: block;
    text-decoration: none;
    color: #333;
}
#ulMenu ul li a:hover {
    background-color: #ccc;
}
/* Content */
#wrapper { width:100%; background: none no-repeat center top; position:relative; }
/*#wrapper {width: 100%; background: url(../img/Default/bg-shadow.png) repeat-x;position: relative; }*/
#wrapper #container { width:1000px; margin:0 auto; background:#FFF; padding:20px 0 50px 0; min-height:620px; height:auto !important; height:410px;position:relative; }
.content-side-left { float:left; width:650px; padding-left:10px; }
.sidebar-rigth { float:left; padding-left:10px; width:320px; }
.content { padding:0 10px; width:980px; margin:0 auto; }
.title-seccion {clear:both; font:bold 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#2f2f2f; padding:8px 0 3px 20px; margin-bottom:10px; position:relative; border-bottom: 1px solid #9b9b9b; }
.title-seccion span { position:absolute; width:10px; height:11px; background:url(../img/Default/bg-title-seccion.gif) no-repeat; top:16px; left:2px; }
.content-side-left .title-seccion { width:618px; }
.sidebar-rigth .title-seccion { width:288px; }
.content .title-seccion { width:948px; }
.two-columns { float:left; width:47%; padding:0 1%; }
/* Int */
.content .content-affiliates { padding:10px 10px 10px 11px; }
.content .content-affiliates ul { width:959px; }
.content .content-affiliates ul li { margin-left:17px; }
.content .content-affiliates ul li a, .content .content-affiliates ul li a img { width:225px !important; height:90px; }
.content .next-afiliates { padding: 10px; }
.content .next-afiliates ul { width:960px; }
.content .next-afiliates ul li { width:182px; height:98px; }
.content .next-afiliates ul li img { display:block; width:182px  !important; height:98px; }
/* Home */
.content-affiliates { background:#F1F1F1; padding:1px 11px 5px 10px; margin-bottom:18px; }
.content-affiliates ul { float:left; width:629px; margin-bottom:10px;  }
.content-affiliates ul li { list-style:none; float:left; margin:10px 0 0 10px; border:1px solid #E5E5E5; }
.content-affiliates ul li.first { margin-left:0; }
.content-affiliates ul li a, .content-affiliates ul li a img  { display:block; width:201px  !important; height:79px;}
.next-afiliates { background:#F1F1F1; padding:1px 10px 5px; }
.next-afiliates ul { float:left; width:630px; margin-bottom:10px;  }
.next-afiliates ul li { list-style:none; float:left; margin:10px 0 0 10px; width: 116px; height: 77px; border:1px solid #E5E5E5; }
.next-afiliates ul li.first { margin-left:0; }
.next-afiliates ul li img { display:block; width:116px  !important; height:77px; }
.content-purse { background:#F1F1F1; padding:18px 12px 5px 234px; position:relative; width:404px; }
.content-purse .content-purse-img { position:absolute; top:16px; left:56px; width:120px; height:120px; }
.content-purse .content-purse-img img { width:120px; height:120px; display:block;  }
.content-purse  p { font-size:14px; }
.content-purse  p a { font-size:12px; }
.content-purse ul li { font-weight:bold; list-style-type:disc; }
.content-purse ul { margin-bottom:16px; width:404px; }
.benefits { background:#F1F1F1; padding:8px 15px 12px; margin-bottom:20px; }
.benefits.last { margin:0; }
.benefits ul li { margin-bottom:13px; }
.content-benefits .benefits { width:290px; font-size:14px; margin:0 0 20px 10px; float:left; }
.content-benefits .benefits.first { margin-left:0; }
.content-benefits .benefits li { margin-bottom:3px; }
.title-benefits { font:36px HelveticaNeueLightCondRegular, Arial; color:#000; border-bottom:1px solid #CCC; padding:3px 0 14px 78px; margin-bottom:10px; }
.title-benefits.easy { background:url(../img/Default/bg-beneficio-facil.jpg) no-repeat; }
.title-benefits.secure { background:url(../img/Default/bg-beneficio-seguro.jpg) no-repeat; }
.title-benefits.flexible { background:url(../img/Default/bg-beneficio-flexible.jpg) no-repeat; }
.title-benefits.accessible { background:url(../img/Default/bg-beneficio-accesible.jpg) 10px 0 no-repeat; }
#slide-home { width:648px; height:258px; padding:1px; background:#ACA7A6; position:relative; margin-bottom:18px; }
#slide-home .slides_container { z-index:998; width:648px; }
#slide-home .pagination { position:absolute; top:14px; right:15px; z-index:999; list-style:none; }
#slide-home .pagination  li { float:left; margin-left:5px; }
#slide-home .pagination  li a { height:0; width:17px; padding-top:17px; float:left; overflow:hidden; display:block; background-image:url(../img/Default/bg-nav-slide.png); }
#slide-home .pagination  li a:hover, #slide-home .pagination  li.current a { background-position:100% 0;}
#slide-home .slides_container div img { display:block; width:648px; height:258px; }
#slide-home .slides_container div span { position:absolute; display:block; background:url(../img/Default/bg-overlay.png); }
#slide-home .slides_container .coment1 { font:42px HelveticaNeueLightCondRegular, Arial, Helvetica, sans-serif; color:#FFF; bottom:90px; right:0; padding:0 40px 0 24px; }
#slide-home .slides_container .coment2 { font:56px HelveticaNeueLightCondRegular, Arial, Helvetica, sans-serif; color:#FFF; bottom:12px; right:0; padding:0 25px 0 24px; }
/* Sidebar */
.banner-welcome { text-align:center; border:1px solid #E5E5E5; padding:9px 0 22px; background:#FFF url(../img/Default/bg-banner-welcome.jpg) left bottom no-repeat; margin-bottom:18px; }
.banner-welcome h3 { width:316px; margin:0 auto; font:bold 22px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; background:#232323; padding:6px 0; -webkit-box-shadow: 0 1px 2px #000; -moz-box-shadow: 0 1px 2px #000; box-shadow: 0 1px 2px #000; margin-bottom:16px;  }
.banner-welcome p { font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; padding:0 46px; }
.box-suscribe{background:#f1f1f1; height:125px; padding:10px 0 7px; position:relative; text-align: right}
.box-suscribe h2{color:#000; font-size:21px; font-weight:700; line-height:20px; margin-bottom:9px}
.box-suscribe p{font:12px/13px "Trebuchet MS", Arial, Helvetica, sans-serif}
.control{float:left; text-align: left; width:100px}
.control span{float:left; font-size:11px; width:180px}
.buzon-img{ background-image:url(../img/Default/buzon.png); display:block; height:143px; left:0; position: absolute; top:-13px; width:145px; z-index:5}
.sbt-content{position: absolute; right:10px; width:220px; z-index:10}
.input-mail{border:1px solid #ccc; line-height:23px; height:23px}
.btn-sbt{background-color:#0074CC; border:0; border-radius:5px; color:#fff; line-height:25px; text-align: center; width: 80px; height:25px;}
.btn-sbt:hover{background-color:#0055cc}
.content-slip { padding:10px 10px 5px; background:#F1F1F1; width:300px; margin-bottom:18px; }
.content-slip.fix { padding-bottom:10px; }
.content-slip p { margin-bottom:5px; }
.content-slip p.break { margin-top:5px; }
.title-faqs { position:relative; background:#666; padding:6px 40px 6px 10px;  width:250px; margin-bottom:1px; cursor:pointer; }
.title-faqs h3 { font:normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; }
.title-faqs a { position: absolute; right: 3%; top: 16%;  }
.faqs-content { display:none; padding:8px 8px 1px; border:1px solid #E0E0E0; margin-bottom:1px; }
.faqs-content  p, .faqs-content ul { font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:9px; }
.title-bank-paid { position:relative; height:43px; margin-bottom:1px;cursor:pointer; }
.title-bank-paid h3 { padding-left:11px; }
.title-bank-paid h3 img { height:43px; }
.title-bank-paid a { top:9px; right:9px; position:absolute; }
.title-bank-paid.bcp { background:#003B7D; }
.title-bank-paid.bbva { background:#07328E; }
.title-bank-paid.interbank { background:#009E41; }
.title-bank-paid.fullcarga { background:#FFF; }
.title-bank-paid.bim { background:#5848A5; margin: 2px}
.title-bank-paid.western { background:#020202; }
.title-bank-paid.scotiabank { background:#EF2A24; }
.title-bank-paid.kasnet { background:#2a58a5; }
.title-bank-paid.banbif { background:#0397D7; }
.bank-paid-content { display:none; background:#F8F8F8; border:1px solid #E0E0E0; margin-bottom:1px; padding:10px 10px 2px;; }
.bank-paid-content p { font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.bank-paid-content p,.bank-paid-content ul { margin-bottom:8px; }
.bank-paid-content ul { margin-left:26px; list-style: decimal outside; }
/* Terms */
.content-company { padding:16px; border:1px solid #999; width:689px; margin:0 auto 26px; text-align:center; }
.content-company img { margin-bottom:10px; }
.content-company p { margin-bottom:10px; font-weight:bold; }
.content-company .c-seccion { margin:0; font-weight:normal; }
.content-paid { text-align:center; margin-bottom:30px; } 
.content-paid img { margin-bottom:4px; }
.content-paid p { margin-bottom:5px; font-size:14px; }
.content-paid p span { font-size:18px; color:#FF0000; }
.content-paid .code { font-weight:bold; margin:0; }
.content-terms { width:840px; margin:0 auto; }





.content-terms p { padding:0 20px; }
.content-terms .terms { padding:0 20px; margin-bottom:28px; }
.terms .tbank-title { height:24px; border-bottom:1px solid #999; position:relative; padding-top:8px; }
.terms .tbank-title h3 { font-size:14px; font-weight:bold; padding-top:3px; }






.terms .tbank-title h3 span { font-size:12px; font-weight:normal; }
.terms .tbank-title .view-tbank { display:block; width:20px; height:20px; background-image:url(../img/Default/bank-plus.png); background-repeat: no-repeat; position:absolute; right:0; top:8px; }
.terms .tbank-title .view-tbank.active { background-position:100% 0; }
.terms .tbank-content { padding:20px 12px 7px; display:none; }
.terms .tbank-content p { padding:0; }
.terms .tbank-content ul { margin:0 0 13px 6px; }
.form-actions { text-align:center; }
/* Paid Center */
.nav-paid-center { list-style:none; height:20px; }
.nav-paid-center li,.nav-paid-center li a { float:left; }
.nav-paid-center li { margin-right:18px; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; }
.paid-center { margin-top:20px; }
.paid-center .title-paid-center { font:bold 22px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#000; padding-bottom:2px; border-bottom:2px solid #000; margin-bottom:10px; }
.paid-center .img-paid-center { width:320px; text-align:center; float:left; padding-bottom:10px; }
.paid-center .content-paid-center { width:660px; float:left; padding-bottom:10px; }
.paid-center .content-paid-center h4 { color:#000; margin-bottom:8px; font:bold 13px "Trebuchet MS", Arial, Helvetica, sans-serif;  }
.paid-center .content-paid-center ul { list-style: outside decimal; margin-left:22px; }
.paid-center .content-paid-center p { margin-bottom:6px; }
/* Contact */
.box-yll{ background-color:#ffeeb6; border:2px solid #ffb818; margin-bottom:15px; padding: 10px 20px}
.box-yll p{ font-size:13px; line-height:14px; margin-bottom:0}
.close-yll a{ color:#ffb818; float:right; font-size:14px; font-weight:700; line-height:14px; text-decoration: none}
.content-contact { background:#F1F1F1; color:#000; padding:18px 52px; }
.content-contact div.contact { padding:10px 0 10px 0px;}
.content-contact div.contact label { display:inline-block; width:190px; vertical-align:top; padding-top: 4px; }
.content-contact div.contact .input-text { color:#333; font:12px Arial, Helvetica, sans-serif; padding:2px; border:1px solid #CCC; width:234px; background:#FFF; margin-bottom:8px; line-height:16px; }
.content-contact div.contact .textarea { color:#333; font:12px Arial, Helvetica, sans-serif; padding:2px; border:1px solid #CCC; background:#FFF; margin-bottom:8px; width:450px; height:116px; }
.content-contact .form-actions { text-align:left; padding-left:190px; }
.requerido { padding: 0 10px 0 0; color:Red;}
/* Welcome */
.content-welcome { border:1px solid #999; text-align:center; width:810px; margin:20px auto 0; padding:30px 15px; } 
.content-welcome h3 { font:bold 18px Arial, Helvetica, sans-serif; color:#000; margin-bottom:10px; }
.content-welcome .info { display:inline-block; width:26px; height:24px; margin-right:6px; background:url(../img/Default/check.jpg) no-repeat; }
.content-welcome .form-actions { padding-top:20px;}
/* Footer */
footer { background:#000 url(../img/Default/bg-footer2.png) repeat-x; height:142px; }
footer #content-footer { width:1000px; margin:0 auto; padding:8px 0 15px; height:64px; border-bottom:1px solid #999;background:#000 url(../img/Default/bg-footer2.png) repeat-x; }
#content-footer .foot-logo, #content-footer ul { float:left; }
#content-footer .foot-logo img { width:40px; height:40px; }
#content-footer ul { height: 14px;list-style: none;margin-top: 10px;padding: 14px 0 0 12px;}
#content-footer ul li { float:left; color:#CCC; line-height:12px;  }
#content-footer ul li.break { margin:0 12px; }
#content-footer ul li a { color:#CCC; text-decoration:underline; }
#content-footer ul li a:hover { color:#FFF; } 
/* Popup */
.popup { width:450px; margin:0 auto; padding:4px 0; }
.popup h1 { padding:0 0 8px 6px; border-bottom:2px solid #000; margin-bottom:20px; }
.popup h1 img { width:112px; height:52px; }
.popup .popup-content { padding:0 6px;}
.popup .popup-content h2 { font:bold 18px Arial, Helvetica, sans-serif; color:#000; margin-bottom:20px; }
.popup .popup-content .info { background:url(../img/Default/check.jpg) 0 3px no-repeat; padding: 0 0 0 38px; }
.popup .form-actions { text-align:left; padding-top:6px; }
.popup form label { display:block; font-size:13px; color:#000; margin-bottom:2px; }
.popup form .input-text { border:1px solid #8F8D8D; padding:2px; line-height:16px; font-size:13px; width:198px; margin-bottom:15px; }
.popup form .coment-inline { display:inline-block; vertical-align:top; margin-left:6px; font-size:11px; color:#666; padding-top:3px; }
.popup .content-alert { background:#FFEA97 url(../img/Default/bg-title-seccion.png) 11px 12px no-repeat; padding:10px 30px 1px; margin-bottom:26px; }
.popup .login label { display:inline-block; vertical-align:top; width:66px; padding-top:2px; }
.popup .login .input-text { width:265px; }
.popup .login .form-actions { padding-left:66px; }
.popup .login .form-actions button { margin-bottom:16px; }
.popup .login .form-actions .coment-inline { font-size:12px; padding-top:9px; margin-left:12px; }
/* List */
.two-columns-list { float:left; }
.two-columns-list li { width:50%; float:left; }
/* Alineaciones */
.align-right { text-align:right; }
.align-center { text-align:center; }
/* Button */
.btn + .btn { margin-left:18px; }
.btn {
  border-left: 0 none #e6e6e6;
    border-right: 0 none #e6e6e6;
    border-top: 0 none #e6e6e6;
    border-bottom: 0 none #b3b3b3;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:bold;
  display: inline-block;
  *display: inline;
    padding: 4px 10px 4px;
    margin-bottom: 0;
  *margin-left: .3em;
    font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
    background-repeat: repeat-x;
  *-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);*
}

.btn:hover,.btn:active,.btn.active { background-color: #e6e6e6;*background-color: #d9d9d9;}
.btn:active,.btn.active { background-color: #cccccc \9; }
.btn:first-child { *margin-left: 0; }
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.btn.active, .btn:active {background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-primary, .btn-primary:hover { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn { border-color: #ccc; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);background-image:none; }
.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-repeat: repeat-x;
    background-image: linear-gradient(top, #0088cc, #0055cc);
    border-left-color: #0055cc;
    border-right-color: #0055cc;
    border-top-color: #0055cc;
    border-bottom-color: #003580;
}
.btn-primary:hover,.btn-primary:active,.btn-primary.active { background-color: #0055cc; *background-color: #004ab3; }
.btn-primary:active, .btn-primary.active { background-color: #004099 \9; }
button.btn,input[type="submit"].btn { *padding-top: 2px; *padding-bottom: 2px; }
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {  padding: 0;  border: 0; }
button.btn.btn-large, input[type="submit"].btn.btn-large { *padding-top: 7px; *padding-bottom: 7px; }
button,input,select,textarea { margin: 0; font-size: 100%; vertical-align: middle; }
button,input { *overflow: visible; line-height: normal;}
button::-moz-focus-inner,input::-moz-focus-inner { padding: 0; border: 0; }
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
.btn-large {
  padding: 13px 59px;
  font-size: 22px;
  line-height: 22px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.btn-middle { font-size:14px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:4px 30px; }
/* Efect Slip */
.slip { background-image: url("../img/Default/bank-plus.png"); background-repeat: no-repeat; display: block; height: 20px; width: 20px; }
.slip.active { background-position: 100% 0; }
/* Styles */
.clear { clear:both; }
.hide { display:none;}
/* Utils */
.h146 { height:146px; }
.h174 { height:174px; }
/* Hacks IE */
.lt-ie7 .popup .content-alert { background:#FFEA97 url(../img/Default/bg-title-seccion2.gif) 11px 12px no-repeat; }
.lt-ie7 #ulMenu li a, .lt-ie7 #content-footer ul li a, .lt-ie7 .content-affiliates ul li a { float:left; }
.lt-ie7 header .head h1 img { width:149px !important; }
.lt-ie7 .content-affiliates ul li a, .lt-ie7 .content-affiliates ul li a img  { width:201px !important; }
.lt-ie7 .content .content-affiliates ul li a,.lt-ie7 .content .content-affiliates ul li a img { width:225px !important; }
.lt-ie7 header .top-head img {  width:97px !important; }
.lt-ie7 #content-footer .foot-logo img { width:97px !important; }
.lt-ie7 .title-bank-paid.bcp img { width:87px !important; }
.lt-ie7 .title-bank-paid.bbva img { width:216px !important; }
.lt-ie7 .title-bank-paid.interbank img { width:156px !important; }
.lt-ie7 .title-bank-paid.fullcarga img { width:80px !important; }
.lt-ie7 .title-bank-paid.western img { width:127px !important; }
.lt-ie7 .title-bank-paid.scotiabank img { width:148px !important; }
.lt-ie7 #slide-home .slides_container div img { width:648px !important; }
.lt-ie7 .paid-center .img-paid-center img { width:300px !important; }
.lt-ie7 .popup h1 img { width:112px !important; }
.lt-ie7 #slide-home .pagination  li a { background-image: url("../img/Default/bg-nav-slide-ie.png"); }
.lt-ie8 .banner-welcome, .lt-ie7 .banner-welcome { background-position-x:1px; }

.lt-ie9 .content .content-affiliates ul li a img { width:225px !important; height:90px; }
.lt-ie9 #ulMenu { position:absolute; }
/* Form login */
.desplegable { position:absolute; width:182px; right:0; top:60px; padding:8px 10px; background:#666; z-index:999; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px;}
.desplegable label { display:block; margin-bottom:3px;color:#FFF;}
.desplegable input[type="text"],.desplegable input[type="password"] { width:170px; padding:6px 5px; border:1px solid #333;font-size:11px;border-radius:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.desplegable input[type="submit"] { background: url("../img/Default/bg-input-login.png") repeat-x;  border: none; border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; font-family: 14px Trebuchet MS; padding: 4px 26px; }
.desplegable input[type="submit"]:hover { color:#FFF; background:url("../img/Default/bg-input-login-hover.png") repeat-x;}
.desplegable .LoginValidator { margin-bottom:3px; }
.desplegable span {display:block;}
.desplegable p { margin:0; }
.desplegable .content-submit{ text-align:center;margin-bottom: 14px;}
.desplegable p a { color: #FFFFFF; }
.desplegable a:hover { color:#990000;}
header .head .dvlnkregistroingreso li a.active {  background: #666; border-top-left-radius: 6px; border-top-right-radius: 6px; color: #FFF; }
header .head .dvlnkregistroingreso li a.active:hover { color: #FFF; }
/*Cambios Victor*/
header .head .dvlnkregistroingreso { float:right; padding-top:4px; list-style:none; }
header .head .dvlnkregistroingreso li { float:left; }
header .head .dvlnkregistroingreso li  a { text-decoration:none; color:#333; display:block; padding:3px 12px; cursor:pointer;  }
header .head .dvlnkregistroingreso li  a:hover { color:#000; }
header .head .dvlnkregistroingreso li.break { margin:0 4px; padding-top:3px; }
img[src*="http://hits.e.cl/cert"],img[src*="https://hits.e.cl/cert"]{
display:none;
}
#home_video { margin-bottom:15px; width:650px; height:390px; }
.Login-fcb { position:relative; z-index:999; }
#iframe-video { margin-bottom:15px; width:650px; height:390px; border:none; }
/* Links-footer */
.footer-link { width:1000px; margin:0 auto; text-align:center; color:#CCC; padding:6px 0 10px; height:38px;background:#000;}
.footer-link span { display:block; float:left; width:100px; padding-top:4px;font-weight: 700;color: #CCC;}
.footer-link ul { float:left; list-style:none; width:894px; }
.footer-link li { float:left; padding:0 5px; border-right:1px solid #CCC; margin-top:4px;font-size:12px; }
.footer-link li.last { border:none; }
.footer-link a { color:#CCC; float:left; }
.footer-link a:hover { color:#FFF; }
/* Footer add */
.book-complaints { color: #CCC; font:11px Arial, Helvetica, sans-serif; text-decoration:underline;background: url("../img/Default/book.png") no-repeat; float: left; height: 16px; padding: 2px 0 0 48px;display:block;margin: 22px 0 0 34px;}
.book-complaints:hover { color:#FFF; }
.help-center { float:right;display:block;width:300px;height:64px;background:#FEFEFE;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;font:400 12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#000;text-decoration:none;}
.help-center .img { background: url("../img/Default/help-center.jpg") no-repeat; float: left;display:block;width:90px;height:64px;margin-left:8px;}
.help-center .content-help { float: left; width:202px; display:block;text-align:center;}
.help-center .title {display: block;font:700 18px "Trebuchet MS", Arial, Helvetica, sans-serif;margin-bottom: 4px;padding-top: 3px;}
.help-center .desc {display: block;line-height:12px;}
#content-footer .foot-logo { margin-top: 7px;}

/* Styles Cip*/
.cip { border-bottom:6px solid #000;}
.content-save { text-align: center; margin-bottom:28px;}
.content-save a { display:inline-block; font:700 16px Arial, Helvetica, sans-serif;text-decoration:none;position:relative;padding-top:13px;height:27px;}
.content-save a span {position:absolute;left:0;top:0;display:block;height:40px;}
.content-save .save { padding-left:42px;}
.content-save .print {padding-left:48px }
.content-save .save .icon { width:33px; background:url(../img/Default/icon-cip.jpg) -38px 0; }
.content-save .print .icon { width:38px; background:url(../img/Default/icon-cip.jpg); }
.content-save a + a { margin-left:30px;}
.content-cip { width: 980px; padding:24px 10px 50px; background:#FFF;margin:0 auto;}
.content-cip h2 { font:700 24px Arial, Helvetica, sans-serif; color:#000; text-align: center;margin-bottom:10px;}
.content-cip .desc { padding:0 5px;margin-bottom:16px;}
.content-cip .desc2 { margin-bottom: 5px;}
.btn-back { background-position: 0% 0%;
	height:18px; line-height:18px; float:right;margin-top:12px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px; color:#FFF;padding:4px 14px;text-decoration:none;	
	background-repeat: repeat-x;
	line-height: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-size: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: -moz-linear-gradient(top, #CC0000, #A70000);
	background-color: #CC0000;
	background-attachment: scroll;
}
.btn-back:hover {background-position: 0% 0%;
	color:#FFF; background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #A70000, #CC0000);
	background-color: #A70000;
	background-attachment: scroll;
}

/*Promociones*/
.promotion-section{background: #f1f1f1;padding: 21px 0 21px 21px;}
.promotion-section li{
    display: inline-block;
    list-style: none;
    margin: 0 18px 20px 0;
    overflow: hidden;
    padding: 0 0 10px 0;
    width: 299px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    *display:inline;
    *zoom:1;
}
.promotion-section li img:hover{opacity: 1}
.promotion-section li h3{padding-left: 7px;font-size: 14px;}
.promotion-section li:hover{
    -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.35);
    -moz-box-shadow:    0px 0px 11px rgba(0, 0, 0, 0.35);
    box-shadow:         0px 0px 11px rgba(0, 0, 0, 0.35);
    background: #FFF;
}
.promotion-section li:first-child{
    margin-left: 0;
}
.promotion-section li a:first-child{
    display: block;
    height: 168px;
    padding-bottom: 8px;
    width: 299px;
}
.promotion-section li a + a{
    color: black;
    float: right;
    font-size: 11px;
    padding: 0 10px;
}
.promotion-section li a + a:hover{color: #8D8D8D}
.promo-box{
    background: white;
    display: none;
    width: 744px;
    border: 4px solid #444;
    padding: 10px;
}
.promo-box .close{background: url(../img/close-box.png);width: 20px;cursor: pointer;display: block;height: 20px;position: absolute;right: -11px;top: -14px;}
.promo-box .contentWrap{overflow-y:auto;height: 600px;}
.promo-box .contentWrap table{margin: 0 auto}
.canal-left
{
           position: absolute;
           width: 500px;
           display: block;
           height: 800px;
           left: 0;
}
.canal-right
{
           position: absolute;
           width: 500px;
           display: block;
           height: 800px;
           right: 0;
}