<br />
<table style="padding: 0px !important; line-height: 0 !important; font-size: 0px !important; border-collapse: collapse !important; width: 696px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="padding: 0; margin: 0; line-height: 0; font-size: 0; height: 284px;"><img src="http://mailing.e3.pe/Pagoefectivo/NL/juat/pago-efectivo-1.jpg" border="0" alt="PAGO EFECTIVO" width="696" height="284" /></td>
</tr>
<tr>
<td style="padding: 0; margin: 0; line-height: 0; font-size: 0; height: 425px;"><img usemap="#Map-Link" src="http://mailing.e3.pe/Pagoefectivo/NL/juat/pago-efectivo-2.jpg" border="0" alt="PAGO EFECTIVO" width="696" height="425" /> 
<map name="Map-Link">
<area shape="rect" coords="370, 312, 620, 368" href="http://www.juaat.com/?utm_source=NL040113&amp;utm_medium=NL&amp;utm_term=&amp;utm_content=PortadaHome&amp;utm_campaign=Juaat" target="_blank" /> 
</map>
</td>
</tr>
<tr>
<td style="padding: 0; margin: 0; line-height: 0; font-size: 0; height: 70px;"><img src="http://mailing.e3.pe/Pagoefectivo/NL/juat/pago-efectivo-3.jpg" border="0" alt="PAGO EFECTIVO" width="696" height="70" /></td>
</tr>
<tr>
<td style="background:#FFF; text-align:center; font:11px Arial, Helvetica, sans-serif; color:#656565; line-height:130%; padding:15px 0">
<p style="margin:3px">PagoEfectivo es la nueva forma de pagar en Internet con efectivo.</p>
<p style="margin:6px">Ingresa a <a style="color:#000; font-weight:bold; text-decoration:none" href="https://pagoefectivo.pe/" target="_blank">www.pagoefectivo.pe</a> y ent&eacute;rate de m&aacute;s ventajas de comprar sin tarjeta.</p>
</td>
</tr>
</tbody>
</table>