<br />
<table style="padding: 0px !important; margin: 0px !important; border: none; border-collapse: collapse !important; width: 720px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background: transparent; height: 244px; padding: 0; margin: 0px; border: none;"><img style="margin: 0px; padding: 0px; border: 0px;" usemap="#header-link" src="http://mailing.e3.pe/Pagoefectivo/NL/Golazobet/mailing-img-01.jpg" alt="" height="244" /> 
<map name="header-link">
<area shape="rect" coords="36,54,695,149" href="https://pagoefectivo.pe/" target="_blank" /> 
</map>
</td>
</tr>
<tr>
<td style="background: transparent; height: 357px; padding: 0; margin: 0px; border: none;"><img style="margin: 0px; padding: 0px; border: 0px;" usemap="#bet-link" src="http://mailing.e3.pe/Pagoefectivo/NL/Golazobet/mailing-img-02.jpg" alt="" height="357" /> 
<map name="bet-link">
<area shape="rect" coords="512,309,599,340" href="https://www.golazobet.com" target="_blank" /> 
</map>
</td>
</tr>
<tr>
<td style="background: transparent; height: 282px; padding: 0; margin: 0px; border: none;"><img style="margin: 0px; padding: 0px; border: 0px;" usemap="#contact-link" src="http://mailing.e3.pe/Pagoefectivo/NL/Golazobet/mailing-img-03.jpg" alt="" height="282" /> 
<map name="contact-link">
<area shape="rect" coords="81,26,354,51" href="https://www.golazobet.com/?Lang=es-PE#!information/termsandconditions" target="_blank" />
<area shape="rect" coords="363,26,636,51" href="https://www.facebook.com/Golazobet" target="_blank" /> 
</map>
</td>
</tr>
<tr>
<td style="height: 71px; padding: 0px; margin: 0px; border: none; text-align: center; color: #000000;"><span style="font-size: xx-small;"><span style="line-height: 12px; color: #666666;">Para asegurar la entrega de nuestros e-mail en su correo, agregue&nbsp;</span><span style="line-height: 12px; color: #00a0c6;">newsletter@nl.pagoefectivo.pe&nbsp;</span><span style="line-height: 12px; color: #666666;">a su libreta de direcciones de correo.</span></span></td>
</tr>
</tbody>
</table>