<br />
<table style="width: 640px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td><a href="https://pagoefectivo.pe/?utm_source=Boletin-ClubJ-JockeyPlaza-10/07/13&amp;utm_medium=NL&amp;utm_campaign=Header-PagoEfectivo"><img src="http://mailing.e3.pe/Pagoefectivo/NL/JockeyPlaza/header.jpg" border="0" alt="" width="640" height="124" /></a></td>
</tr>
<tr>
<td><a href="http://clubj.pe/auth?utm_source=el+comercio&amp;utm_medium=banner&amp;utm_campaign=Canje+con+el+comercio"><img src="http://mailing.e3.pe/Pagoefectivo/NL/JockeyPlaza/body.jpg" border="0" alt="" width="640" height="473" /></a></td>
</tr>
<tr>
<td><a href="https://pagoefectivo.pe/CentrosPago.aspx?utm_source=Boletin-ClubJ-JockeyPlaza-10/07/13&amp;utm_medium=NL&amp;utm_campaign=Footer-Red-de-pagos"><img src="http://mailing.e3.pe/Pagoefectivo/NL/JockeyPlaza/footer.jpg" border="0" alt="" width="640" height="140" /></a></td>
</tr>
<tr>
<td style="font-family: arial; font-size: 12px; text-align: center; color: #000000;">PagoEfectivo es la nueva forma de pagar en internet con efectivo.<br /> Ingresa a <a style="font-weight: bold;" href="https://pagoefectivo.pe/CentrosPago.aspx?utm_source=Boletin-ClubJ-JockeyPlaza-10/07/13&amp;utm_medium=NL&amp;utm_campaign=Footer-Red-de-pagos">www.pagoefectivo.pe</a> y ent&eacute;rate de m&aacute;s ventajas de comprar sin tarjeta</td>
</tr>
</tbody>
</table>