<br />
<table style="padding: 0px !important; line-height: 0 !important; font-size: 0px !important; border-collapse: collapse !important; width: <br />
<table style="background-image: url(http://www.gruponuevomundo.info/nmViajes/boletines/2012-12-03/fondo2.gif); width: 750px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td bgcolor="#FFFFFF"><strong>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:20px;color:#454545; text-align:center ">&nbsp;</p>
</strong></td>
</tr>
<tr>
<td valign="bottom">
<div>
<map id="Map" name="Map">
<area shape="rect" coords="489,402,707,524" href="https://pagoefectivo.pe/?utm_source=GrupoECO&amp;utm_medium=Mailing&amp;utm_term=&amp;utm_content=PortadaHome&amp;utm_campaign=NuevoMundo" alt="PAGO EFECTIVO" target="_blank" />
<area shape="poly" coords="895,637" href="#" />
<area shape="poly" coords="14,528,14,12,735,12,735,396,486,396,486,530,737,529,737,567,14,569" href="http://www.nuevomundoviajes.pe/" alt="CIERRA PUERTAS ONLINE" target="_blank" /> 
</map>
<img usemap="#Map" src="http://mailing.e3.pe/Pagoefectivo/NL/nuevomundo/flyer-nuestromundo_750_01.jpg" border="0" alt="" width="750" height="576" align="absbottom" /></div>
</td>
</tr>
<tr>
<td valign="top" bgcolor="#F6F9FD">
<div><a href="http://www.nuevomundoviajes.pe/" target="_blank"><img src="http://mailing.e3.pe/Pagoefectivo/NL/nuevomundo/flyer-nuestromundo_750_02.jpg" border="0" alt="BOLETOS A&Eacute;REOS TU VIAJE AL MEJOR PRECIO" width="750" height="515" align="top" /></a></div>
</td>
</tr>
<tr>
<td valign="top">
<div><img usemap="#MapLUPA" src="http://mailing.e3.pe/Pagoefectivo/NL/nuevomundo/flyer-nuestromundo_750_03.jpg" border="0" alt="Ingresa y compra las mejores ofertas de viaje" width="750" height="156" align="top" /> 
<map id="MapLUPA" name="MapLUPA">
<area shape="rect" coords="108,346,135,374" href="https://www.facebook.com/nuevomundoviajes.nmv?sk=wall" target="_blank" />
<area shape="rect" coords="140,346,169,375" href="http://www.youtube.com/NuevoMundoViajes" target="_blank" />
<area shape="rect" coords="92,50,660,153" href="http://www.nuevomundoviajes.pe/" alt="nuevomundoviajes.pe" target="_blank" /> 
</map>
</div>
</td>
</tr>
<tr>
<td bgcolor="#FFFFFF">
<p style="font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#454545; text-align:justify; line-height:16px"><strong> Regulaciones de boletos a&eacute;reos: </strong> Tarifas exclusivas para reserva y compra en nuestra p&aacute;gina web: <a href="http://www.nuevomundoviajes.pe" target="_blank">nuevomundoviajes.pe</a> durante los d&iacute;as 20, 21 y 22 de febrero de 2013. Tarifas a&eacute;reas de ida y vuelta por 21 y/o 30 d&iacute;as m&aacute;ximo de viaje. M&iacute;nimo de estad&iacute;a 03 d&iacute;as, compra anticipada a USA: 7 d&iacute;as. Incluyen impuestos y cargos obligatorios para la emisi&oacute;n seg&uacute;n los vigentes al 08 de febrero de 2013 (IGV, Queue de seguridad, impuesto de arribo DY e impuesto del pa&iacute;s si fuera obligatorio). V&aacute;lidos para culminar viaje el 31 de mayo del 2013. No aplica para  viajar feriados, Semana Santa o los decretados por el gobierno. Tarifas s&oacute;lo aplican para adultos, no aplican para grupos. Sujetas a las regulaciones y disponibilidad de cada tarifa y aerol&iacute;nea. Precios no incluyen gastos administrativos. Todas las tarifas no permiten cambios, son no reembolsables, no endosables ni transferibles.  Stock: 10 boletos por destino y por d&iacute;a de venta del Cierra Puertas On line.</p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>