<br />
<table style="width: 726px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td colspan="2"><a href="https://www.ganga.pe/categoria/especiales/19" target="_blank"><img style="display:block;" usemap="#foto" src="http://imagenes.direkto.pe/ganga2-14-06-13.jpg" alt="ganga2" width="726" height="954" /></a></td>
</tr>
<tr>
<td colspan="2" height="40" align="left">
<p style="padding-top:5px;border-top:1px solid #cacaca;font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333">Esta informaci&oacute;n se env&iacute;a de acuerdo a la legislaci&oacute;n sobre correo electr&oacute;nico. Referencia: Ley 28493 y su reglamento, aprobado por DS 031-2005-MTC. Si Usted no desea seguir recibiendo nuestros correos, le solicitamos informarlo para retirarlo de nuestra lista, haciendo <a href="%_URLBAJA_%">clic aqu&iacute;</a></p>
</td>
</tr>
</tbody>
</table>