<table style="width: 600px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td valign="top">
<table style="width: 585px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td align="left" valign="top">
<table style="width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="236" align="left" valign="bottom"><img style="vertical-align:bottom;border:none;" src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop03.jpg" alt="Ofertop" width="236" height="98" /></td>
<td align="left" valign="top">
<table style="width: 343px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="184">&nbsp;</td>
<td width="159">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="102"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop06.gif" alt="S&iacute;guenos en" width="102" height="43" /></td>
<td align="left" valign="bottom"><a href="http://facebook.com/OferTOPLima" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop07.gif" border="0" alt="facebook" width="22" height="23" /></a></td>
<td align="left" valign="bottom"><a href="http://twitter.com/OferTOPLima" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop08.gif" border="0" alt="Twitter" width="21" height="23" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><a href="http://ofertop.pe?utm_source=Newsletter-OferTOP-20120418" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop04.jpg" border="0" alt="Ver todas las ofertas" width="184" height="55" /></a></td>
<td><a href="http://ofertop.pe?utm_source=Newsletter-OferTOP-20120418&amp;ref=%3C*email*%3E" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.24/m/suscribete_eco.jpg" border="0" alt="Suscr&igrave;bete gratis" width="159" height="55" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><a style="border:none;" href="http://ofertop.pe"><img style="vertical-align:bottom;border:none;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/header.jpg" alt="Ofertop" width="585" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="background-color:#59595B;" width="600">
<table style="width: 591px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="width: 583px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="281" height="348" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33292/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33292&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/1foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-40%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 89.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33292/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33292&amp;email=&lt;*email*&gt;">&iexcl;Noche de poker! </a></span><br /> Malet&iacute;n de Poker de 300 fichas + 5 Dados + 2 Mazos de cartas + Ficha dealer de MICROMASTER. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33292/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33292&amp;email=&lt;*email*&gt;"> Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/1logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33292/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33292&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="background-color:#f2f2f3" width="23" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="23" height="11" /></td>
<td width="281" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="302"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33491/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33491&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/2foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-90%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 249.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="67"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33491/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33491&amp;email=&lt;*email*&gt;">Pap&aacute; fitness</a></span><br /> 18 sesiones de Lipoescultura sin cirug&iacute;a, en zona a elegir, en CORPO LINEAL. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-detalle-27665/?utm_source=Newsletter-ofertop-20130319&amp;utm_medium=Newsletter-OferTop&amp;utm_term=city&amp;utm_name=Newsletter-OferTop-Crepier&amp;utm_content=campaign27665&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/2logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33491/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33491&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="background-color: #f2f2f3; width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="10" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="width: 583px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="281" height="347" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33410/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33410&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/3foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-50%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 499.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33410/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33410&amp;email=&lt;*email*&gt;">Elegancia sobre ruedas </a></span><br /> Tapizado de asientos en tacto cuero + Garant&iacute;a en MONTENEGRO CUEROS PREMIUM. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33410/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33410&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top">&nbsp;</td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33410/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33410&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="background-color:#f2f2f3" width="23" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="23" height="11" /></td>
<td width="281" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="302"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33473/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33473&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/4fotos.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-41%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 99.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#cf171f; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33473/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-Parrillero-20130530&amp;utm_term=oferta&amp;utm_content=oferta33473&amp;email=&lt;*email*&gt;">Billetera de cuero</a></span><br /> Billetera Crepier&reg; de cuero, modelo Napoli, de 2 compartimentos en color negro. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33473/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-Parrillero-20130530&amp;utm_term=oferta&amp;utm_content=oferta33473&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.05.29/4logos.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33473/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33473&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="background-color: #f2f2f3; width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="10" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="width: 583px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="281" height="347" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33166/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33166&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/8foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-37%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 75.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="65"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33166/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33166&amp;email=&lt;*email*&gt;">Paseo por el D&iacute;a del padre</a></span><br /> Tour para 2 al Centro Hist&oacute;rico de Lima + Circuito M&aacute;gico del Agua + Gu&iacute;a con MIRABUS. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33166/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33166&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/8logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33166/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33166&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="background-color:#f2f2f3" width="23" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="23" height="11" /></td>
<td width="281" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="302"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33596/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33596&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/9foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-56%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 99.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33596/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33596&amp;email=&lt;*email*&gt;"> Brindis de lujo </a></span><br /> 3 Botellas Los Condes Gran Reserva Tempranillo (750 ml. c/u.) + 2 Tapones de metal. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33596/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33596&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top">&nbsp;</td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33596/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33596&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="background-color: #f2f2f3; width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="10" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="width: 583px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="281" height="347" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33473/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33473&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/10foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-62%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 89.90</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-32940/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta32940&amp;email=&lt;*email*&gt;">&iexcl;Pap&aacute; coleccionista! </a></span><br /> Colecci&oacute;n de 8 Autos de Polic&iacute;a del Mundo a escala + Fasc&iacute;culos + P&oacute;ster de cada ejemplar. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-32940/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta32940&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top">&nbsp;</td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-32940/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta32940&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="background-color:#f2f2f3" width="23" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="23" height="11" /></td>
<td width="281" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="302"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-32940/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta32940&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/8fotos.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-31%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 1,029.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#cf171f; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-32940/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-Parrillero-20130530&amp;utm_term=oferta&amp;utm_content=oferta32940&amp;email=&lt;*email*&gt;">Iquitos para 2</a></span><br /> 2 Bol. a&eacute;reos + 3D/2N en Hotel Amazon Apart 3* + Desayunos con TODO VACACIONES. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-32940/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-Parrillero-20130530&amp;utm_term=oferta&amp;utm_content=oferta32940&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.05.29/8logos.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33473/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33473&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="background-color: #f2f2f3; width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="10" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="width: 583px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="281" height="347" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33399/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33399&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/12foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-44%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 99.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33399/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33399&amp;email=&lt;*email*&gt;">Ricas parrilladas</a></span><br /> Grill Parrilla El&eacute;ctrica THOMAS modelo TH-190 + Garant&iacute;a. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33399/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33399&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/12logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33399/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33399&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="background-color:#f2f2f3" width="23" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="23" height="11" /></td>
<td width="281" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="302"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33472/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33472&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/13foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-78%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 99.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33472/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33472&amp;email=&lt;*email*&gt;">Rejuvenece a pap&aacute;</a></span><br /> Limpieza facial Dermatol&oacute;gica + Lifting t&eacute;rmico + Velo de col&aacute;geno y m&aacute;s en OKARA. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33472/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33472&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/13logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33472/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33472&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="background-color: #f2f2f3; width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="10" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="width: 583px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="281" height="347" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33393/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33393&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/14foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-28%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 639.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33393/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33393&amp;email=&lt;*email*&gt;">Pap&aacute; tecnol&oacute;gico</a></span><br /> 1 Smarthphone Samsung Galaxy Ace GT-S5830L + Garant&iacute;a en ITELSISTEM. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33393/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33393&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/14logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33393/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33393&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="background-color:#f2f2f3" width="23" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="23" height="11" /></td>
<td width="281" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="302"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33265/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33265&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/15foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-33%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 199.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33265/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33265&amp;email=&lt;*email*&gt;">&iexcl;Para ver lo que quieras!</a></span><br /> Televisor port&aacute;til IMACO&reg; con funci&oacute;n DVD, VCD, CD, MP3 y m&aacute;s + Juegos + Garant&iacute;a. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33265/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33265&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/15logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33265/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33265&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="background-color: #f2f2f3; width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td height="18"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="10" height="17" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="width: 583px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="281" height="347" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33141/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33141&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/16foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-34%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 99.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33141/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33141&amp;email=&lt;*email*&gt;">Banquetazo gourmet</a></span><br /> Valega's Top + Delivery de VALEGA'S GOURMET. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33141/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33141&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.06.05/16logo.jpg" alt="" width="100" height="46" /></td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-33141/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta33141&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="background-color:#f2f2f3" width="23" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="" width="23" height="11" /></td>
<td width="281" align="left" valign="top">
<table style="background-color: #ffffff; width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="302"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-30114/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta30114&amp;email=&lt;*email*&gt;"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.06.05/6foto.jpg" border="0" alt="" width="281" height="183" /></a></td>
</tr>
<tr>
<td>
<table style="width: 281px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F; font-family: Arial, Helvetica, sans-serif; font-size:34px; font-weight:bold; color:#FFFFFF;" width="121" align="center">-59%</td>
<td style="background-color:#d1d2d4;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2013.05.29/ofertop17.jpg" alt="Precio oferTop" width="87" height="17" /></td>
</tr>
<tr>
<td style="padding-right:9px; font-family: Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#231F20;" align="right">S/. 109.00</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-left:1px solid #E7E8E9; border-right:1px solid #E7E8E9; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231F20; vertical-align:top; padding:0px 8px 0px 8px;" height="66"><span style="text-decoration: none;"><a style="font-size:16px; color:#CF171F; font-weight:bold; text-decoration:underline" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-30114/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta30114&amp;email=&lt;*email*&gt;">Para pap&aacute; chef</a></span><br /> Colecci&oacute;n de 9 Cuchillos SMART CUT, de acero inoxidable. <a style="font-weight:bold; color:#231F20;" href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-30114/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta30114&amp;email=&lt;*email*&gt;">Leer m&aacute;s</a></td>
</tr>
<tr>
<td style="border-right:1px solid #E7E8E9; border-left:1px solid #E7E8E9; " height="55" align="right" valign="bottom">
<table style="width: 279px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-left:18px; border-bottom:1px solid #E7E8E9;" width="140" height="55" align="left" valign="top">&nbsp;</td>
<td width="140" align="right" valign="bottom"><a href="http://ofertop.pe/Ofertas-y-Descuentos/Ofertas-en-Lima/detalle-30114/?utm_source=OferTOP&amp;utm_medium=nl-OferTop&amp;utm_name=Especial-dia-padre-20130529&amp;utm_content=oferta30114&amp;email=&lt;*email*&gt;" target="_blank"><img style="vertical-align:bottom;" src="http://ofertop.e3.pe/i/mailing/2012.08.28/m/verahora2.jpg" border="0" alt="Ver ahora" width="140" height="38" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><img src="http://ofertop.e3.pe/i/mailing/2012.04.10/ofertop38.gif" alt="10" width="5" height="5" /></td>
</tr>
<tr>
<td align="center" valign="top">
<table style="background-color: #f2f2f3; width: 585px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="background-color:#CF171F;">
<table style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="340" align="left" valign="top"><img src="http://ofertop.e3.pe/i/mailing/2013.05.29/a.jpg" alt="" /></td>
<td width="190"><img src="http://ofertop.e3.pe/i/mailing/2013.05.29/b.jpg" alt="" /></td>
<td align="left"><a href="http://facebook.com/OferTOPLima" target="_blank"><img src="http://ofertop.e3.pe/i/mailing/2013.05.29/c.jpg" border="0" alt="" /></a></td>
<td align="left"><a href="http://twitter.com/OferTOPLima" target="_blank"><img src="http://ofertop.e3.pe/i/mailing/2013.05.29/d.jpg" border="0" alt="" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>