Estilo Mio
<div>
<table id="table27" style="width: 500px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px; -webkit-text-size-adjust:none">
<div style="-webkit-text-size-adjust: none">Para asegurar la entrega de nuestros e-mail en su correo,  		por favor agregue  		 		<span style="font-size:10px;color:#00A0C6;font-family:verdana;text-decoration:none;"> info@estilomio.com </span>a su libreta de direcciones de correo.<br /> Si usted no visualiza bien este mail, haga  		<a style="-webkit-text-size-adjust: none; text-decoration: none;color:#00A0C6" href="#!vistamail3!#">click aqu&iacute;</a></div>
</td>
</tr>
</tbody>
</table>
<table class="em_notice_wrap" style="border-collapse: collapse; width: 600px;" border="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Georgia;"><img style="width: 200px;" src="http://admin.estilomio.com/images/estiloMio.png" alt="" /></span></td>
</tr>
<tr>
<td>
<hr size="1" />
</td>
</tr>
<tr>
<td>
<div>
<table class="em_menu_ul" style="border-collapse: collapse; width: 100%;" border="0" cellpadding="0">
<tbody>
<tr>
<td align="center"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/todas/actualmente.html?uid=#!email!#"> <span style="font-family: Georgia; color: #a3a3a3;">TODOS</span></a></td>
<td align="center"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/moda/actualmente.html?uid=#!email!#"> <span style="font-family: Georgia; color: #a3a3a3;">MODA</span></a></td>
<td align="center"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/hogar/actualmente.html?uid=#!email!#"> <span style="font-family: Georgia; color: #a3a3a3;">HOGAR</span></a></td>
<td align="center"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/accesorios/actualmente.html?uid=#!email!#"> <span style="font-family: Georgia; color: #a3a3a3;">ACCESSORIOS</span></a></td>
<td align="center"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/todas/porfinalizar.html?uid=#!email!#"> <span style="font-family: Georgia; color: #a3a3a3;">POR FINALIZAR</span></a></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><span style="font-family: Georgia;"> <a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Pago+Efectivo/20%25_de_Descuento_Adicional_en_todas_tus_Comprashtml?EID=13674662311222&amp;uid=#!email!#"> <img src="http://admin.estilomio.com/vendorImages/13674658370113/m/13681125490441.jpeg" border="0" alt="" /> </a> </span></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><span style="font-family: Georgia;"> <a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Pago+Efectivo/20%25_de_Descuento_Adicional_en_todas_tus_Comprashtml?EID=13674662311222&amp;uid=#!email!#"> <span style="font-size: 30px; color: #585858;">20% de Descuento Adicional en todas tus Compras</span> </a><br /> <a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Pago+Efectivo/20%25_de_Descuento_Adicional_en_todas_tus_Comprashtml?EID=13674662311222&amp;uid=#!email!#"> <span style="font-size: 18px; color: #a3a3a3;">Termina el Jueves 23 a las 12:00 am</span> </a> </span></td>
</tr>
<tr>
<td>
<hr size="1" />
</td>
</tr>
<tr>
<td class="em_notice_h1" style="color:#00A0C6;font-size:20px;text-align:left;padding:20px 0 0px 10px;">ACTUALMENTE</td>
</tr>
<tr>
<td>
<div>
<table style="border-collapse: collapse; width: 600px;" border="0" cellpadding="0">
<tbody>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Especial+Lentes/Ray_Ban%2C_Vogue___Pradahtml?EID=13679463526717&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13650337472195/i/13679463526771.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Especial Lentes</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Jueves 16 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Especial+Smartphones/Blackberry%2C_Iphone_5%2C_Samsung%2C_LG%2C_Nokiahtml?EID=13676177291634&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13676165881277/i/13681204006681.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Especial Smartphones</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Viernes 10 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Dr.+Scholls/OPORTUNIDAD_%C3%9ANICA_para_Ellashtml?EID=13673630507904&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13636240279505/i/13675086292701.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Dr. Scholls</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Lunes 20 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Wenger/Maletas_y_Mochilashtml?EID=13636291185233&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13636289592768/i/13670122438537.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Wenger</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Mi&eacute;rcoles 15 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Pimafine/Blusas_para_la_Oficinahtml?EID=13681124372373&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13681121952087/i/13681124372436.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Pimafine</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el S&aacute;bado 25 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Huntington/Colecci%C3%B3n_Winter_2013html?EID=13656302475749&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13545930397915/i/13657342841360.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Huntington</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Lunes 13 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Timex+_+Seiko/Relojes_especialmente_para_Ellashtml?EID=13678838789200&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13583799261027/i/13679484547430.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Timex &amp; Seiko</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Viernes 24 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/PuroCoraz%C3%B3n/Carteras_y_Accesorioshtml?EID=13673414646441&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13602726532962/i/13673414646500.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">PuroCoraz&oacute;n</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Domingo 19 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Everlast/Para_una_Mam%C3%A1_Deportivahtml?EID=13672705913059&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13672701497625/i/13673340133175.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Everlast</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Mi&eacute;rcoles 15 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Festina/Relojes_de_Lujo._El_Regalo_Perfecto_Para_Mam%C3%A1%21html?EID=13675277672447&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13660688308987/i/13675277672504.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Festina</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Martes 14 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Accesorios+de+Lujo/Lentes___Billeterashtml?EID=13678549501310&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13678548322368/i/13678615446184.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Accesorios de Lujo</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Martes 21 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Wayta/Dise%C3%B1o_en_Plata_para_Mam%C3%A1%21html?EID=13672742350471&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13672732436134/i/13675146953230.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Wayta</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Domingo 12 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Techno+Boutique./Reg%C3%A1lale_un_Tablet_a_Mam%C3%A1%21html?EID=13663873012189&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13663854427835/i/13675363969536.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Techno Boutique.</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Domingo 12 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/BOZ/Cultura_Surf_del_Per%C3%BAhtml?EID=13661495062158&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13661490849411/i/13661495062215.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">BOZ</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Domingo 12 a las 12:00 pm</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Citizen/Elegancia_que_perdurahtml?EID=13664089072134&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13664086165801/i/13664089072208.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Citizen</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el S&aacute;bado 11 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/KitchenAid/Cocina_con_Estilohtml?EID=13559761194018&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13559756198517/i/13559779094331.png" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">KitchenAid</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Mi&eacute;rcoles 15 a las 11:00 pm</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/15.50/S%C3%A9_Fiel_a_tu_Estilohtml?EID=13670159675368&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13537895614489/i/13670159675623.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">15.50</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Domingo 12 a las 12:00 pm</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Sabre/Gafas_con_Estilohtml?EID=13654585572311&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13654576106679/i/13654589630232.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Sabre</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Lunes 13 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Paris+Hilton/Relojes_de_Modahtml?EID=13668448396242&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13668446932309/i/13668448396307.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Paris Hilton</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Mi&eacute;rcoles 15 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Remington/Cuidado_Personal_con_Estilohtml?EID=13664954969426&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13664950738427/i/13665937256029.png" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Remington</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Domingo 12 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Viviane+Fielder/Colecci%C3%B3n_Zapatoshtml?EID=13669309674796&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13669308882440/i/13669891968212.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Viviane Fielder</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el S&aacute;bado 11 a las 12:00 am</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Dunlop/Relojes_Deportivoshtml?EID=13673361720803&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13673360878876/i/13673361720862.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Dunlop</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Mi&eacute;rcoles 15 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Especial+Viajero/Pack_3_Maletas_por_389_soles_y_Mashtml?EID=13648542990915&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13538147880150/i/13675109575223.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Especial Viajero</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Jueves 9 a las 11:00 pm</span> </a></td>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Kayser/Pijamashtml?EID=13675318692312&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13675317477836/i/13675329301249.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Kayser</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Domingo 12 a las 12:00 am</span> </a></td>
</tr>
<tr>
<td class="em_notice_body" style="text-align:center;" width="50%" valign="top"><a style="text-decoration:none;color:#585858;" href="https://estilomio.com/home/Hazte+Socio+y+Gana+2+Pasajes/Cusco_Gratis_en_Peruvian_Airlineshtml?EID=13661324280571&amp;uid=#!email!#"> <img style="width: 280px;" src="http://admin.estilomio.com/vendorImages/13661322939893/i/13661324280632.jpeg" alt="" /> <span class="em_notice_title" style="color: #343434font-size; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Hazte Socio y Gana 2 Pasajes</span> <span class="em_notice_start" style="color: #a3a3a3; display: inline-block; width: 100%; text-align: left; padding-top: 5px; padding-left: 10px;">Termina el Viernes 17 a las 12:00 am</span> </a></td>
<td width="50%">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td>
<hr size="1" />
</td>
</tr>
<tr>
<td colspan="2">
<div>
<table style="border-collapse: collapse; width: 600px;" border="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px; -webkit-text-size-adjust:none" colspan="2">
<div style="-webkit-text-size-adjust: none">Este correo electr&oacute;nico ha sido enviado a #!email!#<br /> Para modificar su suscripci&oacute;n, haga  				<!-- Cambiar nemotecnico por nemotecnico-cliente --> <a style="text-decoration: none;color:#00A0C6; -webkit-text-size-adjust:none" href="https://register.masterbase.com/v0/estilomio/#!email!#/#!contrasena!#/data">click aqu&iacute;</a> | Para anular su suscripci&oacute;n, haga 				<!-- Cambiar nemotecnico por nemotecnico-cliente --> <a style="text-decoration: none;color:#00A0C6; -webkit-text-size-adjust:none" href="https://register.masterbase.com/v0/estilomio/#!email!#/#!contrasena!#/anular">click aqu&iacute;</a></div>
</td>
</tr>
<tr>
<td colspan="2"><br /></td>
</tr>
<tr>
<td style="font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px; -webkit-text-size-adjust:none" width="474"><br /></td>
<td style="font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px; -webkit-text-size-adjust:none" width="126">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>