/* IE 6 */

* html>body .clearfix { display: inline-block; width: 100%; }
* html .clearfix { height: 1%; }
* html .customer { margin:20px 5px 10px 3px;}

/* IE 7 */
.clearfix { zoom:1; min-width:1px; }


