form { margin: 0; padding: 0;  }
fieldset { border: 0; margin: 0 0; padding: 0; }
label,
.label { cursor: pointer; font-size: 1em; margin-right:4px; }
input.text,
input.password { font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; padding: 4px 4px; color:   }
textarea { font: 1em/1.2em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; height: 108px; margin-top: 0; padding: 2px 4px; overflow: auto; }
input.text,
textarea { background: #FFF; border: #999 solid 1px; /* #7E9DB9 */  }
select { font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; width: 126px; overflow:hidden; height:1.9em; vertical-align:middle; margin-right:4px;  }
optgroup { font-weight:bold; font-style:normal; vertical-align:middle; border-top:1px solid #DDD; }
option { border-top:1px solid #DDD; padding:2px 5px; vertical-align:middle; }
form dl,
form dt,
form dd { margin: 0; padding: 0; }
form dl { padding: 0; }
form dt { width:100%; }
form dd { width:100%; margin-bottom: 5px; }
form dt label { display:block; }
form dd input { width:90%; }
form dd select { width:90%; }
form p {  padding:0; }
button { cursor: pointer; font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif; vertical-align:bottom;padding: 2px 5px; }
.buttons { text-align:right; padding:10px 20px; }
.dlgrid dl { float:left; margin:0; padding-bottom:10px; }
.dlgrid dl select { display:block; float:left; width:90%; }
.dlgrid .w16 dl { width:16.6%; }
.dlgrid .w18 dl { width:18%; }
.dlgrid .w20 dl { width:20%; }
.dlgrid .w25 dl { width:33%; }
.dlgrid .w33 dl { width:33%; }
.dlgrid .w50 dl { width:49.9%; }
.dlgrid .w100 dl { width:100%; }
.dlgrid .dlinline dl dt,
.dlgrid .dlinline dl dd { float:left; }
.dlgrid select.w50 { width:50%; margin-right:2%;}
.dlgrid select.w25 { width:25%; margin-right:2%;}
.dlgrid select.w90 { width:90%; margin-right:2%;}
.dlgrid select.w33 { width:31%; }
.dlgrid select.w20 { width:18%; }

