/* CSS Document */


html , body , #wrapper	{ height:100%; }
body > #wrapper { height: auto; min-height: 100%;}
#header	{ background:#FEF102 url(../../images/bg_header.gif) left bottom repeat-x; height:auto; height:44px!important;   min-height:44px;}
#main	{ width:493px; margin: 0 auto; padding-bottom:47px;}
#content{ padding:13px 17px; }
#footer	{ background:#E6E4CF; height:46px; margin-top:-47px; border-top:solid 1px #D2CFAA; position:relative; clear:both;  }





/* Clases */

p.intro { font-size:13px;}


/* FIREFOX CLEARFIX  */

.clearfix:after, .wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
