/*Aqui va el css para la version impresa*/

body { text-align:left; font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000; }
#nav,
#header,
.tools,
#sidebar_right,
#main_menu,
form,
#nav_top,
#sidebar,
#tools,
.ver_mas,
.ver_notas,
.descargar { display: none; }
#footer li { float: none !important; list-style: none; display: inline; padding-right: 12px; }
#footer ul { margin: 0; padding: 0; }
#footer { padding-top: 30px; border-top: #000 solid 1px }
