/* CSS Document */

@import url("reset.css");
@import url("typo.css");
@import url("forms.css");
@import url("tools.css");
/* Layout */


#wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -47px; min-width:493px;  }




html,
body,
#wrapper { height:100%; }
#header { background:#FEF102 url(../../images/bg_header.gif) left bottom repeat-x; height:auto; height:44px!important; min-height:44px; }
#main { width:493px; margin: 0 auto;  }
#content { padding:13px 17px; font-size:1.2em; }
#footer { background:#E6E4CF; height:30px;  border-top:solid 1px #D2CFAA;  padding:8px 11px; overflow:hidden; }
#footer , .push {height: 30px; }
#img_process { background:url(../../images/img_proc.gif) center center no-repeat; height:64px; width:454px; margin-bottom:32px; }


/* Clases */

.dlgrid fieldset.login dt ,
.dlgrid fieldset.codecaptcha dt { width:135px; text-align:right;}

.dlgrid fieldset.login dt label, 
.dlgrid fieldset.codecaptcha dt label { margin-right:14px; line-height:2.2em; font-weight:bold;}
.dlgrid fieldset.login dd { width:319px;}

.dlgrid fieldset.login input.text , 
.dlgrid fieldset.codecaptcha dt input.text,
.dlgrid fieldset.registro input.text { width:216px;}


.dlgrid fieldset.loged dt { width:66px;}
.dlgrid fieldset.loged dt label { margin-right:14px; line-height:inherit; font-weight:bold;}
.dlgrid fieldset.loged dd { width:300px; margin-bottom:0;}
.dlgrid fieldset.loged input.text { width:263px; height:16px;}

.dlgrid fieldset.codecaptcha dt { text-align:left;}
.dlgrid fieldset.codecaptcha dt label { margin-right:14px; line-height:normal; font-weight:bold;}
.dlgrid fieldset.codecaptcha dd  { width:200px;}
.dlgrid fieldset.codecaptcha dd input  { font-size:16px; font-weight:bold; letter-spacing:0.15em; font-family:tahoma, Arial, geneva;}

.dlgrid fieldset.registro dt { width:80px;}
.dlgrid fieldset.registro dt label { margin-right:14px; line-height:inherit; font-weight:bold;}
.dlgrid fieldset.registro dd { width:288px; margin-bottom:0;}


p.intro { font-size:13px; padding:0 25px; text-align:center; }
p.legal { font-size:11px;}
p.sugesthelp {  }
p.codenum { font-size:31px; font-weight:bold; margin-bottom:0}
a.registrarse { font-size:12px; line-height:2.2em; padding-left:10px; color:#111; }
button.submit { background:#232021; border: 0 none; border-width:1px; border-color:#FFF #444 #222 #FFF; border-style:solid; font-size:12px; color:#FFF;  font-weight:bold; padding:0.5em 0.8em;  }
.submit { background:#232021; border: 0 none; border-width:1px; border-color:#FFF #444 #222 #FFF; border-style:solid; font-size:12px; color:#FFF;  font-weight:bold; padding:0.5em 0.8em;  }
button.close { background:#666; border-width:1px; border-color:#FFF #444 #222 #FFF; font-size:12px; color:#FFF; position:relative; top:5px; _top:4px; padding:0.3em 0.8em; }
button {  width:1; overflow:visible; text-align:center;  }
strong.price { font-size:20px; font-weight:bold}
div.captcha { margin-bottom:20px; border:solid 1px #CCC; }
div.barcode { margin-bottom:20px;}
div.captcha img, div.barcode img{   display:block; border:none; font-size:0; letter-spacing:-1px; margin:0 auto }

ul.list_links li { background:url(../../images/bullet_arrowblue.gif) left 4px no-repeat; padding-left:17px; }

.tikibox { border:solid 1px #CCC; padding:10px; background:#F5F5F5; }
.thumb_servproc { border:solid 1px #CCC;  padding:5px; background:#FFF; }





/* Clearfix Hack */

.clearfix:after,
.wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* for eliminate space between images */

.imagen_no_margin { display:block; border:none; font-size:0; letter-spacing:-1px; }
/* min-height para IE6 */

.min_height { height:auto !important; min-height:100px; height:100px; }


.MensajeTransaccion
{
	color: Navy;
	margin-right: 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}
.MensajeValidacion
{
	color: red;
	margin-right: 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}