/* CSS Document */

.no_margin { margin:0 !important; }
.no_margin_r { margin-right:0 !important; }
.no_margin_l { margin-left:0 !important; }
.no_margin_b , .lastitem { margin-bottom:0 !important; }
.plastitem { padding-bottom:0 !important;}
.no_bg { background:none !important; }
.no_border { border:none !important; }
.display { display:block !important; }
.text_out { text-indent:-9000em; }
.hidef { display:none !important; }
.hide { display:none; }
.float_left { float:left !important; }
.float_right { float:right !important; }
.bold { font-weight:bold; }
.relative { position:relative; }
.absolute { position:absolute; }
.mr { margin-right:10px;}
.ml { margin-left:10px;}
.h100 { height:100%;}
.no_decoration { text-decoration:none !important;}
.mb { margin-bottom:1em;}
a { outline: 0 !important;}

	
/* Miscellaneous */
.cboth {clear: both; }
.block { display:block !important; }
.inline { display: inline !important; }
 hr { display: none; }
.hidden, span.hidden, hr { display:none !important; }
.pointer { cursor:pointer !important; }
.indent { text-indent: -9000px !important; }

	
/* Border */

.noborder_t { border-top:0 !important; }
.noborder_r { border-right:0 !important; }
.noborder_b { border-bottom:0 !important; }
.noborder_l { border-left:0 !important; }
	
/* Text align */

.left { text-align:left; }
.right { text-align:right; }
.center { text-align:center; }
.justify { text-align:justify; }
	
/* Images */

.imgLeft { float:left; margin:5px 9px 10px 0; }
.imgRight { float:right; margin:5px 0 10px 9px; }
.imgCenter { text-align:center; padding:15px 0; }
img, a img { border:0; }
	
/* Debuggin */

.colorred { color:#E80D0D !important; }
.bgred { background-color:red !important; }
.bgblack { background-color:#000 !important; }
	
/* Others */	

.no_border { border: 0 none !important;}
.no_bg { background: none !important; }
.no_margin { margin: 0 !important; }
.float_left { float: left; }
.float_right { float: right; }
.list_reset, .list_reset li { margin: 0; padding: 0; list-style: none;}
.no_padding { padding: 0 !important;}
.no_bold { font-weight: 300;}
.no_underline { text-decoration: none; }
.no_display {display:none ;}
.display {display:block;}
ul.list_plane, ul.list_plane > li {  margin-left:0;}
