/* TYPOGRAPHY */
body { text-align:left; font-family: Helevtica, Arial, Verdana, sans-serif; font-size: 62.5%; color: #000; }
img { border: 0; }
/* Links */
a,
a:link a:active {  }
a:visited { }
a.tlink:hover {  }
.oscuro { color: #0272A4; }
.claro { color: #00AFFF; }
.gray { color: #4F5A5E; }
.deep { color: #333e42; }
.white { color: #FFF; }
.black { color: #000; }
/* Headings */
h1 { color:#221f20; text-decoration:none; font-weight:bold; font-size:1.6em; display:block; line-height:34px; background:url(../../images/logo_min.gif) left center no-repeat; padding-left:42px; }

h2 { margin-bottom:1em; font-size:20px; }
h3 { margin-bottom:1em; font-size:13px;}
h4 {  margin-bottom:0.6em; font-size:14px; }
h5 { }
h6 { }
.quote { font-size: 16px; font-family: Georgia, Arial, Verdana, Helvetica, sans-serif; font-weight: 300; }
/* Text */
p { font-size: 1.1em; margin:0 0 1em 0; padding:0; line-height:1.2em; }
p small { font-size:0.8em; }
blockquote { border-left:10px solid #ddd; margin-left:10px; }
pre { display: block; font-family: "Courier New", Courier, monospace; font-size: 11px; background-color: #eee; margin: 0 16px 10px 16px; padding: 2px; }
code { display: block; font-family: "Courier New", Courier, monospace; font-size: 1em; background-color: #eee; }
strong,
b { font-weight: bold; }
em,
i { font-style:italic; }
/* Lists */

/* Lists */
ul { margin: 0 0 1.5em 20px; padding: 0; font-size:1em; }
ul li { margin: 0 0 0.25em 10px; padding: 0; line-height:1.2em;}
ol { margin: 0 0 1.5em 20px; padding:0; line-height: 1.4em; font-size:1em; }
ol li { margin: 0 0 0.25em 10px; padding: 0; }
dl { margin: 0 0 1.5em 0; padding: 0; line-height:130%; font-size:1em; }
dl dt { margin: 0.25em 0 0 0; padding: 0; }
dl dd { margin: 0 0 0 20px; padding: 0; }
/* Table */
table { margin: 0 0 1.5em 0; font-size: 11px; }
table caption { font-weight: bold; margin: 0 0 0 0; padding: 0 0 0.5em 0; text-align: left; }
th { font-weight: bold; text-align: left; }
