﻿.MPEPrincipal
{
    border: 1px solid #000;
    color: white;
    background: #000 url("../img/bg-item-link-menu.gif") repeat-x;
    display: block;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 0.2em 0.6em;
    text-decoration: none;
}
.MPEStaticMenuItemStyle
{
    border: 1px solid #000;
    color: white;
    background: #000 url("../img/bg-item-link-menu.gif") repeat-x;
    display: block;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 0.2em 0.6em;
    text-decoration: none;
}
.MPEStaticHoverStyle
{
    border: 1px solid #ddd;
    background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;
    color: #333;
}
.MPEStaticSelectedStyle
{
    border: 1px solid #ddd;
    background: #fff url("../img/bg-item-hover-menu.gif") repeat-x;
    color: #333;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: -1000px;
}
.divContenedor
{
    background-color: White;
    border: 2px solid #F9F8F2;
    float: left;
    margin: 5px 5px 10px;
    padding: 0 0 5px;
    width: 610px;
}
.grilla tr td
{
    border: 0px;
}
.Hidden
{
    visibility: hidden;
}
.SoloLectura
{
    color: #000000;
    background-color: gainsboro;
}
.MensajeTransaccion
{
    color: Navy;
    margin-right: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
.MensajeValidacion
{
    color: red;
    margin-right: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
ul.treeview li ul.submenu li a .subitemtitle
{
    width: 115px;
    word-wrap: break-word;
}
.MultilineBigCamp
{
    width: 90%;
    margin-left: 5%;
    height: 500px;
}
.MultilineMiniCamp
{
    width: 90%;
    height: 50px;
}
.avatar
{
    width: 74px;
    height: 74px;
    border: 1px:;
}

table.grilla tr.pagerStyle table
{
    float: left;
}

.paddingleft30
{
    padding-left: 20%;
}
.floadPaddingRigth30
{
    margin-right: 15%;
    float: right;
}


/*Para el combo multiselect*/

.ui-dropdownchecklist
{
    font-size: medium;
    color: black;
}
.ui-dropdownchecklist-selector
{
    height: 20px;
    border: 1px solid #ddd;
    background: #fff;
}
.ui-state-hover, .ui-state-active
{
    border-color: #5794bf;
}
.ui-dropdownchecklist-dropcontainer
{
    background-color: #fff;
    border: 1px solid #999;
}
.ui-dropdownchecklist-item
{
}
.ui-state-hover
{
    background-color: #39f;
}
.ui-state-disabled label
{
    color: #ccc;
}
.ui-dropdownchecklist-group
{
    font-weight: bold;
    font-style: italic;
}
.ui-dropdownchecklist-indent
{
    padding-left: 7px;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper
{
    vertical-align: middle;
    font-size: 0px;
}
.ui-dropdownchecklist-selector
{
    padding: 1px 2px 2px 2px;
    font-size: 0px;
}
.ui-dropdownchecklist-text
{
    font-size: medium; /* line-height: 20px; */
}
.ui-dropdownchecklist-group
{
    padding: 1px 2px 2px 2px;
}

.divLoadingMensaje
{
    width: 150px;
    height: 30px;
    padding-top: 5px;
    background-color: #FFFFCC;
    border: solid 1px #999999;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -15px;
    overflow: visible;
    z-index: 100012;
}

.divLoading
{
    width: 100%;
    height: 300%;
    vertical-align: middle;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: black;
    filter: alpha(opacity=20);
    mozopacity: 0.2;
    opacity: 0.2;
    z-index: 100011;
}

.dlinline dl dt.descMin
{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 5px;
}
.dlinline dl dd.campMin
{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
}
.dlinline dl dt.descHead
{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 4px;
}
.dlinline dl dd.campHead
{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 0px;
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 4px;
}

.centerHorizontal
{
    margin: 0 auto 0 auto;
}
.cont-panel-search-big
{
    float: left;
    width: 580px;
}

.TextoLargo
{
    border: solid 1px #c0c0c0;
    width: 225px;
}
.TextoMedioLargo
{
    border: solid 1px #c0c0c0;
    width: 250px;
}
.TextoExtraLargo
{
    border: solid 1px #c0c0c0;
    width: 290px;
}










.divContenedorPopPup
{
    margin-top: 5px;
    width: 470px;
    margin: 5px;
    float: left;
    margin-bottom: 10px;
    padding: 0px;
    margin-left: 5px;
    padding-bottom: 5px;
    border: solid 2px #f9f8f2;
    background-color: White;
}

.divContenedorTitulo
{
    font: bold 12px Verdana, Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #6F6B51;
    border-bottom: solid 2px #f9f8f2;
}
.divBtnCerrarPopPup
{
    float: right;
}

.EtiquetaLargo
{
    width: 125px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    float: left;
}

.EtiquetaExtraLargo
{
    width: 200px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    float: left;
}
.Etiqueta
{
    width: 70px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    float: left;
}

.TextoCombo
{
    border: 1px #747373 solid;
    margin: 0px;
    font-size: 10pt;
    margin-top: 0px;
    width: 100px;
    height: 22px;
}
.TextoComboLargo
{
    border: 1px #747373 solid;
    margin: 0px;
    font-size: 10pt;
    margin-top: 0px;
    width: 150px;
    height: 22px;
}
.TextoComboExtraLargo
{
    border: 1px #747373 solid;
    margin: 0px;
    font-size: 10pt;
    margin-top: 0px;
    width: 230px;
    height: 22px;
}

.ContenedorEtiquetaTexto
{
    padding: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: right;
    text-align: left;
    border-bottom: solid 1px #e7e5d0;
    color: black;
}

.EtiquetaTextoIzquierda
{
	padding: 5px;
	margin-right: 16px;
	float: left;
	color: black;
	
}