/**
* Reset CSS
* @class reset
* @module base.css
*/
body
	background-color #333
	margin 0
a
	text-decoration none
@font-face
	font-family 'trashhandregular'
	src url('../fonts/trashhand-webfont.eot')
	src url('../fonts/trashhand-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/trashhand-webfont.woff') format('woff'), url('../fonts/trashhand-webfont.ttf') format('truetype'), url('../fonts/trashhand-webfont.svg#trashhandregular') format('svg')
	font-weight normal
	font-style normal
.content_landing
	background url("../img/bg_landingPaycash.jpg") repeat-y #fe8800
	font-family Arial
	height 635px
	margin 0 auto
	width 1000px
	h2
		margin 0
	img
		border none
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.hidden
	display none
.col_first
	float left
	margin-left 40px
	width 235px
	p
		color #000
		font 24px/26px 'Ubuntu', sans-serif
		margin 35px 0 0
		text-align center
.logo_landing
	background url("../img/iconset_paycash.png") 0 0 no-repeat
	color transparent
	display block
	font-size 0
	height 57px
	margin 55px auto 0
	width 184px
.menu_landing
	background url("../img/bg_menulanding.png") top center no-repeat
	height 210px
	margin 30px 0 0
	padding 30px 0 0
	li
		font 21px/26px 'trashhandregular'
		margin 0 0 25px 10px
		list-style-type none
		text-align center
		width 205px
	a
		color #000
		display block
		text-decoration none
		&.active
			background url("../img/arrow_menu.png") center right no-repeat
.col_second
	background url("../img/bg_transp_white.png") repeat
	float left
	height 597px
	padding 0 10px
	width 370px
	overflow hidden
	h2
		font 37px/38px 'trashhandregular'
		margin-bottom 15px
	&.scrollPay		
		overflow scroll
		overflow-x hidden
	> div
		margin-bottom 40px
.content_scroll
	height 465px
	overflow scroll
	overflow-x hidden
	p
		margin 0 0 15px
		font-family 'Ubuntu', sans-serif
	img
		margin 0 0 15px 10px
.fotos_scroll
	height 240px
	overflow scroll
	overflow-x hidden
	img
		cursor pointer
		float left
		margin 5px 10px
.ico_gale
	background url("../img/iconset_paycash.png") -218px -151px no-repeat
	display block
	height 34px
	position absolute
	top 0
	right 0
	width 42px
	z-index 1
	&.videos
		background-position -263px -151px
		width 44px
.box_gale
	margin-bottom 20px
	position relative
.video_scroll
	margin 5px 0
	width 360px
.col_third
	float left
	width 295px
.lnk_twitter
	background url("../img/bg_transp_black.png") repeat
	border-radius 8px
	color #fff
	float right
	font-size 12px
	font-style italic
	line-height 22px
	margin-top 10px
	padding 4px 10px
	text-decoration none
	-webkit-transition all 0.4s ease-in-out
	-moz-transition all 0.4s ease-in-out
	-o-transition all 0.4s ease-in-out
	-ms-transition all 0.4s ease-in-out
	transition all 0.4s ease-in-out
	span
		background url("../img/iconset_paycash.png") -192px -137px no-repeat
		float right
		height 22px
		margin-left 10px
		width 26px
	&:hover
		background-color #333
.logo_hack
	background url("../img/iconset_paycash.png") 0 -57px no-repeat
	display block
	height 80px
	margin 55px auto 0
	width 246px
.animated
	float left
	height 65px
	text-align center
	width 100%
.footer_landing
	background-color #000
	height 38px
	a
		color #bdbaba
		float left
		font-size 12px
		font-style italic
		line-height 36px
		text-decoration none
		&:hover
			color #ebbf12
.footer_logope
	background url("../img/iconset_paycash.png") -184px 0 no-repeat
	float left
	height 43px
	margin -5px 10px 0 40px
	width 75px
.footer_logoec
	background-color #ffca08
	float right
	height 38px
	margin-right 40px
	width 200px
	span
		background url("../img/iconset_paycash.png") 0 -138px no-repeat
		display block
		height 30px
		margin 4px auto 0
		width 191px
.team_modal
	float left
	position relative
	width 650px
.team_pic
	background-color #ebbf12
	border-radius 50%
	height 127px
	left 255px
	padding-top 18px
	position absolute
	text-align center
	top -73px
	width 145px
	z-index 2
.team_detail
	background url("../img/bg_anaconda.png") left bottom no-repeat #000
	color #fff
	margin-top 75px
	padding 100px 20px 50px 0
	width 630px
	&.llama
		background url("../img/bg_llama.png") left bottom no-repeat #000
	&.otorongo
		background url("../img/bg_otorongo.png") left 100px no-repeat #000
	&.condor
		background url("../img/bg_condor.png") left 20px no-repeat #000
.team_info
	margin-left 240px
	width 365px
	h2
		color #e9bd12
		font 27px/29px 'Ubuntu', sans-serif
		margin-bottom 15px
	p
		font 15px/20px 'Ubuntu', sans-serif
		margin 0 0 15px
.gallery_modal
	text-align center
	background-color #000000
	color #FFFFFF
	margin-top 75px
	padding 50px 10px 30px
	width 630px
/* 3D flip horizontal */
.md-perspective,
.md-perspective body
	height 100%
	overflow hidden
.md-perspective body
	background #222
	-webkit-perspective 600px
	-moz-perspective 600px
	perspective 600px
.container
	background #333
	min-height 100%
.md-modal
	position fixed
	top 50%
	left 50%
	width 650px
	max-width 650px
	min-width 320px
	height auto
	z-index 2000
	visibility hidden
	-webkit-backface-visibility hidden
	-moz-backface-visibility hidden
	backface-visibility hidden
	-webkit-transform translateX(-50%) translateY(-50%)
	-moz-transform translateX(-50%) translateY(-50%)
	-ms-transform translateX(-50%) translateY(-50%)
	transform translateX(-50%) translateY(-50%)
.md-show
	visibility visible
.md-overlay
	position fixed
	width 100%
	height 100%
	visibility hidden
	top 0
	left 0
	z-index 1000
	opacity 0
	background rgba(26,26,26, 0.8)
	-webkit-transition all 0.3s
	-moz-transition all 0.3s
	transition all 0.3s
.md-show ~ .md-overlay 
	opacity 1
	visibility visible
/* Content styles */
.md-effect-8.md-modal
	-webkit-perspective 1300px
	-moz-perspective 1300px
	perspective 1300px
.md-content
	position relative
	width 650px
.md-effect-8 .md-content
	-webkit-transform-style preserve-3d
	-moz-transform-style preserve-3d
	transform-style preserve-3d
	-webkit-transform rotateY(-70deg)
	-moz-transform rotateY(-70deg)
	-ms-transform rotateY(-70deg)
	transform rotateY(-70deg)
	-webkit-transition all 0.3s
	-moz-transition all 0.3s
	transition all 0.3s
	opacity 0
.md-show.md-effect-8 .md-content
	-webkit-transform rotateY(0deg)
	-moz-transform rotateY(0deg)
	-ms-transform rotateY(0deg)
	transform rotateY(0deg)
	opacity 1

.md-effect-8 .md-close, .md-effect-9 .md-close
	background-color #737373
	border-radius 50%
	font-family 'Ubuntu', sans-serif
	font-size 22px
	line-height 36px
	position absolute
	text-align center
	text-transform uppercase
	top 12px
	right 12px
	color #000
	width 36px

.md-effect-9.md-modal
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;

.md-effect-9 .md-content
	-webkit-transform-style preserve-3d
	-moz-transform-style preserve-3d
	transform-style preserve-3d
	-webkit-transform rotateX(-70deg)
	-moz-transform rotateX(-70deg)
	-ms-transform rotateX(-70deg)
	transform rotateX(-70deg)
	-webkit-transition all 0.3s
	-moz-transition all 0.3s
	transition all 0.3s
	opacity 0

.md-show.md-effect-9 .md-content
	-webkit-transform rotateX(0deg)
	-moz-transform rotateX(0deg)
	-ms-transform rotateX(0deg)
	transform rotateX(0deg)
	opacity 1
/**
* Contenedores CSS
* @class Hover Team
* @module base.css
*/
#lastNews
	height 500px
	padding-top 55px
#theProyect
	padding-top 55px
#whatsPagoEfectivo
	padding-top 55px
#gallery
	height 555px
	padding-top 55px
	overflow-y scroll
/**
* Contenedores CSS
* @class Hover Team
* @module base.css
*/
.paycash_team
	background url("../img/bg_team.png") center center no-repeat
	height 360px
	margin-top 5px
	position relative
	span
		background url("../img/iconset_paycash.png") -260px 0 no-repeat
		float left
		padding-top 18px
		height 133px
		text-align center
		width 146px
		&.lessw
			margin-left 3px
			width 144px
.team_hover
	cursor pointer
	height 145px
	left 2px
	display inline-block
	position absolute
	text-align center
	top 0
	width 145px
	z-index 2
	&.snd
		left 147px
	&.thd
		top 215px
	&.fth
		left 147px
		top 215px
.ch-grid
	margin 20px 0 0 0
	padding 0
	list-style none
	display block
	text-align center
	width 100%
.ch-gridafter,
.ch-itembefore
	content ''
	display table
.ch-gridafter
	clear both
.ch-grid li
	width 144px
	height 144px
	display inline-block
	margin 10px
.ch-item
	width 100%
	height 100%
	border-radius 50%
	position relative
	cursor pointer		
	-webkit-transition all 0.4s ease-in-out
	-moz-transition all 0.4s ease-in-out
	-o-transition all 0.4s ease-in-out
	-ms-transition all 0.4s ease-in-out
	transition all 0.4s ease-in-out
.ch-info
	position absolute
	width 100%
	height 100%
	border-radius 50%
	opacity 0	
	-webkit-transition all 0.4s ease-in-out
	-moz-transition all 0.4s ease-in-out
	-o-transition all 0.4s ease-in-out
	-ms-transition all 0.4s ease-in-out
	transition all 0.4s ease-in-out	
	-webkit-transform scale(0)
	-moz-transform scale(0)
	-o-transform scale(0)
	-ms-transform scale(0)
	transform scale(0)	
	-webkit-backface-visibility hidden /*for a smooth font */
.ch-info h3
	color #fff
	font-size 17px
	font-weight 400
	font-family 'Ubuntu', sans-serif
	margin 0 0 5px
	padding 25px 0 0 0
	position relative
	text-shadow 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3)
	text-transform uppercase
.ch-info
	p
		border-top 1px solid rgba(255,255,255,0.5)
		color #fff
		padding 10px 5px
		font-style italic
		font-size 10px
		line-height 11px
		margin 0 10px
		text-transform uppercase
.ch-info p a
	display block
	color #fff
	color rgba(255,255,255,0.7)
	font-style normal
	font-weight 700
	text-decoration none
	text-transform uppercase
	font-size 9px
	letter-spacing 1px
	padding-top 4px
	font-family 'Ubuntu', sans-serif
.ch-info
	p, a:hover
		color #fff222
		color rgba(255,242,34, 0.8)
.ch-item:hover
	box-shadow inset 0 0 0 110px rgba(30,30,30, 0.8),inset 0 0 0 6px #fff, 0 1px 2px rgba(0,0,0,0.4)
.ch-item:hover .ch-info
	opacity 1	
	-webkit-transform scale(1)
	-moz-transform scale(1)
	-o-transform scale(1)
	-ms-transform scale(1)
	transform scale(1)

		
