body{
	color: #323232;
}
.box_top{
	background: url(../img/fondo.jpg?v=002) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 777px;
	width: 100%;
	text-align: center;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/landingVacaciones/img/fondo.jpg?v=002',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/landingVacaciones/img/fondo.jpg?v=002',sizingMethod='scale')";
	min-width: 1020px;
	position: relative;
}

.ganadores .box_top{
	background-position: center -80px !important;
	min-height: 880px important;
}
.slide{
	/*padding-top: 30px;*/
}
.center{
	width: 1000px;
	margin: 0 auto;
}
h2{
	font-family: "neosans-italic",arial,tahoma;
	font-size: 27px;
	margin: 0;
	font-weight: 100;
}
h1{
	font-family: "neosans",arial,tahoma;
	font-size: 68px;
	margin: 0;
	color: #fdca2f;
}
h3{
	font-family: "neosans",arial,tahoma;
	font-size: 32px;
	margin: 0;
	font-weight: 100;
}
h3 b{
	font-family: "neosans-medium",arial,tahoma;

}
.ganadores .logwinner{text-align: left;padding-top: 10px}
.ganadores .logwinner img{width: 100%;vertical-align: middle }

.ganadores .item:nth-child(1) .logwinner img{max-width:120px;}
.ganadores .item:nth-child(2) .logwinner img{max-width:190px;}
.ganadores .item:nth-child(3) .logwinner img{max-width:170px;}

.ganadores .items .item .item_img{
	min-height: 180px;
}
.ganadores .items{
	width: 100%;
	margin-top: 120px
}
.ganadores .items .item{
	width: 33.2%;
	float:left;
	text-align: left;
}
.ganadores .items .item .description{margin-top: 10px !important;padding: 10px 20px;text-align: left;}
.ganadores .stores{padding: 40px 0;}

.items{
	margin-top: 20px;
}
.item{
	text-align: left;
}
.item .item_img{
	width: 200px;
	display: inline-block;
	text-align: center;
}
.item .description{
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	font-size: 20px;
}
.item .description.one_desc{
	margin-top: 45px;
}
.item .description h4{
	font-family: "neosans-medium",arial,tahoma;
	margin: 0;
}
.item .description p{
	font-family: "neosans",arial,tahoma;
	margin: 0;
}
.bar{
	background: #fecb2e;
	height: 78px;
	width: 100%;
	text-align: center;
	min-width: 1020px;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

  /* IE 5-7 */
  filter: alpha(opacity=90);

  /* Netscape */
  -moz-opacity: 0.9;

  /* Safari 1.x */
  -khtml-opacity: 0.9;

  /* Good browsers */
  opacity: 0.9;
  position: absolute;
  bottom: 0;
}
.logo{
	background: url(../img/sprite.png?v=002);
	width: 170px;
	height: 67px;
	background-position: -311px 0px;
	display: inline-block;
	margin-top: 5px;
}
.bar .text{
	display: inline-block;
	vertical-align: top;
	margin-top: 28px;
	margin-left: 200px;
	font-size: 18px;
}
.bar .text strong{
	margin-left: 10px;
}
.stores{
	padding: 20px 0;
	text-align: center;
}
.stores h3{
	font-size: 28px;
	font-family: "neosans",arial,tahoma;
	margin-bottom: 20px;
}
.stores .store{
	width: 230px;
	margin: 10px 5px;
	display: inline-block;
	vertical-align: top;
}
.stores .store span{
	background: url(../img/sprite.png?v=002);
	display: block;
	margin: 0 auto;
}
.stores .store span.peruvian{
	background-position: -197px -295px;
	width: 138px;
	height: 54px;
}
.stores .store span.mundo{
	background-position: 0px -158px;
	width: 176px;
	height: 69px;
}
.stores .store span.linio{
	background-position: -183px -85px;
	width: 117px;
	height: 58px;
}
.stores .store span.saga{
	background-position: -152px -359px;
	width: 183px;
	height: 41px;
	margin-top: 5px;
}
.stores .store span.sodimac{
	background-position: -103px 0px;
	width: 208px;
	height: 83px;
	margin-top: -5px;
}
.stores .store span.movistar{
	background-position: 0px -295px;
	width: 197px;
	height: 64px;
}
.stores .store span.jockey{
	background-position: 0px -359px;
	width: 152px;
	height: 43px;
	margin-top: 5px;
}
.stores .store span.platanitos{
	background-position: 0px -402px;
	width: 184px;
	height: 36px;
	margin-top: 5px;
}
.stores .store span.inkabet{
	background-position: -311px -129px;
	width: 159px;
	height: 62px;
}
.stores .store span.pokerstars{
	background-position: -311px -191px;
	width: 157px;
	height: 62px;
}
.stores .store span.deltron{
	background-position: -176px -158px;
	width: 132px;
	height: 53px;
}
.stores .store span.intralot{
	background-position: -311px -67px;
	width: 159px;
	height: 62px;
	margin-top: -5px;
}
.stores .store span.domireps{
	background-position: -173px -227px;
	width: 138px;
	height: 54px;
	margin-top: 15px;
}
.stores .store span.ofertop{
	background-position: 0px 0px;
	width: 103px;
	height: 85px;
}
.stores .store span.avansys{
	background-position: 0px -227px;
	width: 173px;
	height: 68px;
	margin-top: 5px;
}
.stores .store span.betcris{
	background-position: 0px -85px;
	width: 183px;
	height: 73px;
}

.btn_all_stores{
	background: black;
	color: #ffbe00;
	font-family: "neosans-italic",arial,tahoma;
	font-size: 21px;
	text-align: center;
	text-decoration: none;
	padding: 5px 35px;
	border-radius: 5px;
	font-weight: bold;
}
.mobile{
	display: none;
}
footer{
	margin-top: 10px;
	background: #fdca2f;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	min-width: 1020px;
}
footer .payment_center{
	font-family: "neosans",arial,tahoma;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0
}
footer .payment_center span{
	display: inline-block;
	vertical-align: top;
}
footer .payment_center span.label{
	margin-top: 7px;
	color: black;
}
footer .payment_center span.pay{
	background: url(../img/sprite.png?v=002);
}
footer .payment_center span.interbank{
	background-position: -397px -295px;
	width: 80px;
	height: 33px;
}
footer .payment_center span.kasnet{
	background-position: -384px -253px;
	width: 90px;
	height: 33px;
}
footer .payment_center span.continental{
	background-position: -184px -402px;
	width: 119px;
	height: 33px;
}
footer .payment_center span.bcp{
	background-position: -311px -253px;
	width: 73px;
	height: 33px;
}
footer .payment_center span.scotiabank{
	background-position: -303px -402px;
	width: 107px;
	height: 33px;
}
footer .payment_center span.western{
	background-position: 0px -438px;
	width: 91px;
	height: 33px;
}
footer .payment_center span.globalnet{
	background-position: -335px -359px;
	width: 104px;
	height: 33px;
}
footer .payment_center span.fullcarga{
	background-position: -335px -295px;
	width: 62px;
	height: 33px;
}
footer .line{
	border-top: 1px solid black;
	margin: 10px 0 10px;
}

footer .restrictions{
	padding: 0 25px;
}

footer .restrictions p{
	font-size: 10.5px;
	text-align: justify;
	margin: 0;
}

@media screen and (max-width:1020px){
	footer,
	header,
	.box_top,
	.bar,
	.center{width: 100%;min-width: 100%}
}
@media screen and (max-width:990px){
	.box_top{height: 880px}
}
@media screen and (max-width:720px){
	.ganadores .box_top {
		height: auto !important;
		background: none;
		min-height: inherit;
		margin: 0 auto
	}
	.ganadores .items .item .description{margin-top: 0 !important;margin-bottom: 40px}
	.ganadores .items .item .item_img{min-height: inherit;}
	.ganadores .items .item{width: 100%;float: none;margin:0px auto;}
	.ganadores .box_top{background-position: center center !important;}
	.ganadores .items{margin-top: 0}

	.box_top{
		height: 455px;
		min-width: 0;
		background: url(../img/mobile_background.jpg?v=002) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.img_background{
		height: 455px
	}
	.center{
		width: 100%;
	}
	h2{
		font-size: 23px;
	}
	h1{
		font-size: 38px;
	}
	h3{
		width: 90%;
		margin: 20px auto;
	}
	.logo.mobile{
		display: block;
		margin: 100px auto 0;
	}
	.bar{
		min-width: 0;
		position: static;
		height: auto;
	}
	.bar .logo{
		display: none;
	}
	.bar .text{
		display: block;
		margin: 0;
		padding: 20px;
	} 
	.top{
		height: auto;
		background: url(../img/mobile_background.jpg?v=002) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding: 20px 0px;
	}
	.items{
		height: auto;
		background: url(../img/fondo_medium.jpg?v=002);
		padding: 20px;
	}
	.item .item_img{
		width: 100%;
	}
	.item .description{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.item .description.one_desc{
		margin-top: 0;
	}
	.item .description p{
		font-size: 18px;
	}
	.btn_all_stores{
		font-size: 18px;
		padding: 5px 10px;
	}
	.stores{
		margin-top: 0px;
	}
	.stores .store {
		width: 184px;
		margin: 10px 0px;
	}
	footer{
		height: auto;
		padding-bottom: 10px;
		min-width: 0;
	}
	footer .payment_center span.label{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	footer .payment_center span.pay{
		margin-bottom: 10px;
	}
}
@media screen and (max-width:480px){
	h3{
		font-size: 20px;
	}
	.logo.mobile{
		margin: 0px auto 0;
	}
}
@media screen and (max-width:320px){
	h3{
		font-size: 18px;
	}
	.logo.mobile{
		margin: 20px auto 0;
	}
}
@media screen and (max-width:280px){

	.top{
		height: auto;
	}
	h3{
		font-size: 16px;
	}
	.logo.mobile{
		margin: 0 auto 0;
	}
}

/*mfyance*/
.cleaner{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}.cleaner:after,.cleaner:before{display:table;line-height:0;content:""}.cleaner:after{clear:both}