﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MPBase.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="paycash_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeaderCSS" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderCertificaJS" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<iframe src="inicio.html"></iframe>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolderHeaderJS" Runat="Server">
</asp:Content>

