.box_gale
	h2 Fotos
	span.ico_gale
	.fotos_scroll
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/1.jpg")
			img(src="img/gallery/min/1.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/2.jpg")
			img(src="img/gallery/min/2.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/3.jpg")
			img(src="img/gallery/min/3.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/4.jpg")
			img(src="img/gallery/min/4.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/1.jpg")
			img(src="img/gallery/min/1.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/2.jpg")
			img(src="img/gallery/min/2.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/3.jpg")
			img(src="img/gallery/min/3.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/4.jpg")
			img(src="img/gallery/min/4.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/1.jpg")
			img(src="img/gallery/min/1.jpg", alt="Nombre foto 1",width="100",height="70")
.box_gale
	h2 Videos
	span.ico_gale.videos
	.video_scroll
		<iframe width="360" height="250" src="//www.youtube.com/embed/JdXMW7rFzdw" frameborder="0" allowfullscreen></iframe>
	.video_scroll
		<iframe width="360" height="250" src="//www.youtube.com/embed/JdXMW7rFzdw" frameborder="0" allowfullscreen></iframe>