doctype 5
<!--[if IE 7]><html class="ie7"><![endif]-->
html(lang="es",class="ieVersion")
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="title", content="Paycash")
	meta(name="description", content="Paycash")
	title Paycash
	link(type='text/css', rel='stylesheet', media='all', href='css/landing_paycash.css')
	link(href='http://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
	link(type='text/css', rel='stylesheet', media='all', href='js/libs/fancybox/source/jquery.fancybox.css')
	script(src="js/libs/modalEffect/modernizr.custom.js")
	body
		.content_landing
			.row
				.col_first
					h2
						a(href="./", class="logo_landing", title="Paycash") Paycash
					p Es una Iniciativa<br> para llegar a más de<br> <b>7 millones</b> de<br> peruanos no<br> bancarizados
					ul.menu_landing
						li
							a(href="#lastNews", class="active linkToSection", title="Últimas Noticias",data-position="0") Últimas Noticias
						li
							a(href="#theProyect", class="linkToSection", title="El Proyecto",data-position="620") El Proyecto
						li
							a(href="#whatsPagoEfectivo", class="linkToSection", title="¿Qué es Pago Efectivo?",data-position="1227") ¿Qué es Pago Efectivo?
						li
							a(href="#gallery", class="linkToSection", title="Galería",data-position="1833") Galería
				.col_second
					#lastNews
						a(class="twitter-timeline",href="https://twitter.com/search?q=%23payCash",data-widget-id="436189121061482496")
							Tweets sobre "#payCash"
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					#theProyect
						include proyecto.jade
					#whatsPagoEfectivo
						include que-es-pago-efectivo.jade
					#gallery
						include galeria.jade
				.col_third
					.row
						a(href="https://twitter.com/intent/user?screen_name=giancvc",target="_blank" ,class="lnk_twitter", title="Síguenos en Twitter")
							| Síguenos en Twitter
							span
					.logo_hack
					.paycash_team.row
						.team_hover(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="christian")
							.ch-item
								.ch-info
									h3 Cristian Castañeda
									p
										| Comercio Electrónico
										a(href="javascript:;", title="Cristian Alexander Castañeda Lozano") ver más
						span.lessw
							a(href="javascript:;", title="Cristian Alexander Castañeda Lozano")
								img(src="img/christian.png", alt="Cristian Alexander Castañeda Lozano",width="108",height="108")
						.team_hover.snd(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="vladimir")
							.ch-item
								.ch-info
									h3 Vladimir Estrada
									p
										| Gerente de Tecnología Digital 
										a(href="javascript:;", title="Vladimir Estrada") ver más
						span
							a(href="javascript:;", title="Vladimir Estrada")
								img(src="img/vladimir.png", alt="Vladimir Estrada",width="108",height="108")
						.animated
							a(href="javascript:;", title="Nuestro Equipo")
								img(src="img/animate.png", alt="Nuestro Equipo",width="254",height="65")
						.team_hover.thd(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="giancarlo")
							.ch-item
								.ch-info
									h3 Giancarlo Valdizán
									p
										| Marketing Digital y Experiencia de Uso (UX) 
										a(href="javascript:;", title="Giancarlo Valdizán") ver más
						span.lessw
							a(href="javascript:;", title="Giancarlo Valdizán") 
								img(src="img/giancarlo.png", alt="Giancarlo Valdizán",width="108",height="108")
						.team_hover.fth(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="cesar")
							.ch-item
								.ch-info
									h3 César<br>Huerta
									p
										| Arquitecto de Software
										a(href="javascript:;", title="César Huerta") ver más
						span
							a(href="javascript:;", title="César Huerta") 
								img(src="img/cesar.png", alt="César Huerta",width="108",height="108")
			.footer_landing
				span.footer_logope
				a(href="https://pagoefectivo.pe/", target="_blank", title="Pago Efectivo") www.pagoefectivo.pe
				.footer_logoec
					span
			#modal-8.md-modal.md-effect-8
				.md-content
					a.md-close(href="javascript:;", title="Cerrar") x
					.team_modal.hidden
					.team_pic.imgParticipate
					.team_detail
						.team_info
							h2.nameParticipate
							p.positionParticipate
							p.descriptionParticipate
			#modal-9.md-modal.md-effect-9
				.md-content
					a.md-close(href="javascript:;", title="Cerrar") x
					.team_modal.hidden
					.row.gallery_modal
						img.photo_main(src="")
			.md-overlay
		.cacheImages.hidden
			img(src="img/gallery/max/1.jpg")
			img(src="img/gallery/max/2.jpg")
			img(src="img/gallery/max/3.jpg")
			img(src="img/gallery/max/4.jpg")
		script(src="js/libs/jquery/dist/jquery.min.js")
		script(src="js/libs/fancybox/source/jquery.fancybox.pack.js")
		script(src="js/libs/modalEffect/modalEffects.js")
		script(src="js/libs/modalEffect/classie.js")
		script(src="js/libs/easing/jqEasing.js")
		script(src="js/script.js")



