
<h2>EL PROYECTO</h2>
<div class="content_scroll">
  <p>Pay Cash se creó por iniciativa social de Grupo El Comercio mediante la integración de su producto PagoEfectivo con el Sistema Líder de Transacción Mundial Pay Pal, en respuesta al déficit consumista de la población no bancarizada en Perú perteneciente a los NSE C y D.</p><img src="img/proyecto.jpg" alt="proyecto" width="340" height="215"/>
  <p>Esta experiencia expone una solución innovadora para potenciar los canales de pago en más de 5 millones de comercios afiliados a Pay Pal en LATAM permitiendo a más de 24 millones de peruanos no bancarizados comprar online con la seguridad de pagar de manera presencial con dinero en efectivo en más de 11,000 puntos a nivel nacional.</p>
  <p>La iniciativa social abrirá puertas a aquellos que limitan sus compras online por no tener cuenta en el sistema financiero, tarjetas de crédito o débito, además de rechazo al fraude online, y a su vez ampliará su alcance a nuevas oportunidades de compra en mercados internacionales.</p>
  <p>En el marco de esta iniciativa PayPal promueve de manera anual un evento internacional denominado BattleHack, donde cientos de programadores, diseñadores y emprendedores parten con el objetivo de  presentar soluciones y propuestas que basadas en su plataforma, apoyen al desarrollo del mercado donde se promueva nuevos y mejores usos del dinero electrónico. En tan solo 24 horas los equipos deben de desarrollar, utilizando solo las herramientas que se entreguen una solución creativa y sostenible para mejorar una experiencia de compra  o ampliar mercados, generando modelos de negocio que no solo promuevan el mercado del comercio electrónico si no que aporten a la sociedad y su crecimiento.</p>
  <p>Para ello se ha asignado un equipo clave conformado por 4 especialistas de distintas áreas:  Negocios Digitales liderado por Cristian Castañeda, Marketing Digital y Experiencia de Usuario por Gian Carlo Valdizán , Operaciones Digitales por Vladimir Estrada y Arquitectura de Información  por Cesar Huerta, equipo que estará representando al Perú este 22 y 23 de Febrero.</p>
</div>