
<h2>¿Que es pago Efectivo?</h2>
<div class="content_scroll">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor, purus quis malesuada elementum, elit nulla fringilla metus, id tempor ipsum dui sed neque. Cras egestas dapibus turpis, vel ornare enim placerat sit amet. Etiam bibendum dolor quis massa sodales mollis. Mauris vitae quam sit amet enim pharetra mattis quis vitae risus. Praesent eget consectetur urna. Pellentesque ultrices tellus in lacus commodo porttitor. Proin a bibendum augue, at iaculis velit. Nulla et volutpat massa, commodo pellentesque lorem.</p><img src="img/pago_efectivo.png" alt="Pago Efectivo" width="340" height="233"/>
</div>