html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, th {margin: 0; padding: 0;
border: 0; outline: 0; font-weight: inherit;
font-style: inherit; font-family: Helvetica;
color:#333; font-size:12px;}
body {background:#fff; text-align:center; text-align:left; }
p, span {font-size:12px; font-family: Helvetica;
color:#333; margin: 0;padding: 0; font-weight:normal;}
:focus {outline: 0;}
span a{text-decoration:underline;}
ol, ul { list-style: none;}
table { border-collapse:collapse;
border-spacing: 0; margin:auto; float:left;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q { quotes: "" "";}
