/*
Name:   form
Author: Daniel M. | dmariluz@comercio.com.pe
Date:   04.11.08
*/

/* form input, buttons
------------------------*/
.agente-wrapper-content #content table#caja-activa td.detalle input 
{
	border:solid 1px #c0c0c0; 
	font-size:12px; 
} 
.agente-wrapper-content #content table#caja-activa td button 
{
	background:url(../../images/boton-buscar.png) no-repeat; 
	cursor:pointer; 
	width:106px; 
	height:27px; 
	border:0; 
	font-size:11px; 
	font-family:Verdana; 
	margin-left:5px; 
} 
.agente-wrapper-content #content table#detalle-modo-pago-form select 
{
	width:195px; 
	border:solid 1px #c0c0c0; 
	height:18px; 
	font-size:11px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
} 
.agente-wrapper-content #content table#detalle-modo-pago-form button.pagar, .agente-wrapper-content #content table#detalle-modo-pago-form button.volver 
{
	cursor:pointer; 
	border:0; 
} 
.agente-wrapper-content #content table#detalle-modo-pago-form button.pagar span, .agente-wrapper-content #content table#detalle-modo-pago-form button.volver span 
{
	text-indent:-9999em; 
	display:none; 
} 
.agente-wrapper-content #content table#detalle-modo-pago-form button.pagar 
{
	width:120px;
	height:28px; 
	background:url(../../images/boton-pagar.png) no-repeat; 
} 
.agente-wrapper-content #content table#detalle-modo-pago-form button.volver 
{
	width:80px; 
	height:28px; 
	background:url(../../images/boton-volver.png) no-repeat; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .label-email input 
{
	width:350px;
	border:solid 1px #000; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .label-contrasena input 
{
	width:350px;
	border:solid 1px #000; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .ingresar 
{
	padding-left:230px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .ingresar button.ingresar-button 
{
	/*background:url('../../images/boton-ingresa.png') no-repeat;*/
	width:100px; 
	height:30px; 
	border:0; 
	cursor:pointer; 
} 
.agente-wrapper-content #content #login .ingresar button.ingresar-button span 
{
	display:none;
 }  