/*
Name:   typo
Author: Daniel M. | dmariluz@comercio.com.pe
Date:   04.11.08
*/

/* general
----------------*/
body { font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#747373 }
a { text-decoration:none; }

/* layout
----------------*/
#header h1 { width:214px;/*431*/ height:90px; background-image:url(../../images/logo-pe.gif); } #header h1 a { width:214px; height:90px; display:block; text-indent:-9999em; }

#header p.slogan { position:absolute; font:normal 20px arial; top:62px; left:250px; color:#000; line-height:100%;  } 
#header q.logueo  { position:absolute; font:normal 12px arial; top:62px; left:250px; color:#000; line-height:100%;  } 

/*nav*/
#main-nav ul#nav li a { color:#747373; font-weight:bold; height:26px;} 
#main-nav ul#nav li.inicio a:hover, #main-nav ul#nav li.ayuda a:hover { color:#3c3d3c; background:url(../../images/boton-inicio-menu-a.png) no-repeat; }

#main-nav ul#nav li.contacto a:hover, #main-nav ul#nav li.ordenes a:hover, #main-nav ul#nav li.compras a:hover { color:#3c3d3c; background:url(../../images/boton-coc-menu-a.png) no-repeat; }

#main-nav ul#nav li.inicio a { padding:14px 15px 0 15px; width:35px; display:block; }
#main-nav ul#nav li.ayuda a { padding:14px 15px 0 14px; width:36px; display:block; }
#main-nav ul#nav li.contacto a, #main-nav ul#nav li.ordenes a, #main-nav ul#nav li.compras a  { padding:14px 2px 0 0; width:84px; display:block; }

ul#nav li.inicio a.activo, ul#nav li.ayuda a.activo { color:#3c3d3c!important; background:url(../../images/boton-inicio-menu-a.png) no-repeat; }

#main-nav ul#nav li.contacto a.activo, #main-nav ul#nav li.ordenes a.activo, #main-nav ul#nav li.compras a.activo { color:#3c3d3c!important; background:url(../../images/boton-coc-menu-a.png) no-repeat; }

/*secondary-nav*/
.agente-wrapper-content #secondary-nav ul li a { width:225px; height:18px; display:block; background:url(../../images/bg-list-secondary.jpg) no-repeat left; padding-left:8px; padding-top:2px; color:#8f8e8e; } 
.agente-wrapper-content #secondary-nav ul li.active, .agente-wrapper-content #secondary-nav ul li a:hover { background:url(../../images/bg-list-secondary-hover.gif); color:#fff; } 
.agente-wrapper-content #secondary-nav ul li.active { padding-left:8px; padding-top:2px; height:18px }  

/*table-datail*/
#main-nav p.user-name, #main-nav p.quick-links  
{ position:absolute; top:14px; right:30px; } 

#main-nav p.quick-links a 
{ color:#00f; text-decoration:underline; } 

#main-nav p.user-name span.id 
{ font-weight:bold; } 

#content h1 
{ font:bold 20px Verdana, Arial, Helvetica, sans-serif; color:#6f6b51; margin-top:10px; margin-bottom:10px; } 

.agente-wrapper-content #content table#ordenes-pagos tr.header-items 
{ color:#fff; } 

.agente-wrapper-content #content table#ordenes-pagos tr.header-items td 
{
	text-align:center!important; 
} 
body#portadaUsuario .agente-wrapper-content #content table#genera-orden td.item 
{
	font-weight:bold; border-right:solid 1px #e7e5d0; border-bottom:solid 1px #e7e5d0 
}
body#portadaUsuario .agente-wrapper-content #content table#genera-orden td.detalle 
{
	text-align:left; border-bottom:solid 1px #e7e5d0 
}
body#portadaUsuario .agente-wrapper-content #content table#genera-orden td.detalle span 
{
	padding:5px 5px 5px 20px; overflow:hidden; 
} 
body#portadaUsuario .agente-wrapper-content #content table#genera-orden td.detalle img 
{
	padding:5px 5px 5px 20px; 
} 
body#portadaUsuario .agente-wrapper-content #content #login .links a 
{
	text-decoration:underline; font-size:10px; color:#00f; 
}

/*footer*/
#footer p { color:#b7b49f; float:right; padding:7px 18px 0 0; }