﻿<div class="colRight">
	<asp:scriptmanager id="ScriptManager" runat="server">
	</asp:scriptmanager>
	<div class="inner-col-right">
		<h2>
			Conciliación Diaria
		</h2>
		<div class="dlgrid" method="post" action="">
			<fieldset>
				<h3>
					1. Subir Archivo</h3>
				<asp:updatepanel id="upnlCriterios" runat="server" updatemode="Conditional">
			   <contenttemplate>
							<div class="cont-panel-search">
								<div class="even w100 clearfix dlinline">
									<dl class="clearfix dt10 dd30">
										<dt class="desc">
											<label>
												Banco:</label>
										</dt>
										<dd class="camp">
											<!--<asp:TextBox id="txtNombre" runat="server" CssClass="normalCamp" Width="150px" ></asp:TextBox> -->
											<asp:DropDownList id="ddlBanco" runat="server" CssClass="normalCamp"></asp:DropDownList> 
										</dd>
									</dl>
								</div>

								<div class="w100 clearfix dlinline">
									<dl class="clearfix dt10 dd60">
										<dt class="desc">
												<label>Archivo de conciliación:</label>
											</dt>  
											<dd class="camp">
												<asp:FileUpload id="fulArchivoConciliacion" runat="server" CssClass="normalCamp"></asp:FileUpload> 
											</dd>
									</dl>
								</div>
												<div class="even w100 clearfix dlinline">
									<dl class="clearfix dt10 dd30">
										<dt class="desc">
											<label>
												Fecha de conciliación::</label>
										</dt>
										<dd class="camp">
											<!--<asp:TextBox id="txtNombre" runat="server" CssClass="normalCamp" Width="150px" ></asp:TextBox> -->
											 <asp:TextBox id="txtFechaConciliacion" runat="server" CssClass="normalCamp"></asp:TextBox> 
						<asp:ImageButton id="ibtnFechaConciliacion" runat="server" ImageUrl="../App_Themes/SPE/img/icon-calendar.gif"></asp:ImageButton>
										<cc1:CalendarExtender id="calDel" runat="server" TargetControlID="txtFechaConciliacion" PopupButtonID="ibtnFechaConciliacion" Format="dd/MM/yyyy"></cc1:CalendarExtender>
				<cc1:MaskedEditExtender id="mdeDel" runat="server" TargetControlID="txtFechaConciliacion" MaskType="Date" Mask="99/99/9999" CultureName="es-PE"></cc1:MaskedEditExtender>
										</dd>
									</dl>
								</div>

										<asp:Label ID="lblMensaje" runat="server" CssClass="MensajeTransaccion"></asp:Label>          
		<asp:Panel ID="pnlFileUpLoad" runat="server" Visible="false">
			<asp:Label ID="lblUploadFile" CssClass="MensajeValidacion" runat="server" Text=""></asp:Label>
		</asp:Panel>

									  

							</div>
		<asp:ValidationSummary ID="ValidationSummary1" runat="server" />

							</contenttemplate>
							 </asp:updatepanel>
				<div class="izq btns4">
					<asp:Button ID="btnRegistrar" runat="server" CssClass="btnRegistrar"  Text="Conciliar" ValidationGroup="ValidaCampos" />
					<asp:Button ID="btnLimpiar" runat="server" CssClass="btnLimpiar" Text="Limpiar" />
				</div>
			</fieldset>
		</div>
		<div class="result">
									<asp:Panel ID="pnlConciliadas" runat="server" Cssclass="divContenedor" Visible="false">
			<%--<asp:Label ID="lblOperacionesConciliadas" runat="server" Text="Operaciones conciliadas" CssClass="divContenedorTitulo"></asp:Label>--%>
			<asp:GridView id="gvResultado" runat="server" CssClass="grilla" AutoGenerateColumns="False"   >
					<Columns>
						<asp:BoundField DataField="CIP"  HeaderText="Cod. Identif. Pago">
							<ItemStyle HorizontalAlign="Center" />
						</asp:BoundField>
						<asp:BoundField DataField="NumeroOperacion"  HeaderText="Nro Operación">
							<ItemStyle HorizontalAlign="Center" />
						</asp:BoundField>
						<asp:BoundField DataField="Observacion" HeaderText="Observación" >
							<ItemStyle HorizontalAlign="Center" />
						</asp:BoundField>
					</Columns>
				<HeaderStyle CssClass="cabecera"></HeaderStyle>
			</asp:GridView>               
		</asp:Panel> 
		</div>
	</div>
</div>
